<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>농작물 판매</title>

<link rel="stylesheet" href="/tui-grid/dist/tui-grid.css" type="text/css">
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농작물 판매</h4>
							<div class="breadcrumb__links">
								<a href="./index.html">농촌마켓</a> <span>농작물 판매</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->
		<div>
            <h3 class="text-center">농작물 판매</h3>
        </div>
		<!-- Shop Section Begin -->
		<section class="shop">
			<div class="container">
				<hr>
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">농촌마켓</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul>
														<li><a href="#">전원마켓</a></li>
														<li><b><a href="cropsSaleList" style="color: black;">농작물 판매</a></b></li>
														<li><a href="#">농작물 펀딩</a></li>
														<li><a href="#">경매장</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-10 col-md-10 col-sm-10">
									<div>
										<div class="row form-floating">
											<h6 class="col-lg-2" style="text-align: center; line-height: 45px;">상품 종류</h6>
											<select class="form-select form-group col-1.5"
												aria-label="Default select example">
												<option selected>전체</option>
												<option value="1">야채</option>
												<option value="2">과일</option>
												<option value="3">곡물</option>
											</select>
											<div class="col-7">
												<input type="email" class="form-control from-group"
													id="exampleFormControlInput" placeholder="상품명을 입력하세요">
											</div>
											<button type="button" class="btn btn-dark" style="width: 100px; height: 40px;">검색하기</button>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2">
									<div class="form-select">
										<select>
											<option value="">최신순</option>
											<option value="">가격높은순</option>
											<option value="">가격낮은순</option>
											<option value="">리뷰순</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6" th:each="cropsSale : ${csList}">
								<div class="product__item" th:onclick="|location.href='@{cropsSaleInfo(crpSaleNo=${cropsSale.crpSaleNo})}'|">
									<div class="product__item__pic set-bg"
										data-setbg="img/product/product-2.jpg">
										<ul class="product__hover">
											<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
										</ul>
									</div>
									<div class="product__item__text">
										<h6 th:text="${cropsSale.crpTitle}">상품명</h6>
										<a href="#" class="add-cart">+ Add To Cart</a>
										<p th:text="${cropsSale.price} + '원'">가격</p>
										<div class="rating">
											<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
												class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
												class="fa fa-star-o"></i>
											<p th:text="${#dates.format(cropsSale.regDate, 'yyyy/MM/dd')}" style="display: inline-block; margin-left: 120px;">등록날짜</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="product__pagination">
									<a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<button type="button" class="btn btn-dark" style="width: 130px; height: 40px; 
									float: right; margin-right: 30px; margin-bottom: 20px;">판매물품 등록</button>
							</div>
						</div>
					</div>
					<div id="grid"></div>
				</div>
			</div>
		</section>
		<!-- Shop Section End -->
		<script src="/tui-grid/dist/tui-grid.js"></script>
		<script>
		
	
			$.ajax({
				url : "cropsSaleData",
				method : "get",
				dataType : "JSON",
				success : function(result) {
					console.log(result)
					
					const grid = new tui.Grid({
						el: document.getElementById('grid'), // Container element
						data:result,
						scrollX : false,
						scrollY : false,
						columns: [
							{
							 header: 'crpSaleNo',
							 name: 'crpSaleNo'
							},
							{
							 header: 'crpTitle',
							 name: 'crpTitle'
							},
							{
							 header: 'price',
							 name: 'price'
							},
							{
							 header: 'img',
							 name: 'img'
							}
						]
					});
				
			 
				}
			});
	
</script>
	</div>
</body>
</html>