<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농작물 판매 상세 조회</title>
<link rel="stylesheet" href="/css/suinCss/review.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" type="text/css">
<style>
#reviewTable {
	width: 100%;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농작물 판매</h4>
							<div class="breadcrumb__links">
								<a>농촌마켓</a>
								<a href="cropsSaleList">농작물 판매</a>
								<span th:text="${csInfo.title}">상품명</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->
		<!-- Shop Details Section Begin -->
		<section class="product-details spad">
			<div class="container">
				<div class="row">
					<div class="row col-lg-12">
						<div class="col-lg-4 col-md-9">
							<div class="tab-content">
								<div class="tab-pane active" id="tabs-1" role="tabpanel">
									<div class="product__details__pic__item">
										<img th:src="${csInfo.rep}" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="product__details__content col-lg-8">
							<div class="container">
								<div class="row d-flex justify-content-center">
									<div class="col-lg-12">
										<div class="product__details__text">
											<div class="row">
												<h4 class="textLeft col-lg-9" th:text="${csInfo.title}" style="display: inline; text-align: left; font-size: 30px;">상품명</h4>
												<div th:if="not ${#strings.isEmpty(session.mem)}">
													<button type="button" class="btn btn-dark mr-2" style="width: 60px; height: 40px;" id="update" 
														th:if="${session.mem.memNo} == ${csInfo.memNo} or ${session.mem.memGrd == 'b0'}">수정</button>
													<button type="button" class="btn btn-dark" style="width: 60px; height: 40px;" id="delete" 
														th:if="${session.mem.memNo} == ${csInfo.memNo} or ${session.mem.memGrd == 'b0'}">삭제</button>
												</div>
											</div>
											<hr>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 25px;">가격</b> 
												<span th:text="${#numbers.formatInteger(csInfo.price, 3, 'COMMA')} + '원'" style="font-size: 20px;"></span>
											</p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">별점</b>
											(<span th:text="${reviewCount.count}">리뷰갯수</span>) [[${reviewCount.star}]]
												<span class="rating">
													<i class="fa fa-star" ></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</span>
											</p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 15px;">판매자</b> <span th:text="${csInfo.nick}">판매자닉네임</span></p>
											<div class="product__details__cart__option" th:if="not ${#strings.isEmpty(session.mem)}">
												<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">수량 </b>
													<span><input type="number" value="1" min="1" oninput="maxValue(this)" th:if="${session.mem.memNo} != ${csInfo.memNo}" 
														id="count" class="form-control" style=" width: 150px; display: inline;"></span>
													<span><input type="number" th:value="${csInfo.qty}" th:if="${session.mem.memNo} == ${csInfo.memNo}" 
														id="count" class="form-control" style=" width: 150px; display: inline;" readonly></span>
													<span>개</span>
												</p>
											</div>
											<th:block th:if="not ${#strings.isEmpty(session.mem)}">
												<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">총액</b> <span id="sumPrice"></span></p>
												<button type="button" class="btn btn-dark mr-2" style="width: 150px; float: left;" id="buy" th:if="${session.mem.memNo} != ${csInfo.memNo}">구매하기</button>
												<button type="button" class="btn btn-dark" style="width: 150px; float: left;" id="cart" th:if="${session.mem.memNo} != ${csInfo.memNo}">장바구니 담기</button>
											</th:block>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="product__details__tab">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#tabs-5" role="tab">상품 상세</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#tabs-6" role="tab">리뷰</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tabs-5" role="tabpanel">
									<div class="product__details__tab__content">
										<div class="product__details__tab__content__item"
											th:utext="${csInfo.detaDesct}">상세 설명</div>
									</div>
								</div>
								<div class="tab-pane" id="tabs-6" role="tabpanel">
									<div class="product__details__tab__content">
										<div class="product__details__tab__content__item">
											<div id="reviewArea">
												<!-- 리뷰 등록 폼 -->
												<div class="review-form">
													<div class="row1">
														<label for="star">별점:</label>
														<select id="star">
															<option value="5">★★★★★</option>
															<option value="4">★★★★☆</option>
															<option value="3">★★★☆☆</option>
															<option value="2">★★☆☆☆</option>
															<option value="1">★☆☆☆☆</option>
															<option value="0">☆☆☆☆☆</option>
														</select>
													</div>
													<div class="row1">
														<label for="reviewText">리뷰:</label>
														<textarea id="reviewText" rows="2" cols="30"></textarea>
														<input id="addBtn" type="submit" value="등록">
													</div>
												</div>
												<table id="reviewTable" class="table"
												style="text-align: center">
													<thead>
														<tr style="text-align: center">
															<th>번호</th>
															<th>별점</th>
															<th>내용</th>
															<th>작성자</th>
															<th>삭제</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Details Section End -->
		<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
		
		<script th:inline="javascript">
			// 데이터에 있는 수량보다 높게 입력하려고 했을 때 실행되는 함수
			function maxValue(Object) {
				let max = /*[[${csInfo.qty}]]*/
				if(Object.value > max) {
					alert('준비된 수량보다 많습니다!');
					Object.value = max;
				}
			}
			
			/*<![CDATA[*/
			let mem = /*[[${session.mem}]]*/;
			let boardNo = /*[[${csInfo.boardNo}]]*/;
			/*]]>*/
			
			// 구매하기 버튼 클릭 시
			$('#buy').on('click', function() {
				let boardCtg = /*[[${codeInfo}]]*/
				if(mem != null) {
					// 구매 페이지로 보낼 배열
					let productList = [];
					
					// 배열에 담을 구매 상품 정보 객체 생성
					let obj = {
							boardNo : boardNo,
							qty : $('#count').val(),
							boardCtg : boardCtg[7].cmmnDetaCode
					}
					
					// 배열에 객체 담기
					productList.push(obj);
					
					// 상품 객체 배열을 json 변환 후 결제 페이지로 파라미터를 보냄
					// (한글, 특수문자가 url 인코딩이 안되서 encodeURI 사용)
					location.href = "payment?productList=" + encodeURI(JSON.stringify(productList));
				} else {
					alert('회원만 이용할 수 있습니다. 로그인 해주세요');
					// 로그인이나 회원가입 페이지로 넘어가기
				}
			});
			
			// 장바구니 담기 버튼 클릭 시
			$('#cart').on('click', function() {
				let qty = $('#count').val();
				let boardCtg = /*[[${codeInfo}]]*/
				if(mem != null) {
					$.ajax({
						url : 'insertCart',
						data : {
							memNo : mem.memNo,
							qty : qty,
							boardNo : boardNo,
							boardCtg : boardCtg[7].cmmnDetaCode
						}
					})
				} else {
					alert('회원만 이용할 수 있습니다. 로그인 해주세요');
					// 로그인이나 회원가입 페이지로 넘어가기
				}
			});
			
			$(function() {
				getSumPrice();
			});
			
			$('#count').change(function() {
				getSumPrice();
			});
			
			function getSumPrice() {
				$('#sumPrice').text(priceToString((Number($('#count').val()) * Number([[${csInfo.price}]]))) + '원');
			}
			
			function priceToString(price) {
				return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			}
			// 수정 버튼 클릭 시
			$('#update').on('click', function() {
				location.href="cropsSaleUpdate?boardNo=" + boardNo;
			});
			// 삭제 버튼 클릭 시
			$('#delete').on('click', function() {
				console.log(boardNo);
				$.ajax({
					url : "cropsSaleDelete",
					method : "POST",
					data : 'boardNo=' + boardNo
				})
				.done(function(result) {
					console.log(result);
					location.href="cropsSaleList";
				})
				.fail(function(result) {
					alert(result);
				})
			});
			
			// 리뷰 리스트 조회
			$(function() {
				reviewAjax();
			});
			
			function reviewAjax() {
				$('#reviewTable>tbody').children().remove();
				$.ajax({
					url : "cropsSaleInfo/review",
					method : "GET",
					data : 'boardNo=' + boardNo,
					dataType : 'json'
				})
				.done(function(result) {
					console.log(result);
					printReview(result);
				})
				.fail(function(result) {
					alert(result);
				})
			}
			
			function printReview(list) {
				let data = list;
				
				// 데이터 테이블 생성
				$('#reviewTable').DataTable({
					destroy : true,
					language : lang_kor,
					searching : false,
					data : data,
					columns : [
						{
							data : 'num',
							orderable : true,
							render : function(data, type, row, meta) {
								return meta.row + 1;
							}
						},
						{
							data : 'rate',
							render : function(data, type, row) {
								return makeStars(data);
							}
						},
						{
							data : 'revDesct', width : '400px'
						},
						{
							data : 'nick',
							orderable : false
						},
						{
							data : 'button',
							orderable : false,
							render : function(data, type, row) {
								return '<button type="button" id="delBtn" class="form-control">삭제</button>';
							}
						},
						{
							data : 'revNo',
							render : function(data, type, row) {
								return '<span style="display: none;">' + data + '</span>';
							}
						}
					],
					autoWidth : false
				});
			}
			
			// 별찍기
			function makeStars(num) {
				let stars = '';
				for(let i=0; i<num; i++) {
					stars += '★';
				}
				for(let j=num; j<5; j++) {
					stars += '☆';
				}
				return stars;
			}
			
			// 데이터 테이블 한글 설정
			var lang_kor = {
		        "decimal" : "",
		        "emptyTable" : "데이터가 없습니다.",
		        "info" : "_START_ - _END_ (총 _TOTAL_ 개)",
		        "infoEmpty" : "0명",
		        "infoFiltered" : "(전체 _MAX_ 명 중 검색결과)",
		        "infoPostFix" : "",
		        "thousands" : ",",
		        "lengthMenu" : "_MENU_ 개씩 보기",
		        "loadingRecords" : "로딩중...",
		        "processing" : "처리중...",
		        "search" : "검색 : ",
		        "zeroRecords" : "검색된 데이터가 없습니다.",
		        "paginate" : {
		            "first" : "첫 페이지",
		            "last" : "마지막 페이지",
		            "next" : "다음",
		            "previous" : "이전"
		        },
		        "aria" : {
		            "sortAscending" : " :  오름차순 정렬",
		            "sortDescending" : " :  내림차순 정렬"
		        }
	    	};
			
			// 리뷰 등록 기능
			$('#addBtn').on('click', function() {
				if(mem == null) {
					alert('로그인이 필요한 시스템입니다.')
				} else {
					let star = $('#star').val();
					let text = $('#reviewText').val();
					let day = new Date();
					
					$.ajax({
						url : "cropsSaleInfo/review",
						method : "POST",
						data : {
							memNo : mem.memNo,
							rate : star,
							revDesct : text,
							boardNo : boardNo
						},
						dataType : 'json'
					})
					.done(function(result) {
						console.log(result);
						reviewAjax();
						// 작성한 리뷰 값 초기화
						$('#reviewText').val('');
						$('#star').val(5);
						$('#star').niceSelect('update');
					})
					.fail(function(result) {
						alert(result);
					})
				}
			})
		</script>
		
	</div>
</body>
</html>