<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농작물 판매 리스트 조회</title>
<link rel="stylesheet" href="/css/sungWookCss/sungook.css"
	type="text/css">
<style>
.rating-wrap{
    padding: 0px;
    display: flex;
}
.rating {
    display: flex;
    align-items: center;
    position: relative;
}
.star {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}
.starcolor{
    fill: #ff8844;
}
.star:last-of-type {
    margin-right: 0;
}
.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
@supports (mix-blend-mode: color) {
    .overlay{
        mix-blend-mode: color;
        opacity: unset;
    }
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농작물 판매</h4>
							<div class="breadcrumb__links">
								<a>농촌마켓</a> <span>농작물 판매</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->
		<div class="justify-content-center">
			<br>
			<h3 class="current text-center">농작물 판매</h3>
		</div>
		<!-- Shop Section Begin -->
		<section class="shop myMargin">
			<div class="container">
				<hr>
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">농촌마켓</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul>
														<li><a href="marketList">전원마켓</a></li>
														<li><b><a href="cropsSaleList"
																style="color: black;">농작물 판매</a></b></li>
														<li><a href="fundingList">농작물 펀딩</a></li>
														<li><a href="auctionList">경매장</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-10 col-md-10 col-sm-10">
									<div>
										<div class="row form-floating">
											<h6 class="col-lg-2"
												style="text-align: center; line-height: 45px;">상품 종류</h6>
											<select class="form-select form-group col-1.5"
												aria-label="Default select example" id="category">
												<option selected value="전체">전체</option>
												<option value="x0">야채</option>
												<option value="x1">과일</option>
												<option value="x2">곡물</option>
											</select>
											<div class="col-7">
												<input type="text" class="form-control from-group"
													id="search" placeholder="상품명을 입력하세요">
											</div>
											<button type="button" class="btn btn-dark"
												style="width: 100px; height: 40px;" id="searchButton">검색하기</button>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2">
									<div class="form-select">
										<select id="order">
											<option value="최신순">최신순</option>
											<option value="가격높은순">가격높은순</option>
											<option value="가격낮은순">가격낮은순</option>
											<option value="별점높은순">별점높은순</option>
											<option value="별점낮은순">별점낮은순</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="cropsSaleDiv">
							<!-- <div class="col-lg-4 col-md-6 col-sm-6" th:each="cropsSale : ${csList}">
								<div class="product__item" th:onclick="|location.href='@{cropsSaleInfo(crpSaleNo=${cropsSale.crpSaleNo})}'|">
									<div class="product__item__pic set-bg"
										data-setbg="img/product/product-2.jpg">
										<ul class="product__hover">
											<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
										</ul>
									</div>
									<div class="product__item__text">
										<h6 th:text="${cropsSale.crpTitle}">상품명</h6>
										<a href="#" class="add-cart">+ Add To Cart</a>
										<p th:text="${cropsSale.price} + '원'">가격</p>
										<div class="rating">
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<i class="fa fa-star-o"></i>
											<p th:text="${#dates.format(cropsSale.regDate, 'yyyy/MM/dd')}" style="display: inline-block; margin-left: 120px;">등록날짜</p>
										</div>
									</div>
								</div>
							</div> -->
						</div>
						<div class="row">
							<div class="col-lg-12" id="pageDiv">
								<!-- <div class="product__pagination">
									<a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
								</div> -->
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<button type="button" class="btn btn-dark"
									style="width: 130px; height: 40px; float: right; margin-right: 30px; margin-bottom: 20px;"
									id="add">판매물품 등록</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Section End -->

		<div class="col-lg-4 col-md-6 col-sm-6 hideItem" id="cropsSaleItem">
			<div class="product__item">
				<div class="product__item__pic set-bg" id="img"
					data-setbg="img/product/product-2.jpg"></div>
				<div class="product__item__text">
					<h5 id="name" style="font-size: small;">상품명</h5>
					<p id="price" style="margin-bottom: 0px;">가격</p>
					<div class="rating-wrap">
						<div class="rating">
							<div class="overlay"></div>						
						</div>
						<span>(리뷰갯수)</span>
					</div>
					<p id="date" style="text-align: right;">등록날짜</p>
				</div>
			</div>
		</div>

		<div class="product__pagination hideItem" id="pageItem">
			<a class="myInline" id="prevPage">&lt;</a>
			<div id="pageNumDiv" class="myInline">
				<a id="pageNum"></a>
			</div>
			<a class="myInline" id="nextPage">&gt;</a>
		</div>

		<script th:inline="javascript">
    		function starRate (avgRate, clone) {
				// 별 찍기
				const starSize = 30, maxStar = 5, gutter = 2;// 별 크기, 별 개수
		    	let maskMax = 0; // 오버레이 마스크 최대 너비
	    		
	            // 별 이미지 SVG 개수만큼 생성
	            for(let i = 0; i < maxStar; i++){
	                let el = document.createElement('div');
	                el.style.width = starSize + 'px';
	                el.style.height = starSize + 'px';
	                el.style.marginRight = gutter + 'px';
	                
	                // 인라인 SVG 이미지 부착
	                el.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="none" class="starcolor" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>';
	                $(clone).find('.rating').append(el);
	            }
	            
	            maskMax = parseInt(starSize * maxStar + gutter * (maxStar-1)); // 최대 마스크 너비 계산
	            setRating(avgRate); // 초기 별점 마킹
	            
	        	// 별점 마킹 함수
	            function setRating(val = 0){
	                $(clone).find('.overlay').css('width', parseInt(maskMax - val * starSize - Math.floor(val) * gutter) + 'px');// 마스크 크기 변경해서 별점 마킹
	            }	
    		}
			
			/*<![CDATA[*/
			let mem = /*[[${session.mem}]]*/;
			/*]]>*/
			
			// 등록 버튼 클릭 시
			$('#add').on('click', function() {
				if(mem != null) {
					if(mem.memGrd == 'b0' || mem.memGrd == 'b1') {
						location.href = "cropsSaleInsert";
					} else {
						alert('정회원 이상의 회원만 등록이 가능합니다.');
					}
				} else {
					alert('정회원 이상의 회원만 등록이 가능합니다.');
				}
			});
			// 페이지 로드
			$(function() {
				ajaxData(1)
			});
			// 리스트 불러오기
			function ajaxData(page, category, order, search) {
				$.ajax({
					url : 'cropsSaleList',
					type : 'POST',
					data : {
						pageNum : page,
						category : category,
						order : order,
						search : search
					}
				})
				.done(function(data, status, xhr) {
					printList(data);
				})
				.fail(function() {
					console.log('fail');
				});
			}
			// 리스트 출력 함수
			function printList(data) {
				$('#cropsSaleDiv').children().remove();
				$('#pageDiv').children().remove();
				let cropsSaleData = data.csList;
				let pageData = data.pageInfo;
				
				$(cropsSaleData).each(function(index, item) {
					printItem(item);
				})
				
				printPage(pageData);
			}
			// 리스트 생성 함수
			function printItem(item) {
				let clone = $('#cropsSaleItem').clone();
				$(clone).attr('id', ''); // 클론의 id를 삭제
				$(clone).removeClass('hideItem');
				starRate(item.rateAvg, clone);
				$(clone).find('#name').text(item.title);
				$(clone).find('#price').text(item.price + '원');
				$(clone).find('#date').text(item.regDate);
				$(clone).find('#img').css('background-image', 'url('+item.rep+')');
				$(clone).find('#img').css('cursor', 'pointer');
				
				$(clone).find('#img').on('click', function() {
					location.href = "cropsSaleInfo?boardNo=" + item.boardNo;
				});
				
				$('#cropsSaleDiv').append(clone);
			}
			// 페이지 생성 및 추가
			function printPage(pageData) {
				console.log(pageData);
				
				let pageItem = $('#pageItem').clone();
				$(pageItem).removeClass('hideItem');
				$(pageItem).find('#prevPage').on('click', function() {
					ajaxData(pageData.startPage - 1);
				});
				$(pageItem).find('#nextPage').on('click', function() {
					ajaxData(pageData.endPage + 1);
				});
				
				if(!pageData.prev) {
					$(pageItem).find('#prevPage').hide();
				}
				if(!pageData.next) {
					$(pageItem).find('#nextPage').hide();
				}
				
				for(let i = pageData.startPage; i <= pageData.endPage; i++) {
					let clone = $('#pageItem').find('#pageNum').clone();
					$(clone).text(i);
					if(i == pageData.pageNum) {
						$(clone).addClass('active');
						$(clone).css('border-color', 'orange');
					}
					$(clone).on('click', function() {
						getCondition(i);
					});
					$(pageItem).find('#pageNumDiv').append(clone);
				}
				
				$(pageItem).children().css('cursor', 'pointer');
				
				$(pageItem).find('#pageNum')[0].remove();
				$('#pageDiv').append(pageItem);
			}
			// 조건 변경 시 함수
			function getCondition(page) {
				let search = $('#search').val();
				let category = $('#category').val();
				let order = $('#order').val();
				if(page == null) {
					page = 1;
				}
				
				ajaxData(page, category, order, search);
			}
			// 검색 버튼 클릭 시
			$('#searchButton').on('click', function() {
				getCondition();
			});
			// 검색 창에서 엔터 클릭 시
			$('#search').keyup(function(event) {
				// console.log(event);
				if(event.keyCode == 13 || event.which == 13) {
					getCondition();
				}
			});
			// 카테고리 변경 시
			$('#category').change(function() {
				getCondition();
			});
			// 정렬 순서 변경 시
			$('#order').change(function() {
				getCondition();
			});
		</script>

	</div>
</body>
</html>