<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농작물 판매 등록</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="justify-content-center">
			<h3 class="current text-center">판매물품 등록</h3>
		</div>
		<!-- Shop Section Begin -->
		<section class="shop-details">
			<div class="product__details__pic" style="background-color: white;">
				<div class="container">
					<hr>
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div class="row col-lg-12">
									<div class="col-lg-4 col-md-9 row" id="addFile">
										<div class="col-lg-12" style="background-color: lightgrey; display: table;">
										<p style="display: table-cell; vertical-align: middle;">대표 이미지 등록</p>
										</div>
									</div>
									<div class="product__details__content col-lg-8">
										<div class="container">
											<div class="row d-flex justify-content-center">
												<div class="col-lg-12">
													<div class="product__details__text">
														<div class="row">
															<h4 class="textLeft col-lg-2" style="display: inline; text-align: center; line-height: 40px;">상품명</h4>
															<input type="text" class="form-control col-lg-6" name="crpTitle" style="display: inline;">
														</div>
														<hr>
														<div class="row">
															<p class="textLeft col-lg-2 mb-0" style="line-height: 40px;">상품 종류</p>
															<select class="form-select form-group col-1.5" name="crpCtg">
																<option selected value="전체">전체</option>
																<option value="야채">야채</option>
																<option value="과일">과일</option>
																<option value="곡물">곡물</option>
															</select>
														</div>
														<div class="row">
															<p class="textLeft col-lg-2 mb-0" style="line-height: 40px;">가격</p>
															<input type="number" class="form-control col-lg-6" id="price" value="0">
															<span style="margin-left: 10px; line-height: 50px;">원</span>
														</div>
														<div class="row">
															<p class="textLeft col-lg-2 mb-0" style="line-height: 40px;">수량</p>
															<input type="number" class="form-control col-lg-6" id="qty" value="1">
															<span style="margin-left: 10px; line-height: 50px;">개</span>
														</div>
														<div class="row" style="margin-bottom: 10px;">
															<p class="textLeft col-lg-2 mb-0" style="line-height: 40px;">총액</p>
															<span id="sumPrice" style="line-height: 40px;"></span>
														</div>
														<button type="submit" class="btn btn-dark" style="width: 150px; float: left; margin-right: 10px;">등록</button>
														<button type="button" class="btn btn-dark" style="width: 150px; float: left;">취소</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Section End -->
		
		<script>
			$(function() {
				getSumPrice();
			});
			
			$('#qty').change(function() {
				getSumPrice();
			});
			
			$('#price').change(function() {
				getSumPrice();
			});
			
			function getSumPrice() {
				$('#sumPrice').text(priceToString(Number($('#qty').val()) * Number($('#price').val())) + '원');
			}
			
			function priceToString(price) {
				return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			}
		</script>
		
	</div>
</body>
</html>