<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농작물 판매 상세 조회</title>
<link rel="stylesheet" href="/css/suinCss/review.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" type="text/css">
<style>
#reviewTable {
	width: 100%;
}
.rating-wrap{
    padding: 0px;
    display: flex;
}
.rating {
    display: flex;
    align-items: center;
    position: relative;
}
.star {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}
.starcolor{
    fill: #ff8844;
}
.star:last-of-type {
    margin-right: 0;
}
.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
@supports (mix-blend-mode: color) {
    .overlay{
        mix-blend-mode: color;
        opacity: unset;
    }
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농작물 판매</h4>
							<div class="breadcrumb__links">
								<a>농촌마켓</a>
								<a href="/cropsSaleList">농작물 판매</a>
								<span th:text="${csInfo.title}">상품명</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->
		<!-- Shop Details Section Begin -->
		<section class="product-details spad">
			<div class="container">
				<div class="row">
					<div class="row col-lg-12">
						<div class="col-lg-4 col-md-9">
							<div class="tab-content">
								<div class="tab-pane active" id="tabs-1" role="tabpanel">
									<div class="product__details__pic__item">
										<img th:src="${csInfo.rep}" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="product__details__content col-lg-8">
							<div class="container">
								<div class="row d-flex justify-content-center">
									<div class="col-lg-12">
										<div class="product__details__text">
											<div class="row">
												<h4 class="textLeft col-lg-9" th:text="${csInfo.title}" style="display: inline; text-align: left; font-size: 30px;">상품명</h4>
												<div th:if="not ${#strings.isEmpty(session.mem)}">
													<button type="button" class="btn btn-dark mr-2" style="width: 60px; height: 40px;" id="update" 
														th:if="${session.mem.memNo} == ${csInfo.memNo} or ${session.mem.memGrd == 'b0'}">수정</button>
													<button type="button" class="btn btn-dark" style="width: 60px; height: 40px;" id="delete" 
														th:if="${session.mem.memNo} == ${csInfo.memNo} or ${session.mem.memGrd == 'b0'}">삭제</button>
												</div>
											</div>
											<hr>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 25px;">가격</b> 
												<span th:text="${#numbers.formatInteger(csInfo.price, 3, 'COMMA')} + '원'" style="font-size: 20px;"></span>
											</p>
											<p style="margin-bottom: 0px; text-align: left;"><b style="font-size: 20px;">별점</b>
											(리뷰갯수 <span th:text="${reviewCount.count}">리뷰갯수</span> 개)
												<span class="rating-wrap">
										    		<span class="rating">
										    			<span class="overlay"></span>
										    		</span>
										        </span>
											</p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 15px;">판매자</b> <span th:text="${csInfo.nick}">판매자닉네임</span></p>
											<div class="product__details__cart__option" th:if="not ${#strings.isEmpty(session.mem)}">
												<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">수량 </b>
													<span><input type="number" value="1" min="1" oninput="maxValue(this)" th:if="${session.mem.memNo} != ${csInfo.memNo}" 
														id="count" class="form-control" style=" width: 150px; display: inline;"></span>
													<span><input type="number" th:value="${csInfo.qty}" th:if="${session.mem.memNo} == ${csInfo.memNo}" 
														id="count" class="form-control" style=" width: 150px; display: inline;" readonly></span>
													<span>개</span>
												</p>
											</div>
											<th:block th:if="not ${#strings.isEmpty(session.mem)}">
												<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">총액</b> <span id="sumPrice"></span></p>
												<button type="button" class="btn btn-dark mr-2" style="width: 150px; float: left;" id="buy" th:if="${session.mem.memNo} != ${csInfo.memNo}">구매하기</button>
												<button type="button" class="btn btn-dark" style="width: 150px; float: left;" id="cart" th:if="${session.mem.memNo} != ${csInfo.memNo}">장바구니 담기</button>
											</th:block>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="product__details__tab">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#tabs-5" role="tab">상품 상세</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#tabs-6" role="tab">리뷰</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tabs-5" role="tabpanel">
									<div class="product__details__tab__content">
										<div class="product__details__tab__content__item"
											th:utext="${csInfo.detaDesct}">상세 설명</div>
									</div>
								</div>
								<div class="tab-pane" id="tabs-6" role="tabpanel">
									<div class="product__details__tab__content">
										<div class="product__details__tab__content__item">
											<div id="reviewArea">
												<!-- 리뷰 등록 폼 -->
												<div class="review-form">
													<div class="row1">
														<label for="star">별점:</label>
														<select id="star">
														</select>
													</div>
													<div class="row1">
														<label for="reviewText">리뷰:</label>
														<textarea id="reviewText" rows="2" cols="30"></textarea>
														<input id="addBtn" type="submit" value="등록">
													</div>
												</div>
												<table id="reviewTable" class="table"
												style="text-align: center">
													<thead>
														<tr style="text-align: center">
															<th>번호</th>
															<th>별점</th>
															<th>내용</th>
															<th>작성자</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Details Section End -->
		<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
		<script th:inline="javascript">
			// 별 찍기
			const starSize = 30, maxStar = 5, gutter = 2;// 별 크기, 별 개수
        	let maskMax = 0; // 오버레이 마스크 최대 너비
        	window.addEventListener('DOMContentLoaded',()=>{
	        	let star = /*[[${reviewCount.star}]]*/
        		
	            // 별 이미지 SVG 개수만큼 생성
	            for(let i = 0;i < maxStar;i++){
	                let el = document.createElement('div');
	                el.style.width = starSize + 'px';
	                el.style.height = starSize + 'px';
	                el.style.marginRight = gutter + 'px';
	                
	                // 인라인 SVG 이미지 부착
	                el.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="none" class="starcolor" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>';
	                document.querySelector('.rating').appendChild(el);
	            }
	            
	            maskMax = parseInt(starSize * maxStar + gutter * (maxStar-1)); // 최대 마스크 너비 계산
	            setRating(star); // 초기 별점 마킹
	            
            	// 별점 마킹 함수
	            function setRating(val = 0){
	                document.querySelector('.overlay').style.width = parseInt(maskMax - val * starSize - Math.floor(val) * gutter) + 'px';// 마스크 크기 변경해서 별점 마킹
	            }
        	})
			
			// 데이터에 있는 수량보다 높게 입력하려고 했을 때 실행되는 함수
			function maxValue(Object) {
				let max = /*[[${csInfo.qty}]]*/
				if(Object.value > max) {
					alert('준비된 수량보다 많습니다!');
					Object.value = max;
				}
			}
			
			/*<![CDATA[*/
			let mem = /*[[${session.mem}]]*/;
			let boardNo = /*[[${csInfo.boardNo}]]*/;
			/*]]>*/
			
			// 구매하기 버튼 클릭 시
			$('#buy').on('click', function() {
				let boardCtg = /*[[${codeInfo}]]*/
				if(mem != null) {
					// 구매 페이지로 보낼 배열
					let productList = [];
					
					// 배열에 담을 구매 상품 정보 객체 생성
					let obj = {
							boardNo : boardNo,
							qty : $('#count').val(),
							boardCtg : boardCtg[7].cmmnDetaCode
					}
					
					// 배열에 객체 담기
					productList.push(obj);
					
					// 상품 객체 배열을 json 변환 후 결제 페이지로 파라미터를 보냄
					// (한글, 특수문자가 url 인코딩이 안되서 encodeURI 사용)
					location.href = "/payment?productList=" + encodeURI(JSON.stringify(productList));
				} else {
					alert('회원만 이용할 수 있습니다. 로그인 해주세요');
					// 로그인이나 회원가입 페이지로 넘어가기
				}
			});
			
			// 장바구니 담기 버튼 클릭 시
			$('#cart').on('click', function() {
				let qty = $('#count').val();
				let boardCtg = /*[[${codeInfo}]]*/
				if(mem != null) {
					$.ajax({
						url : '/add/insertCart',
						data : {
							memNo : mem.memNo,
							qty : qty,
							boardNo : boardNo,
							boardCtg : boardCtg[7].cmmnDetaCode
						}
					})
					.done(function() {
						location.href = "/cart?memNo=" + mem.memNo;
					})
				} else {
					alert('회원만 이용할 수 있습니다. 로그인 해주세요');
					// 로그인이나 회원가입 페이지로 넘어가기
				}
			});
			
			$(function() {
				getSumPrice();
			});
			
			$('#count').change(function() {
				getSumPrice();
			});
			
			function getSumPrice() {
				$('#sumPrice').text(priceToString((Number($('#count').val()) * Number([[${csInfo.price}]]))) + '원');
			}
			
			function priceToString(price) {
				return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			}
			// 수정 버튼 클릭 시
			$('#update').on('click', function() {
				location.href="/update/cropsSaleUpdate?boardNo=" + boardNo;
			});
			// 삭제 버튼 클릭 시
			$('#delete').on('click', function() {
				console.log(boardNo);
				$.ajax({
					url : "/cropsSaleDelete",
					method : "POST",
					data : 'boardNo=' + boardNo
				})
				.done(function(result) {
					console.log(result);
					location.href="/cropsSaleList";
				})
				.fail(function(result) {
					alert(result);
				})
			});
			
			// 리뷰 리스트 조회
			$(function() {
				reviewAjax();
			});
			
			function reviewAjax() {
				$('#reviewTable>tbody').children().remove();
				$.ajax({
					url : "/cropsSaleInfo/review",
					method : "GET",
					data : 'boardNo=' + boardNo,
					dataType : 'json'
				})
				.done(function(result) {
					console.log(result);
					printReview(result);
				})
				.fail(function(result) {
					alert(result);
				})
			}
			
			function printReview(list) {
				let data = list.reverse();
				
				// 데이터 테이블 생성
				$('#reviewTable').DataTable({
					destroy : true,
					language : lang_kor,
					searching : false,
					lengthMenu : [5, 10, 15, 20], // 표시 건수 지정
					//displayLength : 10, // 기본 표시 건수 지정(정하지않으면 제일 처음 지정한 표시 건수로 나옴)
					data : data,
					columns : [
						{
							data : 'num',
							width : '15%',
							orderable : true,
							render : function(data, type, row, meta) {
								return meta.row + 1;
							}
						},
						{
							data : null,
							width : '15%',
							render : function(data, type, row) {
								return makeStars(row.rate) + '<span style="display: none">' + row.rate + '</span><br>' + formatDate(row.wrtDate);
							}
						},
						{
							data : null,
							render : function(data, type, row) {
								return row.revDesct + '<span class="revData" style="display: none" data-memNo=' + row.memNo + ' data-revNo=' + row.revNo + '></span>';
							}
						},
						{
							data : 'nick',
							width : '15%',
							orderable : false
						},
						{
							data : 'button',
							width : '10%',
							orderable : false,
							render : function(data, type, row) {
								return '<button type="button" id="delBtn" class="form-control">삭제</button>';
							}
						}
					],
					autoWidth : false
				});
			}
			
			// 별찍기
			function makeStars(num) {
				let stars = '';
				for(let i=0; i<num; i++) {
					stars += '<i class="fa fa-star"></i>';
				}
				for(let j=num; j<5; j++) {
					stars += '<i class="fa fa-star-o"></i>';
				}
				return stars;
			}
			
			//리뷰 별점 선택(select - option)
			let starSelect = $('#star');

			for (let i = 5; i >= 1; i--) {
				let option = $('<option />');
			    option.val(i);
			    option.text(`${makeStars(i)} (${i}점)`);
			    starSelect.append(option);
			    $('#star').niceSelect('update');
			}
			
			//리뷰 - 날짜포맷변경 
			function formatDate(dateString) {
			  const date = new Date(dateString);
			  const year = date.getFullYear();
			  const month = String(date.getMonth() + 1).padStart(2, '0');
			  const day = String(date.getDate()).padStart(2, '0');
			  return `(${year}/${month}/${day})`;
			}
			
			// 데이터 테이블 한글 설정
			var lang_kor = {
		        "decimal" : "",
		        "emptyTable" : "데이터가 없습니다.",
		        "info" : "_START_ - _END_ (총 _TOTAL_ 개)",
		        "infoEmpty" : "0명",
		        "infoFiltered" : "(전체 _MAX_ 명 중 검색결과)",
		        "infoPostFix" : "",
		        "thousands" : ",",
		        "lengthMenu" : "_MENU_ 개씩 보기",
		        "loadingRecords" : "로딩중...",
		        "processing" : "처리중...",
		        "search" : "검색 : ",
		        "zeroRecords" : "검색된 데이터가 없습니다.",
		        "paginate" : {
		            "first" : "첫 페이지",
		            "last" : "마지막 페이지",
		            "next" : "다음",
		            "previous" : "이전"
		        },
		        "aria" : {
		            "sortAscending" : " :  오름차순 정렬",
		            "sortDescending" : " :  내림차순 정렬"
		        }
	    	};
			
			// 리뷰 등록 기능
			$('#addBtn').on('click', function() {
				if(mem == null) {
					return alert('로그인이 필요한 시스템입니다.');
				} else if($('#star').val == '0') {
					return alert('별점을 선택하세요')
				} else if($('#reviewText').val() == '') {
					
				} else {
					let star = $('#star').val();
					let text = $('#reviewText').val();
					let day = new Date();
					
					$.ajax({
						url : "/cropsSaleInfo/reviewInsert",
						method : "POST",
						data : {
							memNo : mem.memNo,
							rate : star,
							revDesct : text,
							boardNo : boardNo
						},
						dataType : 'json',
						success : function(result) {
							console.log(result);
							reviewAjax();
							// 작성한 리뷰 값 초기화
							$('#reviewText').val('');
							$('#star').val(5);
							$('#star').niceSelect('update');
						},
						error : function(error) {
							console.log(error);
						}
					})
				}
			})
			
			//리뷰 삭제 기능	
			$('#reviewTable').on('click', '#delBtn', function() {
				const rowData = $(this).closest('tr');
				console.log(rowData)
				const revMem = rowData.find('.revData').data('memno');
				console.log(revMem);
				const revNo = rowData.find('.revData').data('revno');
				console.log(revNo);
				if(mem == null) {
					alert('삭제할 수 없습니다.');
				} else if(revMem == mem.memNo) {
					let confirmDelete = confirm("리뷰를 삭제하시겠습니까?");
					if(confirmDelete) {
						console.log("리뷰 삭제 번호 : ", revNo);
						
						$.ajax({
							url: 'cropsSaleInfo/reviewDelete',
							method: 'POST',
							data: {
								revNo: revNo
							},
							success: function (result) {
								rowData.remove();
								console.log("리뷰 삭제 결과 : ", result);
					        },
					        error: function (error) {
					        	console.log("리뷰 삭제 오류 : ", error);
					        }
					    });
					} else {
						alert("삭제 취소");
					}
				} else {
					alert('작성자만 삭제 가능합니다.');
				}
			});
		</script>
	</div>
</body>
</html>