<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Male_Fashion Template">
	<meta name="keywords" content="Male_Fashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>upgrade</title>
			<!-- Css Styles -->
		<link rel="stylesheet" href="/css/jquery/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/otherPlugins/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
		<link rel="stylesheet" href="/css/jquery/magnific-popup.css" type="text/css">
		<link rel="stylesheet" href="/css/jquery/nice-select.css" type="text/css">
		<link rel="stylesheet" href="/css/jquery/owl.carousel.min.css" type="text/css">
		<link rel="stylesheet" href="/css/jquery/slicknav.min.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<link rel="stylesheet" href="/css/jquery/jQueryUI.css">
		<link rel="stylesheet" href="/css/otherPlugins/sweetAlert.css" type="text/css">
		<!-- Js Plugins -->
		<script src="/js/jquery/jquery-3.3.1.min.js"></script>
		<script src="/js/jquery/bootstrap.min.js"></script>
		<script src="/js/jquery/jquery.nice-select.min.js"></script>
		<script src="/js/jquery/jquery.nicescroll.min.js"></script>
		<script src="/js/jquery/jquery.magnific-popup.min.js"></script>
		<script src="/js/jquery/jquery.countdown.min.js"></script>
		<script src="/js/jquery/jquery.slicknav.js"></script>
		<script src="/js/jquery/mixitup.min.js"></script>
		<script src="/js/jquery/owl.carousel.min.js"></script>
		<script src="/js/jquery/json.min.js"></script>
		<script src="/js/jquery/jqueryUI.js"></script>
		<script src="/js/otherPlugins/sweetAlert2-11.4.10.js"></script>
	<!-- dataTable -->
	<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" type="text/css">
	<style type="text/css">
	table.dataTable tbody td {
		  vertical-align: middle;
		}
		table.dataTable thead th {
		 text-align: center;
}
	</style>
</head>

<body>
	<hr>
	<!-- Shop Details Section Begin -->
	<section class="shop-details">
		<div class="product__details__pic" style="background-color: white;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3>신청내역</h3>
						<p th:text="${applyList[0].title}">제목</p>
						<hr>
					</div>
					<div class="col-lg-12">
						<table id="myTable" class="table">
							<thead>
								<tr>
									<th>번호</th>
									<th>신청자</th>
									<th>연락처</th>
									<th>신청인원</th>
									<th>처리</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="not ${#strings.isEmpty(applyList[0].nick)}">
									<tr th:each="apply : ${applyList}" th:data-aplNo="${apply.aplNo}" th:data-boardNo="${apply.boardNo}" th:data-memNo="${apply.memNo}">
										<td th:text="${apply.aplNo}"></td>
										<td th:text="${apply.nick}"></td>
										<td th:text="${apply.mbl}"></td>
										<td th:text="${apply.aplPer}"></td>
										<td th:if="${not #strings.equals(apply.regStts, '대여 종료')} and ${not #strings.equals(apply.aplStts, '신청 거절')}" class="stts">
											<button type="button" class="form-control accept">수락</button>
											<button type="button" class="form-control refuse">거절</button>
										</td>
										<td th:if="${#strings.equals(apply.regStts, '대여 종료')} or ${#strings.equals(apply.aplStts, '신청 거절')}" th:text="${apply.aplStts}"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:inline="javascript">

		// dataTables
		$(function () {
			$('#myTable').DataTable({
				language : lang_kor,
				columnDefs: [{width: "10%",targets: 0,orderable: true,
			        render: function (data, type, row, meta) {
				          // meta.row는 0부터 시작하는 행의 인덱스입니다.
				          return meta.row + 1;
				            }}
							],
				lengthMenu : [5,10]
			});
		})

		// 한글 설정
		var lang_kor = {
        "decimal" : "",
        "emptyTable" : "데이터가 없습니다.",
        "info" : "_START_ - _END_ (총 _TOTAL_ 개)",
        "infoEmpty" : "0명",
        "infoFiltered" : "(전체 _MAX_ 명 중 검색결과)",
        "infoPostFix" : "",
        "thousands" : ",",
        "lengthMenu" : "_MENU_ 개씩 보기",
        "loadingRecords" : "로딩중...",
        "processing" : "처리중...",
        "search" : "검색 : ",
        "zeroRecords" : "검색된 데이터가 없습니다.",
        "paginate" : {
            "first" : "첫 페이지",
            "last" : "마지막 페이지",
            "next" : "다음",
            "previous" : "이전"
        },
        "aria" : {
            "sortAscending" : " :  오름차순 정렬",
            "sortDescending" : " :  내림차순 정렬"
        }
    };

		//수락 버튼 클릭 시
		$('.accept').on('click',function(e){
			let stts = $(e.target).closest('tr').find('.stts')
			let boardNo =  $(e.target).closest('tr').data('boardno')
			let aplNo = $(e.target).closest('tr').data('aplno');
			let memNo = $(e.target).closest('tr').data('memno');
			let title = /*[[${applyList[0].title}]]*/
			$.ajax({
				url : "/myPage/myExpStts",
				data : {
					boardNo : boardNo ,
					aplNo : aplNo,
					memNo : memNo,
					title : title
				}
			})
			.done(function(){
				new swal({
            		title: "처리가 완료되었습니다",
            		icon : "success",
            		confirmButtonColor: '#95D083'		
            })	
				$('.stts').empty();
				$('.stts').append('신청 거절');
				$(stts).empty() 
				$(stts).append('승인 완료')
			}).fail(function(){
				new swal({
            		title: "fail",
            		icon : "error",
            		confirmButtonColor: '#95D083'		
            })	
			})
		})

		//거절 버튼 클릭 시
		$('.refuse').on('click',function(e){
			let stts = $(e.target).closest('tr').find('.stts')
			$.ajax({
				url : "/myPage/myExpApplyStts",
				data : {
					aplNo : $(e.target).closest('tr').data('aplno')
				}
			})
			.done(function(){
				new swal({
            		title: "처리가 완료되었습니다",
            		icon : "success",
            		confirmButtonColor: '#95D083'		
            })	
				$(stts).empty() 
				$(stts).append('신청 거절')
			}).fail(function(){
				new swal({
            		title: "fail",
            		icon : "error",
            		confirmButtonColor: '#95D083'		
            })	
			})
		})

	</script>
</body>

</html>