<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Market, Auction">
<meta name="keywords" content="Auction">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>이벤트 등록</title>
<style>
.hidden {
	display: none;
}

h4 {
	font-weight: bold;
}
.ck-editor__editable {
			height: 400px;
		}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>유귀농 이벤트</h4>
							<div class="breadcrumb__links">
								<span>유귀농의 각종 이벤트를 놓치지 마세요 !</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->
		<section class="blog-hero spad" style="background-color: white;">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-9 text-center">
						<div class="blog__hero__text">
							<input class="hidden" name="postCtg">
							<h4>게시글 등록</h4>
						</div>
						<hr>
						<div class="row col-lg-12">
							<div class="col-lg-4 col-md-9" id="addFile">
								<div class="col-lg-12"
									style="background-color: lightgrey; display: table; height: 250px;">
									<p style="display: table-cell; vertical-align: middle">이미지
										등록</p>
								</div>
							</div>
							<div class="product__details__content col-lg-8">
								<form id="myForm">
									<!-- 실제 파일 업로드 input (안보임) -->
									<input type="file" id="inputFile" class="hidden">
									<!-- 지역1 선택창 -->
									<div class="col-4">
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" name="dst1" id="dst1">
											<option value="" selected="selected">도</option>
											<option th:each="opt : ${dst1}" th:text="${opt.codeDesct}"
												th:value="${opt.cmmnDetaCode}"></option>
										</select>
									</div>
									<!-- 지역2 선택창 -->
									<div class="col-4">
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" name="dst2" id="dst2">
											<option value="">시·군</option>
										</select>
									</div>
									<span>제목 <input type="text" class="form-control"
										name="title"></span> <span>작성자 <input type="text"
										class="form-control col-lg-6 hidden" readonly="readonly"
										th:value="${session.mem.memNo}" name="memNo"> <input
										type="text" class="form-control" readonly="readonly"
										th:value="${session.mem.nick}">
									</span>
								</form>
							</div>
						</div>
						<hr>
						<div class="row col-lg-12">
							<div class="col-lg-12">
								<div class="row">
									<div class="tab-content col-lg-12">
										<div class="product__details__tab__content">
											<p>내용</p>
											<div>
												<textarea name="text" id="editor"></textarea>
											</div>
										</div>
									</div>
								</div>
								<br>
								<div class="product__details__cart__option row"
									style="margin-top: 40px;">
									<button class="primary-btn col-lg-12"
										style="color: white; margin: 0 auto; margin-top: 20px;"
										id="addBtn">등록하기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script>
		$(function(){
			dstList('0K');
		})
		
		function dstList(dst1){
			$.ajax({
				url: "getCode",
				method: "GET",
				data: {
					dst1
				},
				success(data){
					console.log(data.dst2);
					
					// 지역2 select box 출력
 					if(data.dst2) {
						$('#dst2').empty();
						$('#dst2').append(`<option value="">시·군</option>`);
						$(data.dst2).each((idx, item) => {
							if(item.cmmnDetaCode == dst2){
								$('#dst2').append(`<option value="${item.cmmnDetaCode}" selected>${item.codeDesct}</option>`)
							}else {
								$('#dst2').append(`<option value="${item.cmmnDetaCode}">${item.codeDesct}</option>`)
							}
						});
						$('#dst2').niceSelect('update');
						$('#dst2').niceScroll();
					} 
				}
			})
			
			// 조건 값 변경 시 컨트롤 정보 보내기
			function getCondition(){
				let dst1 = $('#dst1').val();
				let dst2 = $('#dst2').val();

				dstList(dst1);
			}
			
			// 지역1 카테고리 변경 시
			$('#dst1').change(function() {
				getCondition();
			});
			
		}
	
		//첨부파일 가져오기
		$('#addFile').on('click', function () {
			$('#inputFile').click()
		})
		
		let dbPath;
	
		//첨부파일 업로드
		$('#inputFile').change(function () {
			var formData = new FormData(); //FormData 객체 생성
	
			var inputFile = $("input[type='file']")
			//input 태그의 type이 file인 것을 찯아서 inputFile 이라는 변수로 지정
	
			var files = inputFile[0].files;
			// files : 선택한 모든 파일을 나열하는 FileList 객체입니다 multiple 특성을 지정하지 않았다면 두 개 이상의 파일을
			// 포함하지 않습니다
	
			for (var i = 0; i < files.length; i++) {
				console.log(files[i]);
				if (files[i].type.includes('image')) {
					formData.append("uploadFiles", files[i]); //키,값으로 append
	
					$.ajax({
						url: 'uploadsAjax',
						type: 'POST',
						processData: false, // 기본값은 true, ajax 통신을 통해 데이터를 전송할때, 기본적으로 key와 value 값을 Query String으로 변환해서 보내줌
						contentType: false, // multipart/form-data 타입을 사용하기위해 false로 지정
						data: formData,
						success: function (result) {
							console.log(result)
							dbPath = result.dbPath
							$('#addFile')
								.html('<img src="' + result.loadPath + '">')
							console.log(dbPath)
	
						},
						error: function (reject) {
							console.log(reject)
						}
					})
				} else {
					alert('이미지만 등록 가능합니다')
				}
			}
	
		})	
	
		//ckEditor 생성
		let editor;
		ClassicEditor
			.create(document.querySelector('#editor'), {
				language: "ko",
				ckfinder: {
					uploadUrl: '/image/upload'
				}
			})
			.then(newEditor => {
				editor = newEditor;
			})
			.catch(error => {
				console.error(error);
			});

		//ckEditor 데이터 가져오기
		$('#addBtn').on('click', function () {
	
			//데이터 입력 확인
			if (!$('[name="title"]').val()) {
				alert('제목을 입력하세요');
				return;
			} else {
				let ckData = editor
				let formData = $('#myForm').serializeObject();
				formData.postCtg = 'i4';
				formData.memNo = $('[name="memNo"]').val();
	
				//상세 설명 존재하지 않을 시 출력 내용 설정
				if (ckData.getData() == '') {
					ckData.setData('<p>상세 설명이 존재하지 않습니다</p>')
					formData.desct = ckData.getData()
				} else {
					formData.desct = ckData.getData()
				}
				formData.img = dbPath
				console.log(formData);
				
				//ajax 이벤트 등록
				$.ajax({
						url: "addEvent",
						method: "POST",
						data: formData
					})
					.done(function (result) {
						alert(result.retCode);
						location.href = "eventList"
					})
					.fail(function (result) {
						alert(result.body);
						// location.href = "auctionList"
					}) 
			}
		})
	</script>
	</div>
</body>
</html>