<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Male_Fashion Template">
  <meta name="keywords" content="Male_Fashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>유귀농 게시판</title>
</head>

<body>
  <div layout:fragment="content">
    <script src="js/vue/Vue3.3.4.js"></script>
    <script src="js/vue/Vue-router4.js"></script>
    <script src="js/vue/vue3-sfc-loader.js"></script>
    <script src="js/vue/Vue-load.js"></script>
    <script src="js/vue/Vuex4.js"></script>
    <script src="js/board/boardRouter.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" type="text/css">
      <!-- Breadcrumb Section Begin -->
      <section class="breadcrumb-option">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="breadcrumb__text">
                <h4>유귀농 게시판</h4>
                <div class="breadcrumb__links">
                  <span>공지사항, 커뮤니티, 이벤트 카테고리에서 알찬 정보를 쏙쏙!</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Breadcrumb Section End -->

    <div id="app">
      <!-- Shop Section Begin -->
      <section class="shop spad">
        <div class="container">
          <div class="row">
            <!-- Side Bar Begin-->
            <div class="col-lg-3">
              <div class="shop__sidebar">
                <div class="shop__sidebar__accordion">
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseOne">게시판</a>
                      </div>
                      <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                          <div class="shop__sidebar__categories">
                            <ul class="nice-scroll">
                              <li>
                                <router-link to="/" class="nav-link check myBlack" aria-current="page" id="notice">공지사항
                                </router-link>
                              </li>
                              <li>
                                <router-link to="/community" class="nav-link check" aria-current="page">커뮤니티
                                </router-link>
                              </li>
                              <li>
                                <router-link to="/event" class="nav-link check" aria-current="page">이벤트</router-link>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Side Bar End -->
            <router-view></router-view>
          </div>
        </div>
      </section>
      <!-- Shop Section End -->
    </div>
    <script th:inline="javascript">
      //vuex
      const {
    	  createStore
      } = Vuex

      //vuex 객체
      const board = createStore({
        state() {
          return {
            mem: /*[[${session.mem}]]*/
          }
        },
        getters: {
        	getMemNo(state){
        		return state.mem.memNo;
        	}
        }
      })

      const {
        createApp
      } = Vue;
      createApp({
          data() {
            return {}
          },
          methods: {}
        }).use(router)
        .use(board) //vuex 객체 연결
        .mount('#app'); //use(router 객체 이름)
    </script>
  </div>
</body>


</html>