<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Market, Auction">
<meta name="keywords" content="Auction">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>커뮤니티</title>
<style>
.center {
	text-align: center;
}

.nice-select {
	width: 149px;
}
#dst1Div {
	margin-left: 30px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>유귀농 커뮤니티</h4>
							<div class="breadcrumb__links">
								<span>전국 각 도의 유귀농인들과 함께 소통해보아요 !</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">유귀농
												게시판</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="/noticeList">공지사항</a></li>
														<li><a href="/communityList" style="color: black;">커뮤니티</a></li>
														<li><b><a href="/eventList">이벤트</a></b></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row col-lg-9">
						<div class="col-lg-12 col-md-12 col-sm-12" style="margin-left: 0;">
							<div class="row">
								<div class="col-lg-9 col-md-2"></div>
								<!-- 지역1 선택창 -->
								<div class="col-1" id="dst1Div">
									<select class="form-select form-group col-1.5 mr-2"
										aria-label="Default select example" id="dst1">
										<option value="" selected="selected">도 전체</option>
										<option th:each="opt : ${dst1}" th:text="${opt.codeDesct}"
											th:value="${opt.cmmnDetaCode}"></option>
									</select>
								</div>
							</div>
							<div class="shopping__cart__table" style="margin-bottom: 0px;">
								<table id="myTable" class="center">
									<thead>
										<tr class="center">
											<th class="">순번</th>
											<th class=""></th>
											<th class="col-lg-6">제목</th>
											<th class="">작성자</th>
											<th class="">작성일</th>
											<th class="">조회수</th>
											<th class="">추천수</th>
										</tr>
									</thead>
									<tbody id="cmmnList">
									</tbody>
								</table>
								<br>
							</div>
							<th:block th:if="not ${#strings.isEmpty(session.mem)}">
								<div class="row"
									th:if="${session.mem.memGrd == 'b1' or session.mem.memGrd == 'b0'}">
									<div class="col-lg-11"></div>
									<button type="button" class="btn btn-success"
										th:onclick="'location.href=\''+ @{${'/add/Cmmn'}} + '\''">등록</button>
								</div>
							</th:block>
							<div class="row center">
								<div class="col-lg-12" id="pageDiv"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- pageDiv Clone용-->
		<div class="product__pagination" style="display: none;" id="pageItem">
			<a class="myInline" id="prevPage">◁</a>
			<div id="pageNumDiv" class="myInline">
				<a id="pageNum">a</a>
			</div>
			<a class="myInline" id="nextPage">▷</a>
		</div>

		<script th:inline="javascript">
			// 세션 정보
			let mem;
			/*<![CDATA[*/
			let bool= [[${not #strings.isEmpty(session.mem)}]];
			if(bool){
				mem = [[${session.mem}]]		
			}
			/*]]>*/
		
			let dst1 = '';
		
			$(function(){
				boardData('i3', 1);
			})
			
			// 이벤트 리스트 데이터 가져오기
			function boardData(postCtg, pageNum, dst1){
				$.ajax({
					url: "/boardList",
					method: "GET",
					data: {
                        postCtg,
						pageNum,
						dst1
					},
					success(data){
						console.log(data);
						console.log(dst1);
						printList(data, dst1);
					},
					error(reject){
						console.log(reject);
					}
				})
			}
				
			// 리스트 출력
			function printList(data, dst1){
				$('#cmmnList').empty();
				$('#pageDiv').children().remove();
				
				let cmmnData = data.boardList;
				let pageData = data.pageInfo;
				
				$(cmmnData).each((idx, item) => {
					printItem(item, idx);
				})
				
				printPage(pageData, dst1);
			}
			
			// 커뮤니티 게시글 생성 및 추가 함수
            function printItem(item, idx){
				
				let tr = $('<tr>');
				
			    tr.append($('<td>').text(idx + 1));
			    
			    let tdImg = $('<td>');
			    let img = $('<img>', {
			        'src': item.img,
			        'width': '30px',
			        'height': '50px'
			    });
			    tdImg.append(img);
			    tr.append(tdImg);

			    tr.append($('<td>').text(item.title));
			    tr.append($('<td>').text(item.wrtDate));
			    tr.append($('<td>').text(item.nick));
			    tr.append($('<td>').text(item.hitCount));
			    tr.append($('<td>').text(item.recomCount));

			    $('#cmmnList').append(tr);
			    
			    tr.on('click', function(){
			    	
			    	if(mem){
			    		if(mem.memGrd != 'b2'){
					    	location.href = `/cmmnInfo?postCtg=i3&boardNo=${item.boardNo}`;
					    	
					    	// 조회 수 증가 ajax 실행
					    	$.ajax({
					    		url: "/count",
					    		method: "POST",
					    		data: {
					    			boardNo : item.boardNo
					    		},
					    		success: function(result){
					    			console.log(result.retCode);
					    		},
					    		error: function(result){
					    			console.log(result.retCode);
					    		}
					    	})			    			
			    		} else {
			    			Swal.fire({
								title: '정회원만 조회 가능합니다.',
								text: '등업신청 하시겠습니까?',
								icon: 'warning',
								showCancelButton: true,
								confirmButtonText:"확인",
								cancelButtonText: "취소"
							}).then((result) => {
								if(result.isConfirmed){
									location.href = `/myPage/myPage`;									
								}
							})
			    		}
			    	} else {
			    		Swal.fire({
							title: '로그인이 필요합니다.',
							text: '확인을 누르시면 로그인 페이지로 이동합니다.',
							icon: 'warning',
							showCancelButton: true,
							confirmButtonText:"확인",
							cancelButtonText: "취소",
						}).then((result) => {
							if(result.isConfirmed){
								location.href = `/login`;								
							}
						})
			    	}
			    		
				})
			}
            	
			
         // 페이지 출력 
			function printPage(pageData, dst1) {
				
			    dst1 = $('.selected').attr('data-value');	
			    	
				let pageItem = $('#pageItem').clone()
				$(pageItem).css({'display' : 'block'});
				$(pageItem).find('#prevPage').on('click',function(){
					ajaxData(pageData.startPage - 1)
				})
				$(pageItem).find('#nextPage').on('click',function(){
					ajaxData(pageData.endPage + 1)
				})

				if(!pageData.prev){
					$(pageItem).find('#prevPage').hide()
				}
				if(!pageData.next){
					$(pageItem).find('#nextPage').hide()
				}

				for (let i = pageData.startPage; i <= pageData.endPage; i++) {
					let clone = $('#pageItem').find('#pageNum').clone()
					$(clone).text(i);
					if(i == pageData.pageNum){
						$(clone).addClass('active')
						$(clone).css('border-color','green')
					}
					$(clone).on('click', function () {
						getCondition(i, dst1);
					})
					$(pageItem).find('#pageNumDiv').append(clone)
				}

				$(pageItem).find('#pageNum')[0].remove()
				$('#pageDiv').append(pageItem) 
			}
			    
		 	// 조건 값 변경 시 컨트롤 정보 보내기
			function getCondition(pageNum, dst1){
				dst1 = $('#dst1').val();
				let postCtg = 'i3';
				
				if(pageNum == null){
					pageNum = 1
				}

				boardData(postCtg, pageNum, dst1);
			}
		 
			// 지역1 카테고리 변경 시
			$('#dst1').change(function() {
				getCondition();
			});
		</script>

	</div>
</body>
</html>