<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Market, Auction">
<meta name="keywords" content="Auction">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>이벤트 상세조회</title>
</head>

<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>유귀농 이벤트</h4>
							<div class="breadcrumb__links">
								<span>유귀농의 각종 이벤트를 놓치지 마세요 !</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Shop Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">유귀농
												게시판</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="noticeList">공지사항</a></li>
														<li><a href="communityList">커뮤니티</a></li>
														<li><b><a href="eventList" style="color: black;">이벤트</a></b>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div>
							<h5 class="title text-left" th:text="${eventInfo[0].title}"></h5>
							<hr>
							<span class="text-right">관리자 | </span><span th:text="${#dates.format(eventInfo[0].wrtDate, 'yyyy/MM/dd')}"></span>
							<div class="content">
								<p class="desct" th:text="${eventInfo[0].desct}"></p>
							</div>
							<!-- 정회원, 관리자, 작성자에 따라 하트 및 버튼 목록 조건 걸어야 함 -->
							<div>
								<p th:text="${eventInfo}"></p>
								<span>♡</span>
							</div>
							<hr>
							<div>
								<button type="button">수정</button>
								<button type="button">삭제</button>
								<button type="button">목록</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
			
		<script>
			
		</script>
	</div>
</body>
</html>