<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Market, Auction">
<meta name="keywords" content="Auction">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>이벤트 상세조회</title>
<style>
.title {
	font-weight: bold;
	font-size: 20px;
}

.right {
	float: right;
}

.smallChar {
	font-size: 14px;
	color: gray;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>유귀농 이벤트</h4>
							<div class="breadcrumb__links">
								<span>유귀농의 각종 이벤트를 놓치지 마세요 !</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Shop Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">유귀농
												게시판</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="noticeList">공지사항</a></li>
														<li><a href="cmmnList">커뮤니티</a></li>
														<li><b><a href="eventList" style="color: black;">이벤트</a></b>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div>
							<h5 class="title text-left" th:text="${eventInfo[0].title}"></h5>
							<hr>
							<div class="smallChar">
								<span class="text-right">작성자 : 관리자</span><span class="right"
									th:text="${#dates.format(eventInfo[0].wrtDate, 'yyyy/MM/dd')}"></span>
							</div>
							<div class="content">
								<br> 
								<img
									th:if="${eventInfo[0].img != null and eventInfo[0].img != (null)}"
									th:src="${eventInfo[0].img}" alt="">
								<p class="desct" th:utext="${eventInfo[0].desct}"></p>
							</div>
							<!-- 정회원, 관리자, 작성자에 따라 하트 및 버튼 목록 조건 걸어야 함 -->
							<div>
								<span>♡</span>
							</div>
							<hr>
							<div>
								<button type="button" id="updateBtn"
									th:onclick="'location.href=\'' + @{${'updateEvent?postCtg=i4&boardNo=' + eventInfo[0].boardNo + '&dst1=' + eventInfo[0].dst1}} + '\''">수정</button>
								<button type="button" id="delBtn">삭제</button>
								<button type="button"
									th:onclick="'location.href=\''+ @{${'eventList'}} + '\''">목록</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
		<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>

		<script th:inline="javascript">
			let boardNo = /*[[${eventInfo[0].boardNo}]]*/;
			console.log(boardNo);
			
			$('#delBtn').on('click', function(){
				$.ajax({
					url: "deleteBoard",
					method: 'DELETE',
					data: {boardNo},
					success: function(data){
						console.log(data);
						alert('삭제가 완료되었습니다.');
						location.href = "eventList";
					},
					error: function(reject){
						alert('삭제가 정상적으로 진행되지 않았습니다.');
					}
				})
			})
		</script>
	</div>
</body>
</html>