.unique-bell-container {
	position: relative;
	display: inline-block;
	z-index: 9999;
}

.unique-notification-modal {
	position: absolute;
	bottom: -200px;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 10px;
	display: none;
}

.unique-notification-item {
	padding: 8px;
	border-bottom: 1px solid #ccc;
}

#bell, #cart {
	width: 24px;
	height: 24px;
}