.main_middle {
	margin: 50px 0px 0px;
}

/* 슬라이드 광고판 css */
.mySlides {
	display: none
}

.slideImg {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	max-width: 2000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.sdPrev, .sdNext {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.sdNext {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.sdPrev:hover, .sdNext:hover {
	background-color: white;
}

/* Caption text */
.sdText {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.sd-dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.sdActive, .sd-dot:hover {
	background-color: #717171;
}

/* Fading animation */
.sdFade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@
-webkit-keyframes sdFade {from { opacity:.4
	
}

to {
	opacity: 1
}

}
@
keyframes sdFade {from { opacity:.4
	
}

to {
	opacity: 1
}

}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.sdPrev, .sdNext, .sdText {
		font-size: 11px
	}
}

/* 지원사업 CSS */
.eduArea {
	border: 2px solid gray;
	height: 400px;
	text-align: center;
}

.eduArea>table {
	width: 90%;
	margin: auto;
}

/* 맨밑에 링크 아이콘 CSS*/
.linkArea {
	display: flex;
	align-items: center; /* 수평 가운데 정렬 */
	justify-content: center; /* 수직 가운데 정렬 */
	padding: 40px 0px 40px;
	margin-bottom: 20px;
	background-color: #fffff4;
	border-radius: 10px;
	border: orange 2px solid;
}

.linkArea>p {
	font-family: 'Gowun Dodum', sans-serif;
	text-align: center;
	font-size: large;
	font-weight: bold;
	margin: 0px 20px;
}

.linkArea>a>p {
	font-family: 'Gowun Dodum', sans-serif;
	font-size: small;
	text-align:center;
}

.linkIcon {
	width: 80px;
	height: 80px;
	margin: 0px 50px;
}