<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농촌 체험하기 상세 조회</title>
<link rel="stylesheet" href="/css/suinCss/review.css">
<style>
#map {
	width: 700px;
	height: 300px;
	margin: 20px 5px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농촌 체험하기</h4>
							<div class="breadcrumb__links">
								<a>농촌체험</a>
								<a href="/expList">농촌 체험하기</a>
								<span th:text="${expInfo.title}">제목</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->
		<!-- Shop Details Section Begin -->
		<section class="product-details spad">
			<div class="container">
				<div class="row">
					<div class="row col-lg-12">
						<div class="col-lg-4 col-md-9">
							<div class="tab-content">
								<div class="tab-pane active" id="tabs-1" role="tabpanel">
									<div class="product__details__pic__item">
										<img th:src="${expInfo.rep}" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="product__details__content col-lg-8">
							<div class="container">
								<div class="row d-flex justify-content-center">
									<div class="col-lg-12">
										<div class="product__details__text">
											<div class="row">
												<h4 class="textLeft col-lg-9" th:text="${expInfo.title}" style="display: inline; text-align: left; font-size: 30px;">제목</h4>
												<th:block th:if="not ${#strings.isEmpty(session.mem)}">
													<button type="button" class="btn btn-dark" style="width: 150px;" id="delete" 
														th:if="${session.mem.memNo} == ${expInfo.memNo} or ${session.mem.memGrd == 'b0'}">삭제하기</button>
												</th:block>
											</div>
											<hr>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">작성자 : </b> <span th:text="${expInfo.nick}">작성자</span></p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">작성일자 : </b> <span th:text="${#dates.format(expInfo.regDate, 'yyyy/MM/dd')}">작성일자</span></p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">체험 기간 : </b> 
												<span th:text="|${#dates.format(expInfo.exStrDate, 'yyyy/MM/dd')} ~ ${#dates.format(expInfo.exEndDate, 'yyyy/MM/dd')}|">체험 시작 ~ 종료 일자</span></p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">참여 인원 : </b> 
												<span id="aplPer"></span>
												<span th:text="최대 + ${expInfo.pptPer} + 명">최대 참여 인원</span>
											</p>
											<th:block th:if="not ${#strings.isEmpty(session.mem)}">
												<p style="margin-bottom: 20px; text-align: left;" th:if="${session.mem.memNo} != ${expInfo.memNo}"><b style="font-size: 20px;">신청 인원 : </b>
													<span><input type="number" value="1" min="1" oninput="maxValue(this)" name="aplPer" class="form-control" style=" width: 150px; display: inline;"></span>
													<span>명</span>
												</p>
												<button type="button" class="btn btn-dark mr-2" style="width: 150px; float: left;" id="applyBtn" th:if="${session.mem.memNo} != ${expInfo.memNo}">신청하기</button>
											</th:block>
											<button type="button" class="btn btn-dark" style="width: 150px; float: left;" id="toList">목록으로</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="product__details__tab">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#tabs-5" role="tab">위치 정보</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#tabs-6" role="tab">상세 설명</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tabs-5" role="tabpanel">
									<div class="product__details__tab__content">
										<!-- 지도 api -->
										<div class="product__details__tab__content__item">
											<p class="note" style="margin-bottom: 10px; text-align: left;">위치 정보</p>
											<div class="mb-2" id="mapDesc" th:utext="|주소 : ${expInfo.addr}, ${expInfo.detaAddr}|" style="text-align: left;">주소</div>
											<div id="map">지도 Api</div>
										</div>
										<!-- 위도 경도 -->
										<div style="display: none">
											위도<span id="lati" th:text="|${expInfo.lati}|"></span><br>
											경도<span id="longi" th:text="|${expInfo.longi}|"></span>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tabs-6" role="tabpanel">
									<div class="product__details__tab__content">
										<div class="product__details__tab__content__item"
											th:utext="${expInfo.detaDesct}">상세 설명</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Details Section End -->
		<!-- 카카오 지도 api -->
		<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c573b65eabeb9b6da24ab52d832dc807"></script>
		<script th:inline="javascript">
			let expInfo = /*[[${expInfo}]]*/;
			// 지도 api
			var latitude = document.getElementById('lati').innerText;
			var longitude = document.getElementById('longi').innerText;
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center : new kakao.maps.LatLng(latitude,longitude), // 지도의 중심좌표
				level : 3, // 지도의 확대 레벨
				mapTypeId : kakao.maps.MapTypeId.ROADMAP
			};
			var map = new kakao.maps.Map(mapContainer, mapOption);
			// 지도에 마커를 생성하고 표시한다			
			var marker = new kakao.maps.Marker({
				position : new kakao.maps.LatLng(latitude,longitude), // 마커의 좌표
				map : map
			});
			
			let apl = 0;
			expInfo.expApplyList.forEach(index => {
				if(index.aplStts === 'e1') {
					apl += index.aplPer;
					console.log(apl);
				}
			})
			$('#aplPer').append('현재 ' + apl + '명 /');
			
			// 데이터에 있는 수량보다 높게 입력하려고 했을 때 실행되는 함수
			function maxValue(Object) {
				let max = /*[[${expInfo.pptPer}]]*/
				if(Object.value > max) {
					Swal.fire({
						icon : 'error',
						title : '신청 인원 초과',
						text : '신청할 수 있는 인원을 초과했습니다!',
						confirmButtonText : "확인"
					})
					Object.value = max - apl;
				}
			}
			
			/*<![CDATA[*/
			let boardNo = /*[[${expInfo.boardNo}]]*/;
			let mem = /*[[${session.mem}]]*/
			/*]]>*/
			
			// 신청하기 버튼 클릭 시
			$('#applyBtn').on('click', function() {
				let aplPer = $('input[name="aplPer"]').val();
				$.ajax({
					url : "/expApply",
					method : "POST",
					data : {
						boardNo : boardNo,
						memNo : mem.memNo,
						aplPer : aplPer
					}
				})
				.done(function(result) {
					console.log(result);
					if(result == "success") {
						Swal.fire({
							icon : 'success',
							title : '신청 성공',
							text : '성공적으로 신청이 되었습니다',
							confirmButtonText : "확인"
						})
						.then(function() {
							let alrtTitle = '농촌 체험하기를 신청하였습니다';
							let alrtDesct = "'" + expInfo.title + "'" + '를 신청하였습니다';
							let boardCtg = /*[[${codeInfo}]]*/;
							$.ajax({
								url : "/sendAlert",
								method : "GET",
								data : {
									memNo : mem.memNo,
									alrtTitle : alrtTitle,
									alrtDesct : alrtDesct,
									boardCtg : boardCtg[4].cmmnDetaCode
								}
							})
							.done(function() {
								location.href = "/myPage/myExpForm";
							})
						})
					} else {
						Swal.fire({
							icon : 'error',
							title : '신청 실패',
							text : '신청에 실패했습니다',
							confirmButtonText : "확인"
						})
					}
				})
				.fail(function(result) {
					Swal.fire({
						icon : 'error',
						title : '오류',
						text : '페이지 호출 오류',
						confirmButtonText : "확인"
					})
				})
			});
			
			// 목록으로 버튼 클릭 시
			$('#toList').on('click', function() {
				location.href = "/expList";
			});
			
			// 삭제하기 버튼 클릭 시
			$('#delete').on('click', function() {
				$.ajax({
					url : "/expDelete",
					method : "POST",
					data : 'boardNo=' + boardNo
				})
				.done(function(result) {
					console.log(result);
					if(result == "success") {
						Swal.fire({
							icon : 'success',
							title : '삭제 성공',
							text : '성공적으로 삭제되었습니다',
							confirmButtonText : "확인"
						})
						.then(function() {
							location.href = "/expList";
						})
					} else {
						Swal.fire({
							icon : 'error',
							title : '삭제 실패',
							text : '삭제하지못했습니다',
							confirmButtonText : "확인"
						})
					}
				})
				.fail(function(result) {
					Swal.fire({
						icon : 'error',
						title : '오류',
						text : '페이지 호출 오류',
						confirmButtonText : "확인"
					})
				})
			});
		</script>
	</div>
</body>
</html>