<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농촌 체험하기 상세 조회</title>
<link rel="stylesheet" href="/css/suinCss/review.css">
<style>
#map {
	width: 700px;
	height: 300px;
	margin: 20px 5px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농촌 체험하기</h4>
							<div class="breadcrumb__links">
								<a>농촌체험</a>
								<a href="expList">농촌 체험하기</a>
								<span th:text="${expInfo.title}">제목</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->
		<!-- Shop Details Section Begin -->
		<section class="product-details spad">
			<div class="container">
				<div class="row">
					<div class="row col-lg-12">
						<div class="product__details__content col-lg-12">
							<div class="container">
								<div class="row d-flex justify-content-center">
									<div class="col-lg-12">
										<div class="product__details__text">
											<div class="row">
												<div class="product__details__pic__item">
													<img th:src="${expInfo.rep}" alt="">
												</div>
												<h4 class="textLeft col-lg-9" th:text="${expInfo.title}" style="display: inline; text-align: left; font-size: 30px;">제목</h4>
												<p style="margin-bottom: 20px;" class="mr-2"><b style="font-size: 15px;">작성자</b> <span th:text="${expInfo.nick}">작성자</span></p>
												<p style="margin-bottom: 20px;"><b style="font-size: 15px;">작성일자</b> <span th:text="${#dates.format(expInfo.regDate, 'yyyy/MM/dd')}">작성일자</span></p>
												<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">체험 기간 : </b> 
													<span th:text="|${#dates.format(expInfo.exStrDate, 'yyyy/MM/dd')} ~ ${#dates.format(expInfo.exEndDate, 'yyyy/MM/dd')}|">체험 시작 ~ 종료 일자</span></p>
											</div>
											<!-- 지도 api -->
											<div>
												<p class="note" style="margin-bottom: 10px; text-align: left;">위치 정보</p>
												<div class="product__details__tab__content__item">
													<div id="mapDesc" th:utext="|주소 : ${expInfo.addr}, ${expInfo.detaAddr}|" style="text-align: left;">주소</div>
													<div id="map">지도 Api</div>
												</div>
											</div>
											<!-- 위도 경도-->
											<div style="display: none">
												위도<span id="lati" th:text="|${expInfo.lati}|"></span><br>
												경도<span id="longi" th:text="|${expInfo.longi}|"></span>
											</div>
											<div class="product__details__tab__content__item"
												th:utext="${expInfo.detaDesct}">상세 설명</div>
											<div class="row mb-2">
												<button type="button" class="btn btn-dark mr-2" style="width: 150px; float: left;" id="applyBtn" th:if="${session.mem.memNo} != ${expInfo.memNo}">신청하기</button>
												<button type="button" class="btn btn-dark mr-2" style="width: 150px; float: left;" id="toList">목록으로</button>
												<th:block th:if="not ${#strings.isEmpty(session.mem)}">
													<button type="button" class="btn btn-dark" style="width: 150px;" id="delete" 
														th:if="${session.mem.memNo} == ${expInfo.memNo} or ${session.mem.memGrd == 'b0'}">삭제하기</button>
												</th:block>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Details Section End -->
		<!-- 카카오 지도 api -->
		<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c573b65eabeb9b6da24ab52d832dc807"></script>
		<script th:inline="javascript">
			// 지도 api
			var latitude = document.getElementById('lati').innerText;
			var longitude = document.getElementById('longi').innerText;
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center : new kakao.maps.LatLng(latitude,longitude), // 지도의 중심좌표
				level : 3, // 지도의 확대 레벨
				mapTypeId : kakao.maps.MapTypeId.ROADMAP
			};
			var map = new kakao.maps.Map(mapContainer, mapOption);
			// 지도에 마커를 생성하고 표시한다			
			var marker = new kakao.maps.Marker({
				position : new kakao.maps.LatLng(latitude,longitude), // 마커의 좌표
				map : map
			});
		</script>
	</div>
</body>
</html>