<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/myPage/myPage}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Funding</title>
<link rel="stylesheet" href="/css/sungWookCss/sungook.css"
	type="text/css">
<script
	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"
	type="text/css">
<style>
.mfp-content {
	width: 1500px;
	height: 750px;
}
</style>
</head>

<body>
	<div layout:fragment="myPageContent">
		<!-- Breadcrumb Section Begin -->
		<!-- <section class="">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>Shop</h4>
							<div class="breadcrumb__links">
								<a href="./index.html">농촌마켓</a> <span>농작물펀딩</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<div class="justify-content-center">
			<h3 class="current text-center">나의 구매내역</h3>
		</div>
		<!-- Shop Section Begin -->
		<section class="shop myMargin">
			<div class="container">
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<table id="myTable">
							<thead>
								<tr>
									<th>이미지</th>
									<th>카테고리</th>
									<th>상품명</th>
									<th>결제금액</th>
									<th>결제일</th>
									<th>결제방법</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="not ${#strings.isEmpty(payList)}">
									<tr th:each="pay : ${payList}" th:data-payNo="${pay.payNo}">
										<td><img th:src="${pay.rep}" alt="" width="100px"
											height="100px" th:if="not ${#strings.isEmpty(pay. rep)}">
											<div style="width: 100px; height: 100px;"
												th:if="${#strings.isEmpty(pay. rep)}">
												<p style="text-align: center; line-height: 100px;">이미지없음</p>
											</div></td>
										<td th:text="${pay.boardCtg}"></td>
										<!-- "${memberInfo.signDate==null? '': #dates.format(memberInfo.signDate, 'yyyy/MM/dd')}" -->
										<td
											th:text="${pay.count == 1 ? pay.title : pay.title + '외 '+ (pay.count-1) +'건'}"></td>
										<td
											th:text="${#numbers.formatInteger(pay.totalPayPrice, 3, 'COMMA')}"></td>
										<td th:text="${#dates.format(pay.payDate, 'yyyy/MM/dd')}"></td>
										<td th:text="${pay.payMthd}"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Section End -->

		<script>
			// dataTables
			$(function() {
				//사이드바
				myMenucheck('나의 구매내역')
				
				$('#myTable').DataTable({
					language : lang_kor,
					order : [ [ 4, "desc" ] ]
				});
			})

			// 한글 설정
			var lang_kor = {
				"decimal" : "",
				"emptyTable" : "데이터가 없습니다.",
				"info" : "_START_ - _END_ (총 _TOTAL_ 개)",
				"infoEmpty" : "0명",
				"infoFiltered" : "(전체 _MAX_ 명 중 검색결과)",
				"infoPostFix" : "",
				"thousands" : ",",
				"lengthMenu" : "_MENU_ 개씩 보기",
				"loadingRecords" : "로딩중...",
				"processing" : "처리중...",
				"search" : "검색 : ",
				"zeroRecords" : "검색된 데이터가 없습니다.",
				"paginate" : {
					"first" : "첫 페이지",
					"last" : "마지막 페이지",
					"next" : "다음",
					"previous" : "이전"
				},
				"aria" : {
					"sortAscending" : " :  오름차순 정렬",
					"sortDescending" : " :  내림차순 정렬"
				}
			};
			// 구매상세내역 이동
			$('tr').on('click', 'td', function(e) {
				console.log($(e.target).closest('tr').attr('data-payNo'))
				let payNo = $(e.target).closest('tr').attr('data-payNo')

				// 모달창
				$.magnificPopup.open({
					items : [ {
						src : "/myPage/myPayDetail?payNo=" + payNo,
						type : 'iframe'
					} ]
				})
			})

			//팝업창 닫기 함수
			function closePopUp() {
				var magnificPopup = $.magnificPopup.instance;
				magnificPopup.close();
				location.reload();
			}
		</script>
	</div>
</body>

</html>