<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Male_Fashion Template">
	<meta name="keywords" content="Male_Fashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cart</title>
	<link rel="stylesheet" href="/css/sungWookCss/sungook.css" type="text/css">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
		rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">


	<!-- Js Plugins -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.nicescroll.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery.countdown.min.js"></script>
	<script src="/js/jquery.slicknav.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/json.min.js"></script>

	<!-- datatables -->
	<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" type="text/css">

	<style>
		.textCenter {
			text-align: center;
		}

		.miniBtn {
			width: 100px;
		}

		.right {
			float: right;
		}

		.image {
			width: 100px;
			height: 100px;
		}

		li {
			margin-bottom: 10px;
		}
	</style>

</head>

<body>
	<!-- 본문 시작 -->
	<section class="shopping-cart spad" style="padding-top: 10px;">
		<div class="container">
			<hr>
			<br>
			<div class="row">
				<!-- 사이드바 시작 -->
				<div class="row col-lg-12">
					<div class="col-lg-12" style="margin-left: 0;">
						<div class="shopping__cart__table" style="margin-bottom: 0px;">
							<h4 class="textCenter">구매상세내역</h4>
							<hr>
							<h5 class="textCenter">구매상품</h5>
							<hr>
							<table id="productTable">
								<thead>
									<tr>
										<th>이미지</th>
										<th>상품명</th>
										<th>수량</th>
										<th>가격</th>
										<th>합계</th>
										<th>배송상태</th>
									</tr>
								</thead>
								<tbody id="tbody">
									<tr th:each="prod : ${prodInfo}">
										<td>
											<img th:src="${prod.rep}" alt="" width="100px" height="100px" th:if="not ${#strings.isEmpty(prod. rep)}">
											<div style="width: 100px; height: 100px;" th:if="${#strings.isEmpty(prod. rep)}">
												<p style="text-align: center;line-height : 100px;">이미지없음</p>
											</div>
										</td>
										<td th:text="${prod.title}">2</td>
										<td th:text="${prod.qty}">4</td>
										<td th:text="${#numbers.formatInteger(prod.price, 3, 'COMMA')}">5</td>
										<td th:text="${#numbers.formatInteger(prod.qty * prod.price , 3, 'COMMA')}">5</td>
										<!-- <td th:text="${prod.qty} * ${prod.price}">6</td> -->
										<td th:text="${prod.shipStts}" id="stts">7</td>
									</tr>
								</tbody>
							</table>
							<hr>
						</div>
					</div>
					<!-- 총액 시작 -->
					<div class="col-lg-12" style="padding: 0px;">
						<h5 class="textCenter">결제 정보</h5>
						<hr>
						<div class="cart__total">
							<ul>
								<li><h5>총액 <span th:text="${#numbers.formatInteger(payInfo.totalPayPrice, 3, 'COMMA')}">0</span></h5></li>
								<li><h5>사용포인트 <span th:text="${payInfo.usePnt}">0</span></h5></li>
								<li><h5>결제방법 <span th:text="${payInfo.payMthd == 'NORMAL' ? '일반결제' : '기타결제'}">0</span></h5></li>
								<li><h5>결제날짜 <span th:text="${#dates.format(payInfo.payDate, 'yyyy/MM/dd')}">0</span></h5></li>
							</ul>
						</div>
						<button type="button" class="form-control miniBtn right" id="refundBtn">환불하기</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script th:inline="javascript">
		// dataTables
		$(function () {

			$('#productTable').DataTable({
				// 언어설정
				language: lang_kor,
				// 표시 건수기능 숨기기
				lengthChange: false,
				// 검색 기능 숨기기
				searching: false,
				// 정렬 기능 숨기기
				ordering: false,
				// 정보 표시 숨기기
				info: false,
				// 페이징 기능 숨기기
				paging: false
			});
		})

		// 한글 설정
		var lang_kor = {
			"decimal": "",
			"emptyTable": "데이터가 없습니다.",
			"info": "_START_ - _END_ (총 _TOTAL_ 개)",
			"infoEmpty": "0명",
			"infoFiltered": "(전체 _MAX_ 명 중 검색결과)",
			"infoPostFix": "",
			"thousands": ",",
			"lengthMenu": "_MENU_ 개씩 보기",
			"loadingRecords": "로딩중...",
			"processing": "처리중...",
			"search": "검색 : ",
			"zeroRecords": "검색된 데이터가 없습니다.",
			"paginate": {
				"first": "첫 페이지",
				"last": "마지막 페이지",
				"next": "다음",
				"previous": "이전"
			},
			"aria": {
				"sortAscending": " :  오름차순 정렬",
				"sortDescending": " :  내림차순 정렬"
			}
		};

		//환불
		$('#refundBtn').on('click',function(){
			let bool = false;
			$('tr').each(function(idx,item){
				if($(item).find('#stts').text() == "결제완료" || $(item).find('#stts').text() == "배송 전"){
					bool = true;
				}
			})

			if(bool){
				if(confirm('환불하시겠습니까?')){
					$.ajax({
						url : "https://api.tosspayments.com/v1/payments/"+/*[[${payInfo.payCode}]]*/+"/cancel",
						beforeSend: function (xhr) {
				            xhr.setRequestHeader("Authorization","Basic dGVzdF9za196WExrS0V5cE5BcldtbzUwblgzbG1lYXhZRzVSOg== ");
				        },
						ContentType: 'application/json',
						data : {
							"cancleReason" : "취소"
						}
					})
					.done(function(result){
					$.ajax({
						url:"/myPage/refund",
						data : {
							payNo : /*[[${payInfo.payNo}]]*/
						}
					})
					.done(function(result){
						if(result){
							alert('환불이 완료되었습니다')
						}else{
							alert('환불실패')
						}
					})
					.fail(function(){
						alert('ajax 실패')
					})
					})
					.fail(function(data, textStatus, errorThrown){
					alert('환불에 실패하였습니다')
					console.log(data)
					})
				}
			}else{
				alert('환불할 수 없는 상태입니다')
			}
			
		})
	</script>
</body>

</html>