<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Male_Fashion Template">
	<meta name="keywords" content="Male_Fashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Male-Fashion | Template</title>
	<link rel="stylesheet" href="css/sungWookCss/sungook.css" type="text/css">
</head>

<body>
	<div layout:fragment="content">
		<hr>
		<!-- Shop Details Section Begin -->
		<section class="shop-details">
			<div class="product__details__pic" style="background-color: white;">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="shop__sidebar">
								<div class="shop__sidebar__accordion">
									<div class="accordion" id="accordionExample">
										<div class="card">
											<div class="card-heading">
												<a data-toggle="collapse" data-target="#collapseOne" style="font-size: larger;">농촌마켓</a>
											</div>
											<div id="collapseOne" class="collapse show" data-parent="#accordionExample">
												<div class="card-body">
													<div class="shop__sidebar__categories">
														<ul>
															<li><a href="#">전원마켓</a></li>
															<li><a href="#">농작물판매</a></li>
															<li><a href="fundingList" class="mySelect" style="color: black;">농작물펀딩</a></li>
															<li><a href="#">경매장</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row col-lg-9">
							<div class="col-lg-4 col-md-9">
								<div class="tab-content">
									<div class="tab-pane active" id="tabs-1" role="tabpanel">
										<div class="product__details__pic__item">
											<img th:src="${fundingInfo.rep}" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="product__details__content col-lg-8">
								<div class="container">
									<div class="row d-flex justify-content-center row">
										<div class="col-lg-12">
											<div class="product__details__text">
												<div class="row">
													<h4 class="textLeft col-lg-6" th:text="${fundingInfo.fndTitle}" style="display: inline;">상품명
													</h4>
													<h5 class="col-lg-6" style="display: inline; text-align: right;"
														th:text="'달성률 : ' + ${fundingInfo.goalPer}+'%'">달성률</h6>
												</div>
												<hr>
												<br>
												<div class="row">
													<p class="myInline col-lg-6 mb-0 textLeft">참여인원 <span
															th:text="${fundingInfo.payCount} + '명'"></span></p>
													<p class="myInline col-lg-6 mb-0 textLeft">결제일 <span th:text="${#dates.format(fundingInfo.fndEndDate, 'yyyy/MM/dd')}"></span></p>
												</div>
												<br>
												<div class="row">
													<p class="myInline col-lg-6 mb-0 textLeft">달성률 <span th:text="${fundingInfo.goalPer}+'%'"></span></p>
													<p class="myInline col-lg-6 mb-0 textLeft">배송시작일  <span th:text="${#dates.format(fundingInfo.shipStrDate, 'yyyy/MM/dd')}"></span></p>
												</div>
												<br>
												<div class="row">
													<p class="myInline col-lg-6 mb-0 textLeft">펀딩가격 <span th:text="${#numbers.formatInteger(fundingInfo.fndPrice, 3, 'COMMA')}+원" id="fndPrice"></span></p>
													<p class="myInline col-lg-6 mb-0 textLeft">판매자 <span th:text="${fundingInfo.nick}"></span></p>
												</div>
												<br>
												<div class="row">
													<p class="myInline col-lg-6 mb-0 textLeft">펀딩기간<span th:text="${#dates.format(fundingInfo.fndStrDate, 'yyyy/MM/dd')+ ' ~ ' + #dates.format(fundingInfo.fndEndDate, 'yyyy/MM/dd')}"></span></p>
													<p class="myInline col-lg-6 mb-0 textLeft">목표금액<span th:text="${#numbers.formatInteger(fundingInfo.goalPrice, 3, 'COMMA')}+원"></span></p>
												</div>
												<div class="product__details__cart__option row" style="margin-top: 40px;">
													<div class="quantity col-lg-12 myZeroMargin" style="margin-right: 0px;">
														<div class="row memService" th:if="not ${#strings.isEmpty(session. mem)}">
															<div class="col-lg-6 textLeft row" th:if="${session.mem.memNo} != ${fundingInfo.memNo}" >
																<p class="myInline col-lg-4" style="margin-left: 0; margin-right: 0;">수량</p>
																<div class="myInline col-lg-8">
																	<input type="number" value="1" id="count" class="form-control" min="1">
																</div>
															</div>
															<div class="col-lg-6 textLeft" style="margin-left: 30px;" th:if="${session.mem.memNo} != ${fundingInfo.memNo}" >
																<h6 class="myInlineBlock">총액 <span id="sumPrice"></span></h6>
															</div>
														</div>
													</div>
													<div th:if="not ${#strings.isEmpty(session. mem)}" >
														<a href="#" class="primary-btn memService"
														style="color: white; margin: 0 auto; margin-top: 20px; width: 500px;" id="getPay" th:if="${session.mem.memNo} != ${fundingInfo.memNo}" >구매하기</a>
														<a th:href="@{modifyFunding(fndNo=${fundingInfo.fndNo})}" class="primary-btn myService"
														style="color: white; margin: 0 auto; margin-top: 20px; width: 500px;" id="getModify" th:if="${session.mem.memNo} == ${fundingInfo.memNo}">수정하기</a>
														<div class="product__details__btns__option" th:if="${session.mem.memNo} != ${fundingInfo.memNo}" style="margin-top: 20px;">
															<a href="#"><i class="fa fa-heart memService"></i>장바구니</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row col-lg-12">
								<div class="col-lg-12">
									<div class="product__details__tab">
										<div class="row">
											<ul class="nav nav-tabs col-lg-12" role="tablist">
												<li class="nav-item col-lg-12"><a
													class="nav-link active" data-toggle="tab" href="#tabs-5"
													role="tab">상품상세</a></li>
											</ul>
										</div>
										<div class="row">
											<div class="tab-content col-lg-12">
												<div class="tab-pane active" id="tabs-5" role="tabpanel">
													<div class="product__details__tab__content">
														<div th:utext="${fundingInfo.desct}"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Related Section Begin -->
							<section class="related spad col-lg-12">
								<div class="container">
									<div class="row">
										<div class="col-lg-12">
											<h3 class="related-title">인기상품</h3>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-6 col-sm-6 col-sm-6"  th:each="popular : ${polurInfo}" >
											<div class="product__item" th:onclick="|location.href='@{fundingInfo(fndNo=${popular.fndNo})}'|">
												<div class="product__item__pic set-bg" data-setbg="" style="background-image: url("${polurInfo.rep}");">
													<span class="label">인기</span>
												</div>
												<div class="product__item__text">
													<h6 th:text="${popular.fndTitle}"></h6>
													<a href="#" class="add-cart">+ Add To Cart</a>
													<h5 th:text="${popular.fndPrice}+'원'"></h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<!-- Related Section End -->
				</div>
			</div>
		</section>

		<script>
			$(function(){
				getSumPrice()			
			})
			$('#count').change(function(){
				getSumPrice()
			})
			function getSumPrice(){	
					$('#sumPrice').text(priceToString((Number($('#count').val()) * Number(/*[[${fundingInfo.fndPrice}]]*/)))+' 원')
					
			}
			// 돈 콤마
			function priceToString(price) {
    			return price.toLocaleString('ko-KR')
			}
		</script>
	</div>
	
</body>

</html>