<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Male-Fashion | Template</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="css/sungWookCss/sungook.css"
	type="text/css">

</head>

<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>Shop</h4>
							<div class="breadcrumb__links">
								<a href="./index.html">농촌마켓</a> <span>농작물펀딩</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="justify-content-center">
			<h3 class="current text-center">농작물 펀딩</h3>
		</div>
		<!-- Shop Section Begin -->
		<section class="shop myMargin">
			<div class="container">
				<hr>
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">농촌마켓</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul>
														<li><a href="#">전원마켓</a></li>
														<li><a href="#">농작물판매</a></li>
														<li><a href="fundingList" class="mySelect"
															style="color: black;">농작물펀딩</a></li>
														<li><a href="#">경매장</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-10 col-md-10 col-sm-10">
									<div class="shop__product__option__left">
										<div class="row form-floating">
											<select class="form-select form-group col-4"
												aria-label="Default select example">
												<option selected>전체</option>
												<option value="1">야채</option>
												<option value="2">과일</option>
												<option value="3">곡물</option>
											</select>
											<div class="col-8">
												<input type="email" class="form-control form-group"
													id="exampleFormControlInput1" placeholder="상품명 검색">
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2">
									<div class="form-select">
										<select>
											<option value="">최신순</option>
											<option value="">인기순</option>
											<option value="">판매임박순</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-6"
								th:each="funding : ${fundingList}">
								<div class="product__item"
									th:onclick="|location.href='@{fundingInfo(fndNo=${funding.fndNo})}'|">
									<div class="product__item__pic set-bg"
										data-setbg="img/product/product-2.jpg">
										<ul class="product__hover">
											<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
										</ul>
									</div>
									<div class="product__item__text">
										<a href="#" class="add-cart">+ Add To Cart</a>
										<h6 th:text="${funding.fndTitle}">상품명</h6>
										<p style="font-weight: 900; margin-bottom: 0;"
											th:text="'목표금액 ' + ${funding.fndPrice} + '원'">가격</p>
										<div>
											<p class="myInline">달성률</p>
											<p class="myFontSizeMin myInline">총금액</p>
											<p class="myFontSizeMin myInline myRight"
												th:text="${#dates.format(funding.fndEndDate, 'yyyy/MM/dd')}">디데이</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="product__pagination">
									<a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="shop__sidebar__tags myRight">
							<a href="#">등록</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Section End -->
	</div>
	<!-- Js Plugins -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.countdown.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>