<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/myPage/myPage}">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Male_Fashion Template">
	<meta name="keywords" content="Male_Fashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Funding</title>
	<link rel="stylesheet" href="/css/sungWookCss/sungook.css" type="text/css">
	<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" type="text/css">
	<style scoped>
		.mfp-content {
			width: 1500px;
			height: 600px;
		}

		.miniBtn {
			width: 100px;
		}

		.right {
			float: right;
		}

		.marginT30 {
			margin-top: 30px;
		}

		.act {
			background-color: rgb(105, 194, 142);
		}
	</style>
</head>

<body>
	<div layout:fragment="myPageContent">
		<div class="justify-content-center">
			<h3 class="current text-center">나의 게시글</h3>
		</div>
		<!-- Shop Section Begin -->
		<section class="shop myMargin">
			<div class="container">
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<table id="myTable">
							<thead id="thead">
								<tr>
									<th>번호</th>
									<th>카테고리</th>
									<th>제목</th>
									<th>작성날짜</th>
									<th>조회수</th>
								</tr>
							</thead>
							<tbody id="tbody">
								<th:block th:if="not ${#strings.isEmpty(boardList)}">
									<tr th:each="board : ${boardList}" th:no="${board.boardNo}" class="tr">
										<td th:text="${board.boardNo}"></td>
										<td th:text="${board.postCtg}"></td>
										<td th:text="${board.title}"></td>
										<td th:text="${#dates.format(board.wrtDate, 'yyyy/MM/dd')}"></td>
										<td th:text="${board.hitCount}"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Section End -->

		<script th:inline="javascript">
			let memNo = /*[[${session.mem.memNo}]]*/ ;
			let table;

			// dataTables 생성 함수
			$(function(){
				table = $('#myTable').DataTable({
					language: lang_kor,
					bAutoWidth: false, // 너비 자동맞춤을 false로 설정해주어야 지정한 너비가 제대로 출력된다.
					columnDefs: [{
							width: "10%",
							targets: 0
						},
						{
							width: "15%",
							targets: 1
						},
						{
							width: "40%",
							targets: 2
						},
						{
							width: "10%",
							targets: 3
						},
						{
							width: "15%",
							targets: 4
						}
					],
					order : [3, 'desc']
				});	
			})


			// 한글 설정
			var lang_kor = {
				"decimal": "",
				"emptyTable": "데이터가 없습니다.",
				"info": "_START_ - _END_ (총 _TOTAL_ 개)",
				"infoEmpty": "0명",
				"infoFiltered": "(전체 _MAX_ 명 중 검색결과)",
				"infoPostFix": "",
				"thousands": ",",
				"lengthMenu": "_MENU_ 개씩 보기",
				"loadingRecords": "로딩중...",
				"processing": "처리중...",
				"search": "검색 : ",
				"zeroRecords": "검색된 데이터가 없습니다.",
				"paginate": {
					"first": "첫 페이지",
					"last": "마지막 페이지",
					"next": "다음",
					"previous": "이전"
				},
				"aria": {
					"sortAscending": " :  오름차순 정렬",
					"sortDescending": " :  내림차순 정렬"
				}
			};

			//tr 이동
			// $(document).on("click", ".tr", function (e) {
			// 	if (!$(e.currentTarget).hasClass('th')) {
			// 		console.log($(e.currentTarget).attr('no'))
			// 		location.href = "/mkInfo?boardNo=" + $(e.currentTarget).attr('no')
			// 	}
			// })

		</script>
	</div>
</body>

</html>