<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>You GuiNong? Yes!</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&family=Poor+Story&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/jQueryUI.css">

<!-- Js Plugins -->
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/bootstrap.min.js"></script>
<script src="/js/jquery/jquery.nice-select.min.js"></script>
<script src="/js/jquery/jquery.nicescroll.min.js"></script>
<script src="/js/jquery/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery/jquery.countdown.min.js"></script>
<script src="/js/jquery/jquery.slicknav.js"></script>
<script src="/js/jquery/mixitup.min.js"></script>
<script src="/js/jquery/owl.carousel.min.js"></script>
<script src="/js/jquery/json.min.js"></script>
<script src="/js/jquery/jqueryUI.js"></script>

<style>
.href {
	font-weight: 900;
	color: black;
}

.hidden {
	display: none;
}

.ck-editor__editable {
	height: 400px;
}

.myInline {
	display: inline-block;
}

#addFile {
	height: 200px;
}

.hideBorder {
	border: 0;
	background-color: transparent;
}
</style>
</head>
<body>
	<section class="shop-details">
		<div class="product__details__pic" style="background-color: white;">
			<div class="container">
				<h3>금손 귀농인 등록</h3>
				<hr>
				<div class="row col-lg-12">
					<div class="product__details__content col-lg-8">
						<form id="myForm">
							<!-- 실제 파일 업로드 input (안보임) -->
							<input type="file" id="inputFile" class="hidden">
							<div class="container">
								<div class="row d-flex justify-content-center row">
									<div class="col-lg-12">
										<div class="product__details__text">
											<div class="row">
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">구분</p>
													</div>
													<div class="row col-md-9">
														<label class="form-check-label col-md-3"><input
															type="radio" class="form-check-input" name="div"
															value="o0" checked> 구해요 </label> <label
															class="form-check-label col-md-4"><input
															type="radio" class="form-check-input" name="div"
															value="o1"> 할게요 </label>
													</div>
												</div>
												<br> <br>
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">지역</p>
													</div>
													<div class="row col-md-9">
														<!-- 지역1 선택창 -->
														<select class="form-select form-group col-1.5 mr-2"
															aria-label="Default select example" name="dst1">
															<option value="" selected="selected">도</option>
															<option th:each="opt : ${dst1}"
																th:text="${opt.codeDesct}"
																th:value="${opt.cmmnDetaCode}"></option>
														</select>
														<!-- 지역2 선택창 -->
														<select class="form-select form-group col-1.5 mr-2"
															aria-label="Default select example" name="dst2">
															<option value="">시·군</option>
														</select>
													</div>
												</div>
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">대표 이미지</p>
													</div>
													<div class="col-md-9 row" id="addFile">
														<div class="col-lg-12"
															style="background-color: lightgrey; display: table;">
															<p style="display: table-cell; vertical-align: middle">이미지
																등록</p>
														</div>
													</div>

												</div>
											</div>
											<br>
											<div class="row">
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">제목</p>
													</div>
													<div class="row col-md-9">
														<label class="form-check-label col-lg-12 col-md-12"><input
															type="text" class="form-control" name="title"></label>
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">작성자</p>
													</div>
													<div class="row col-md-9">
														<input type="text" class="form-control col-lg-6 hidden"
															readonly="readonly" th:value="${session.mem.memNo}"
															name="memNo"> <input type="text"
															class="col-lg-6 hideBorder" readonly="readonly"
															th:value="${session.mem.nick}">
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">요일</p>
													</div>
													<div class="row col-md-9">
														<label class="form-check-label col-md-2"><input
															type="radio" class="form-check-input" name="dayDiv"
															value="p0"> 평일 </label> <label
															class="form-check-label col-md-3"><input
															type="radio" class="form-check-input" name="dayDiv"
															value="p1"> 주말 </label>
															<label class="form-check-label col-md-3"><input
															type="radio" class="form-check-input" name="dayDiv"
															value="p2" checked> 요일협의 </label>
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">지불기준</p>
													</div>
													<select class="form-select form-group col-1.5 mr-2"
														aria-label="Default select example" id="wageDiv" name="wageDiv">
														<option value="" selected="selected">선택</option>
														<option value="s0">시급</option>
														<option value="s1">일급</option>
														<option value="s2">월급</option>
													</select>
												</div>
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">금액</p>
													</div>
													<div class="row col-md-9">
														<input type="number" class="form-control col-md-4"
															name="price" value="0" min="100">
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">체결 조건</p>
													</div>
													<div class="row col-md-9">
														<label class="form-check-label col-md-3"><input
															type="radio" class="form-check-input" name="cndt"
															value="q0" checked> 신청 대기 </label> <label
															class="form-check-label col-md-4"><input
															type="radio" class="form-check-input" name="cndt"
															value="q1"> 즉시 수락 </label>
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">본문</p>
													</div>
													<div class="row col-md-9">
														<textarea class="form-control col-lg-3" name="desct"
															rows="10"></textarea>
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="row col-lg-12">
													<div class="col-md-3">
														<p class="myInline col-lg-3 mb-0 textLeft">추가 내용</p>
													</div>
													<div class="row col-md-9">
														<textarea class="form-control col-lg-3"
															id="exampleFormControlTextarea5" rows="3"></textarea>
													</div>
												</div>
											</div>
											<div class="product__details__cart__option row"
												style="margin-top: 40px;">
												<button class="primary-btn col-lg-12"
													style="color: white; margin: 0 auto; margin-top: 20px;"
													id="addBtn">등록하기</button>
											</div>
										</div>
										<br>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		//첨부파일 가져오기
		$('#addFile').on('click', function() {
			$('#inputFile').click()
		})

		let dbPath;

		//첨부파일 업로드
		$('#inputFile').change(function() {
			var formData = new FormData(); //FormData 객체 생성

			var inputFile = $("input[type='file']")
			//input 태그의 type이 file인 것을 찯아서 inputFile 이라는 변수로 지정

			var files = inputFile[0].files;
			// files : 선택한 모든 파일을 나열하는 FileList 객체입니다 multiple 특성을 지정하지 않았다면 두 개 이상의 파일을
			// 포함하지 않습니다

			for (var i = 0; i < files.length; i++) {
				console.log(files[i]);
				if (files[i].type.includes('image')) {
					formData.append("uploadFiles", files[i]); //키,값으로 append

					$.ajax({
							url : 'uploadsAjax',
							type : 'POST',
							processData : false, // 기본값은 true, ajax 통신을 통해 데이터를 전송할때, 기본적으로 key와 value 값을 Query String으로 변환해서 보내줌
							contentType : false, // multipart/form-data 타입을 사용하기위해 false로 지정
							data : formData,
							success : function(result) {
								console.log(result)
								dbPath = result.dbPath
								$('#addFile').html('<img src="' + result.loadPath + '">')
								console.log(dbPath)

							},
							error : function(reject) {
								console.log(reject)
							}
					})
				} else {
					alert('이미지만 등록 가능합니다')
				}
			}

		})

		//ckEditor 데이터 가져오기
		 $('#addBtn').on('click', function () {

			 //데이터 입력 확인
			 if ($('.current').text() == '경매 신청일 선택') {
					 alert('경매 신청일을 선택하세요');
					 return;
				 } else if (!$('[name="title"]').val()) {
				 	alert('제목을 입력하세요');
				 	return;
				 } else if (!$('[name="wageDiv"]').val()) {
					 alert('지불기준을 선택하세요');
					 return;
				 } else if ($('[name="price"]').val() <= 0) {
					 alert('금액을 입력하세요');
					 return;
				 } else if ($('[name="desct"]').val()=="") {
					 alert('본문 내용을 입력하세요');
					 return;
				 } else {
					 let formData = $('#myForm').serializeObject();

					 formData.img = dbPath
					 console.log(formData);
					 
				 //ajax 금손 등록
				 $.ajax({
					 url: "insertSkilled",
					 method: "POST",
					 data: formData
				 })
				 .done(function (result) {
					 alert(result.retCode);
					 // location.href = "auctionList"
				 })
				 .fail(function (result) {
					 alert(result.body);
					 // location.href = "auctionList"
			 	}) 
		 	}
		 })
	</script>

</body>
</html>