<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>You GuiNong? Yes!</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&family=Poor+Story&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/css/jquery/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/magnific-popup.css"
	type="text/css">
<link rel="stylesheet" href="/css/jquery/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="/css/jquery/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/jquery/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/jQueryUI.css">
<link rel="stylesheet" href="/css/otherPlugins/sweetAlert.css"
	type="text/css">

<!-- Js Plugins -->
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/bootstrap.min.js"></script>
<script src="/js/jquery/jquery.nice-select.min.js"></script>
<script src="/js/jquery/jquery.nicescroll.min.js"></script>
<script src="/js/jquery/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery/jquery.countdown.min.js"></script>
<script src="/js/jquery/jquery.slicknav.js"></script>
<script src="/js/jquery/mixitup.min.js"></script>
<script src="/js/jquery/owl.carousel.min.js"></script>
<script src="/js/jquery/json.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery/jqueryUI.js"></script>
<script src="/js/otherPlugins/sweetAlert2-11.4.10.js"></script>
<style>
.set-bg {
	border-radius: 20px;
}

.spaceBottom {
	margin-bottom: 8px;
}

.space {
	margin-top: 25px;
}

.hideBorder {
	border: 0;
	background-color: transparent;
}

.bold {
	font-weight: bold;
}

.nickLabel {
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	background: #111111;
	padding: 6px 10px 4px;
	border-radius: 4px;
}

.btn {
	float: right;
	margin: 2px;
}

.right {
	text-align: right;
}

.smallChar {
	font-size: 14px;
	color: lightgray;
}
</style>
<body>
	<section class="shop-details">
		<div class="product__details__pic" style="background-color: white;">
			<div class="container">
				<div class="row col-lg-12">
					<div class="product__details__content col-lg-8">
						<div class="container">
							<div class="row d-flex justify-content-center row">
								<div class="col-lg-12">
									<div class="product__details__text">
										<div class="row">
											<h4>금손귀농인</h4>&nbsp;<h4 th:text="${goldInfo.div}"></h4>
											<br> <br>
											<div class="row col-lg-12">
												<div class="col-md-6">
													<div class="product__item__pic set-bg"
														th:if="${goldInfo.img == null and goldInfo.img == (null)} "
														th:style="'background-image: url(/img/noImg.png)'"></div>
													<div class="product__item__pic set-bg"
														th:if="${goldInfo.img != null and goldInfo.img != (null)} "
														th:style="'background-image: url(' + ${goldInfo.img} + ')'"></div>
												</div>
												<div class="col-md-6">
													<div class="col-md-12" style="text-align: left;">
														<div class="nickLabel spaceBottom"
															th:text="${goldInfo.nick}">닉네임</div>
													</div>
													<div>
														<label
															class="form-check-label col-lg-12 col-md-12 text-left spaceBottom"><span
															class="bold" th:text="${goldInfo.title}"></span></label>
													</div>
													<div>
														<label class="col-lg-12 col-md-12 text-left"><span
															th:text="${goldInfo.desct}"></span></label>
													</div>
												</div>
											</div>
											<div class="row col-lg-12"></div>


											<div class="row col-lg-12 space">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 지역</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.dst1Name}"></span></label> <label
														class="form-check-label col-lg-6 col-md-6 text-left"><span
														th:text="${goldInfo.dst2}"></span></label>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 요일</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.dayDiv}"></span></label>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 지불기준</p>
												</div>
												<div class="row col-md-3">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.wageDiv}"></span></label>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 금액</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${#numbers.formatInteger(goldInfo.price, 1, 'COMMA')}"></span>원</label>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 체결 조건</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.cndt}"></span></label>
												</div>
											</div>
										</div>
										<br>
										<div class="row"
											th:if="${goldInfo.addrDesct != null and goldInfo.addrDesct != '(null)'}">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 추가 내용</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.addrDesct}"></span></label>
												</div>
											</div>
										</div>
										<th:block th:if="${not #strings.isEmpty(session.mem)}">
											<div style="margin-top: 30px;"
												th:if="${session.mem.memNo} != ${goldInfo.memNo}">
												<div class="row">
													<span class="col"></span>
													<span class="col-md-4 right smallChar" th:if="${applyer=='Y'}">이미 신청한 게시글입니다.</span>												
												</div>
												<button type="button" class="btn btn-success" id="applyBtn"
													th:if="${goldInfo.cndt == '신청 대기'}" th:disabled="${applyer=='Y'} ? 'disabled'">신청</button>
												<button type="button" class="btn btn-success" th:onclick="applyConfirm()"
													th:if="${goldInfo.cndt == '즉시 수락'}">수락</button>
												<button type="button" class="btn btn-light"
													th:onclick="closeBtn()">닫기</button>
											</div>
											<div style="margin-top: 30px;"
												th:if="${session.mem.memNo} == ${goldInfo.memNo}">
												<button type="button" class="btn btn-dark"
													th:onclick="deleteInfo()">삭제</button>
												<button type="button" class="btn btn-success"
													th:onclick="updateInfo()">수정</button>
												<button type="button" class="btn btn-light"
													th:onclick="closeBtn()">닫기</button>
											</div>
										</th:block>
									</div>
									<!-- 새로운 모달 창 -->
									<div id="updateModal" class="white-popup mfp-hide">
										<!-- 여기에 모달 창에 로드할 컨텐츠를 표시할 공간 -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:inline="javascript">
		// 세션 정보
		let member;
		/*<![CDATA[*/
		let bool= [[${not #strings.isEmpty(session.mem)}]];
		if(bool){
			member = [[${session.mem}]]		
		}
		/*]]>*/
		
		let boardNo = /*[[${goldInfo.boardNo}]]*/;
		let dst1 = /*[[${goldInfo.dst1}]]*/;
		
		$(function(){
			
		})
		
		function deleteInfo() {
			boardNo = /*[[${goldInfo.boardNo}]]*/;
			
			Swal.fire({
				title: '정말 삭제하시겠습니까?',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText:"확인",
				cancelButtonText: "취소"
			}).then((result) => {
				if(result.isConfirmed){
					$.ajax({
						url: "/deleteSkilled",
						method: "POST",
						data : {boardNo}
					})
					.done(function (result){
						Swal.fire({
							title: '삭제가 완료되었습니다.',
							icon: 'success',
							confirmButtonText:"확인",
						}).then((result) => {
							parent.closePopUp();
						})	
					})
					.fail(function (result){
						console.log(result);
					})
				}
			})
			
		}
		
		// 수정 클릭 시 모달창
		function updateInfo(){
			let div = 'update';
			parent.closePopUp(boardNo, div);
		}
		
		// 신청 클릭 시 모달창
		$('#applyBtn').on('click', function(){
			let div = 'apply';
			parent.closePopUp(boardNo, div);
		})
		
		// 닫기 클릭 시 모달창 닫기
		function closeBtn(){
			parent.closePopUp();
		}
		
		// 수락 클릭 시 즉시 수락 진행
		function applyConfirm(){
			let memNo = member.memNo;
			
			Swal.fire({
				title: '즉시 수락하시겠습니까?',
				text: '즉시 수락의 경우, 작성자의 별도 수락 없이 바로 계약이 진행되며 신청 취소가 불가합니다. 진행하시겠습니까?',
				icon: 'info',
				showDenyButton: true,
				confirmButtonText: '네',
				denyButtonText: '아니오',
			}).then((result) => {
				if(result.isConfirmed){
					$.ajax({
						url: '/apply/Skilled',
						method: 'POST',
						data: {
							memNo : memNo,
							aplStts : 'kx',
							boardNo,
							aplMsg : ''
						}
					}).done(function(result) {
						memNo = /*[[${goldInfo.memNo}]]*/;
						let title = /*[[${goldInfo.title}]]*/;
						let alrtTitle = '등록하신 금손 귀농인 게시글이 즉시 수락되었습니다.';
						let alrtDesct = '금손 귀농인 게시글 ' + "'" + title + "'" + '이 즉시 수락되었습니다. \n마이페이지 나의 금손 귀농인에서 내역 확인이 가능합니다.\n지금 바로 확인하세요!\n감사합니다.😊'
						
						// 즉시 수락 상태 변경 ajax
						$.ajax({
							url: '/confirm/Skilled',
							method: 'POST',
							data: {boardNo},
							success: function(result){
								// console.log(result);
							}
						})
						
						// 즉시 수락 작성자 알림 ajax
						$.ajax({
							url: '/sendAlert',
							method: 'GET',
							data: {
								memNo : memNo,
								alrtTitle : alrtTitle,
								alrtDesct : alrtDesct,
								boardCtg : 'n3'
							},
							success: function(result){
								Swal.fire({
									title: '즉시 수락이 완료되었습니다.',
									text: '금손 귀농인 수락 현황은 마이페이지에서 확인할 수 있습니다. 마이페이지로 이동하시겠습니까?',
									icon: 'success',
									showDenyButton: true,
									confirmButtonText:"네",
									denyButtonText: '아니오',
								}).then((result) => {
									if(result.isConfirmed){
										let div = 'myPage';
										parent.closePopUp(boardNo, div);
									} else if(result.isDenied){
										parent.closePopUp();							
									}
								})
							},
							error: function(result){
								Swal.fire({
									title: '오류가 발생하였습니다.',
									text: '다시 시도부탁드립니다.',
									icon: 'error',
									confirmButtonText:"확인",
								}).then((result) => {
									parent.closePopUp();
								})
							}
						})
					}).fail(function(result) {
						Swal.fire({
							title: '오류가 발생하였습니다.',
							text: '다시 시도부탁드립니다.',
							icon: 'error',
							confirmButtonText:"확인",
						}).then((result) => {
							parent.closePopUp();
						})	
					})
					
				}
			})
		}
		
	</script>

</body>
</html>