<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>You GuiNong? Yes!</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&family=Poor+Story&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/css/jquery/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/magnific-popup.css"
	type="text/css">
<link rel="stylesheet" href="/css/jquery/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="/css/jquery/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/jquery/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/jQueryUI.css">
<link rel="stylesheet" href="/css/otherPlugins/sweetAlert.css"
	type="text/css">

<!-- Js Plugins -->
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/bootstrap.min.js"></script>
<script src="/js/jquery/jquery.nice-select.min.js"></script>
<script src="/js/jquery/jquery.nicescroll.min.js"></script>
<script src="/js/jquery/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery/jquery.countdown.min.js"></script>
<script src="/js/jquery/jquery.slicknav.js"></script>
<script src="/js/jquery/mixitup.min.js"></script>
<script src="/js/jquery/owl.carousel.min.js"></script>
<script src="/js/jquery/json.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery/jqueryUI.js"></script>
<script src="/js/otherPlugins/sweetAlert2-11.4.10.js"></script>
<style>
.set-bg {
	border-radius: 20px;
}

.spaceBottom {
	margin-bottom: 8px;
}

.space {
	margin-top: 25px;
}

.hideBorder {
	border: 0;
	background-color: transparent;
}

.bold {
	font-weight: bold;
}

.nickLabel {
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	background: #111111;
	padding: 6px 10px 4px;
	border-radius: 4px;
}

.btn {
	float: right;
	margin: 2px;
}
</style>
<body>
	<section class="shop-details">
		<div class="product__details__pic" style="background-color: white;">
			<div class="container">
				<div class="row col-lg-12">
					<div class="product__details__content col-lg-8">
						<div class="container">
							<div class="row d-flex justify-content-center row">
								<div class="col-lg-12">
									<div class="product__details__text">
										<div class="row">
											<h4>금손귀농인</h4>&nbsp;<h4 th:text="${goldInfo.div}"></h4>
											<br> <br>
											<div class="row col-lg-12">
												<div class="col-md-6">
													<div class="product__item__pic set-bg"
														th:if="${goldInfo.img == null and goldInfo.img == (null)} "
														th:style="'background-image: url(/img/noImg.png)'"></div>
													<div class="product__item__pic set-bg"
														th:if="${goldInfo.img != null and goldInfo.img != (null)} "
														th:style="'background-image: url(' + ${goldInfo.img} + ')'"></div>
												</div>
												<div class="col-md-6">
													<div class="col-md-12" style="text-align: left;">
														<div class="nickLabel spaceBottom"
															th:text="${goldInfo.nick}">닉네임</div>
													</div>
													<div>
														<label
															class="form-check-label col-lg-12 col-md-12 text-left spaceBottom"><span
															class="bold" th:text="${goldInfo.title}"></span></label>
													</div>
													<div>
														<label class="col-lg-12 col-md-12 text-left"><span
															th:text="${goldInfo.desct}"></span></label>
													</div>
												</div>
											</div>
											<div class="row col-lg-12"></div>


											<div class="row col-lg-12 space">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 지역</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.dst1Name}"></span></label> <label
														class="form-check-label col-lg-6 col-md-6 text-left"><span
														th:text="${goldInfo.dst2}"></span></label>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 요일</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.dayDiv}"></span></label>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 지불기준</p>
												</div>
												<div class="row col-md-3">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.wageDiv}"></span></label>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 금액</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${#numbers.formatInteger(goldInfo.price, 1, 'COMMA')}"></span>원</label>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 체결 조건</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.cndt}"></span></label>
												</div>
											</div>
										</div>
										<br>
										<div class="row"
											th:if="${goldInfo.addrDesct != null and goldInfo.addrDesct != '(null)'}">
											<div class="row col-lg-12">
												<div class="col-md-3">
													<p class="col-lg-3 mb-0 text-left">✅ 추가 내용</p>
												</div>
												<div class="row col-md-9">
													<label class="form-check-label text-left"><span
														th:text="${goldInfo.addrDesct}"></span></label>
												</div>
											</div>
										</div>
										<th:block th:if="${not #strings.isEmpty(session.mem)}">
											<div style="margin-top: 30px;"
												th:if="${session.mem.memNo} != ${goldInfo.memNo}">
												<button type="button" class="btn btn-success" id="applyBtn"
													th:if="${goldInfo.cndt == '신청 대기'}">신청</button>
												<button type="button" class="btn btn-success"
													th:if="${goldInfo.cndt == '즉시 수락'}">수락</button>
												<button type="button" class="btn btn-light"
													th:onclick="closeBtn()">닫기</button>
											</div>
											<div style="margin-top: 30px;"
												th:if="${session.mem.memNo} == ${goldInfo.memNo}">
												<button type="button" class="btn btn-dark"
													th:onclick="deleteInfo()">삭제</button>
												<button type="button" class="btn btn-success"
													th:onclick="updateInfo()">수정</button>
												<button type="button" class="btn btn-light"
													th:onclick="closeBtn()">닫기</button>
											</div>
										</th:block>
									</div>
									<!-- 새로운 모달 창 -->
									<div id="updateModal" class="white-popup mfp-hide">
										<!-- 여기에 모달 창에 로드할 컨텐츠를 표시할 공간 -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:inline="javascript">
		let boardNo = /*[[${goldInfo.boardNo}]]*/;
		let dst1 = /*[[${goldInfo.dst1}]]*/;
		
		function deleteInfo() {
			boardNo = /*[[${goldInfo.boardNo}]]*/;
			console.log(boardNo);
			
			Swal.fire({
				title: '정말 삭제하시겠습니까?',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText:"확인",
				cancelButtonText: "취소"
			}).then((result) => {
				if(result.isConfirmed){
					$.ajax({
						url: "/deleteSkilled",
						method: "POST",
						data : {boardNo}
					})
					.done(function (result){
						console.log(result);
						Swal.fire({
							title: '삭제가 완료되었습니다.',
							icon: 'success',
							confirmButtonText:"확인",
						}).then((result) => {
							parent.closePopUp();
						})	
					})
					.fail(function (result){
						console.log(result);
					})
				}
			})
			
		}
		
		// 수정 클릭 시 모달창
		function updateInfo(){
			parent.closePopUp(boardNo);
		}
		
		// 신청 클릭 시 모달창
		$('#applyBtn').on('click', function(){
			parent.closePopUp(boardNo);
		})
		
		// 닫기 클릭 시 모달창 닫기
		function closeBtn(){
			parent.closePopUp();
		}
	</script>

</body>
</html>