<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Market, Auction">
<meta name="keywords" content="Auction">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>금손귀농인</title>
<style>
.set-bg {
	border-radius: 20px;
}

.card-wageDiv, .card-dayDiv {
	color: gray;
}

.card-text, .card-title {
	display:block;
 	overflow: hidden; 
 	text-overflow: ellipsis;
 	white-space: nowrap; 
 	width: 230px;
}

.myRight {
	float: right;
}

.myFontSizeMin {
	font-size: small;
}

.myInline {
	display: inline;
}

.hidden {
	display: none;
}

#skills {
	padding: 15px;
}

#addBtn {
	margin-left: 20px;
}

.tab-pane p {
	margin-bottom: 50px;
}

h5:has(.countdown) {
	color: #DF0101;
}

.highestBid {
	font-weight: 900;
	color: green;
}

.fixedOption {
	height: 150px;
}

.toggleshow {
	display: none;
}

.toggleContainer {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 380px;
	border: 3px solid #1f502a;
	border-radius: 20px;
	background: #1f502a;
	font-weight: bold;
	color: #1f502a;
	cursor: pointer;
	margin: auto;
	margin-bottom: 10px;
}

.toggleContainer::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0%;
	border-radius: 20px;
	background: white;
	transition: all 0.3s;
}

.toggleCheckbox:checked+.toggleContainer::before {
	left: 50%;
}

.toggleContainer div {
	padding: 6px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	z-index: 1;
	text-align: center;
}

.toggleCheckbox {
	display: none;
}

.toggleCheckbox:checked+.toggleContainer div:first-child {
	color: white;
	transition: color 0.3s;
}

.toggleCheckbox:checked+.toggleContainer div:last-child {
	color: #1f502a;
	transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:first-child {
	color: #1f502a;
	transition: color 0.3s;
}

.toggleCheckbox+.toggleContainer div:last-child {
	color: white;
	transition: color 0.3s;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농촌 체험</h4>
							<div class="breadcrumb__links">
								<span>정겨운 우리의 고향에서 할 수 있는 다양한 활동을 경험해보세요!</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Shop Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">농촌
												체험</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="bnbList">농촌 비엔비</a></li>
														<li><a href="expList">농촌 체험하기</a></li>
														<li><b><a href="skilledList"
																style="color: black;">금손 귀농인</a></b></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="row" id="selCondition">
										<div class="col-lg-6 col-md-4"></div>
										<!-- 지역1 선택창 -->
										<div>
											<select class="form-select form-group col-1.5 mr-2"
												aria-label="Default select example" id="dst1">
												<option value="" selected="selected">도</option>
												<option th:each="opt : ${dst1}" th:text="${opt.codeDesct}"
													th:value="${opt.cmmnDetaCode}"></option>
											</select>
										</div>
										<!-- 지역2 선택창 -->
										<div>
											<select class="form-select form-group col-1.5 mr-2"
												aria-label="Default select example" id="dst2">
												<option value="">시·군</option>
											</select>
										</div>
										<!-- 검색창 -->
										<div>
											<label><input class="form-control" id="searchVal"
												placeholder="제목을 검색하세요."></label>
											<button type="button" class="searchBtn btn btn-dark">검색</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- 구해요 / 할게요 토글 -->
						<div class="shop__product__option">
							<div class="skilledExpert">
								<div class="FixedOption">
									<input type="checkbox" id="toggle" class="toggleCheckbox" /> <label
										for="toggle" class="toggleContainer">
										<div>구해요</div>
										<div>할게요</div>
									</label>
									<div sec:authorize="hasRole('ROLE_REGULAR')" style="text-align: right; color: gray;">
										<input type="checkbox" id="check1"> <label
											for="check1">내가 쓴 글 보기</label>
										<button type="button" id="addBtn" class="btn btn-secondary">등록</button>
									</div>
								</div>
							</div>
							<div class="row" id="skList">
								<!-- 금손 리스트 -->
							</div>
							<div class="row" style="text-align: center;">
								<div class="row col-lg-12" id="pageDiv">
									<!-- 페이징 -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- 이벤트 카드 리스트 clone용 -->
		<div class="col-lg-4 col-md-6 col-sm-6 hidden" id="skills">
			<div class="product__item">
				<div class="product__item__pic set-bg" id="img" data-setbg="">
				</div>
				<div class="product__item__text">

					<span class="card-nick" style="font-size: small;"> 닉네임 </span> | <span
						class="card-dst2" style="font-size: small;">지역2</span>
					<p class="hidden card-boardNo"></p>
					<p style="font-weight: 900; margin-bottom: 0;" class="card-title">제목</p>
					<p style="font-size: small;" class="card-text">본문</p>
					<span class="myFontSizeMin myInline myRight card-wageDiv">조건</span>
					<span class="myFontSizeMin myInline myRight">/</span>
					<span class="myFontSizeMin myInline myRight card-dayDiv">조건</span>
					<br>
					<div>
						<div>
							<button id="detailBtn" class="btn btn-outline-success"
								style="width: 50px; height: 30px; font-size: 12px;">보기</button>
							<span class="myInline myRight">원</span>
							<span class="myInline myRight card-price" style="font-weight: bold;">보수</span>
							<img alt="" src="/img/bill.png" class="myInline myRight"
								style="width: 14px; height: 18px; margin-right: 5px;">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- pageDiv clone용-->
		<div class="product__pagination" style="display: none;" id="pageItem">
			<a class="myInline" id="prevPage">◁</a>
			<div id="pageNumDiv" class="myInline">
				<a id="pageNum">a</a>
			</div>
			<a class="myInline" id="nextPage">▷</a>
		</div>



		<script th:inline="javascript">
			// 세션 정보
			let member;
			/*<![CDATA[*/
			let bool= [[${not #strings.isEmpty(session.mem)}]];
			if(bool){
				member = [[${session.mem}]]		
			}
			/*]]>*/
		
		
			let div = 'o0';
			let title = '';
		
			$(function(){
			    goldData(div, 1);
			})
			
			// 구해요/할게요 토글로 구현
			$('#toggle').on('click', function(){
				let goldWay = $(this).prop("checked");
				
				if (goldWay) {
					console.log('volunteered');
					div = 'o1';
				}else {
					console.log('wanted');
					div = 'o0'
				}
				goldData(div, 1);
			})
			

			// 리스트 데이터 가져오기
			function goldData(div, pageNum, dst1, dst2, title, memNo){
				$.ajax({
					url: "/skilledList",
					method: "GET",
					data: {
			            div,
						pageNum,
						dst1,
						dst2,
						title,
						memNo
					},
					success(data){
						console.log(data);
						printList(data, dst1, dst2, title, memNo);
						
						// 지역2 select box 출력
						if(data.dst2) {
							$('#dst2').empty();
							$('#dst2').append(`<option value="">시·군</option>`);
							$(data.dst2).each((idx, item) => {
								if(item.cmmnDetaCode == dst2){
									$('#dst2').append(`<option value="${item.cmmnDetaCode}" selected>${item.codeDesct}</option>`)
								}else {
									$('#dst2').append(`<option value="${item.cmmnDetaCode}">${item.codeDesct}</option>`)
								}
							});
							$('#dst2').niceSelect('update');
							$('#dst2').niceScroll();
						}
					},
					error(reject){
						console.log(reject);
					}
				})
			}

			// 리스트 출력
			function printList(data, dst1, dst2, title, memNo){
				$('#skList').children().remove();
				$('#pageDiv').children().remove();
				
				let goldData = data.gold;
				let pageData = data.page;
				
				$(goldData).each((idx, item) => {
					printItem(item);
				})
				
				printPage(pageData, dst1, dst2, title, memNo);
			}
			
			// 게시글 생성 및 추가 함수
			function printItem(item){
				let clone = $('#skills').clone();
				$(clone).css({'display' : 'block'});
				let imageUrl = item.img;
				console.log(imageUrl);
				
				// 데이터 넣기
		
				$(clone).find('.set-bg').css('background-image', 'url(/img/noImg.png)');
				if(imageUrl != null){
					$(clone).find('.set-bg').css('background-image', 'url('+imageUrl+')');					
				}
				$(clone).find('.set-bg').on('click', function(){
					//location.href = `eventInfo?postCtg=i4&boardNo=${item.boardNo}`
				})
				$(clone).find('.card-boardNo').text(item.boardNo);
				$(clone).find('.card-nick').text(item.nick);
				$(clone).find('.card-dst2').text(item.dst2);
				$(clone).find('.card-dayDiv').text(item.dayDiv);
				$(clone).find('.card-wageDiv').text(item.wageDiv);
				$(clone).find('.card-title').text(item.title);
				$(clone).find('.card-text').text(item.desct);
				
				// 금액 세 자리 콤마해서 넣기
				let price = parseInt(item.price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');;
				
				$(clone).find('.card-price').text(price);
				
				$('#skList').append(clone);
			}
			
			// 페이지 출력
			function printPage(pageData, dst1, dst2, title, memNo){
				let pageItem = $('#pageItem').clone()
				$(pageItem).css({'display' : 'block'});
				$(pageItem).find('#prevPage').on('click',function(){
					goldData(div, pageData.startPage - 1)
				})
				$(pageItem).find('#nextPage').on('click',function(){
					goldData(div, pageData.endPage + 1)
				})

				if(!pageData.prev){
					$(pageItem).find('#prevPage').hide()
				}
				if(!pageData.next){
					$(pageItem).find('#nextPage').hide()
				}

				for (let i = pageData.startPage; i <= pageData.endPage; i++) {
					let clone = $('#pageItem').find('#pageNum').clone()
					$(clone).text(i);
					if(i == pageData.pageNum){
						$(clone).addClass('active')
						$(clone).css('border-color','orange')
					}
					$(clone).on('click', function () {
						getCondition(i, title, dst1, dst2);
					})
					$(pageItem).find('#pageNumDiv').append(clone)
				}

				$(pageItem).find('#pageNum')[0].remove()
				$('#pageDiv').append(pageItem)
			}
			
			// 조건 값 변경 시 컨트롤 정보 보내기
			function getCondition(pageNum, title, memNo){
				let dst1 = $('#dst1').val();
				let dst2 = $('#dst2').val();
				
				if(pageNum == null){
					pageNum = 1
				}

				goldData(div, pageNum, dst1, dst2, title, memNo);
			}
			
			// 지역1 카테고리 변경 시
			$('#dst1').change(function() {
				getCondition();
			});
			// 지역2 카테고리 변경 시
			$('#dst2').change(function() {
				getCondition();
			});
			
			//팝업창 닫기 함수
			function closePopUp(boardNo){
				console.log(boardNo);
				var magnificPopup = $.magnificPopup.instance; 
				magnificPopup.close(); 
				if(typeof boardNo == 'undefined'){
					location.reload();
				}else {
					modalUpdate(boardNo);
				}
			}
			
			// 등록 모달창
			$('#addBtn').magnificPopup({
						items:[{
						src:"/add/Skilled",
					}],
					type: 'iframe'
			})
						
			// 보기 클릭 시 상세 조회 모달창
			$(document).on('click', '#detailBtn', function() {
				let boardNo = $(this).parent().parent().parent().find('.card-boardNo').text();
				console.log(boardNo);
				
				// 팝업
				$.magnificPopup.open({
					items: [{
						src: "/skilledInfo?boardNo=" + boardNo,
						type: 'iframe'
					}]
				})
			})
			
			// 상세 조회 모달창 닫고 수정 모달창 열기
			function modalUpdate(boardNo){
				// 팝업
				$.magnificPopup.open({
					items: [{
						src: "/update/Skilled?boardNo=" + boardNo,
						type: 'iframe'
					}]
				})
			}
			
			// 검색 기능
			$('.searchBtn').on('click', function(){
				title = $('#searchVal').val();
				console.log(title);
				
				getCondition(1, title);
				
			})
			
			// 내가 쓴 글 보기
			$('#check1').on('change', function(){
				console.log($(this).is(':checked'))
				if($(this).is(':checked')  == true){
					let memNo = member.memNo;
					getCondition(1, title, memNo);
				}else {
					goldData(div, 1);
				}
			})
			
			// 상세 조회 모달창 닫고 신청 모달창 열기
			function modalApply(boardNo){
				// 팝업
				$.magnificPopup.open({
					items: [{
						src: "/apply/Skilled?boardNo=" + boardNo,
						type: 'iframe'
					}]
				})
			}
			
		</script>
	</div>
</body>

</html>