<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Male_Fashion Template">
	<meta name="keywords" content="Male_Fashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>cart</title>
	<link rel="stylesheet" href="css/sungWookCss/sungook.css" type="text/css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/vue-router@4"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader/dist/vue3-sfc-loader.js"></script>
	<script src="js/Vue-load.js"></script>
	<script src="js/myRouter.js"></script>
	<script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>
	<style>
		.myBlack{
			background-color:green
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<div id="app">
			<!-- 제목 시작 -->
			<div class="justify-content-center">
				<br>
				<h3 class="current text-center">장바구니</h3>
			</div>
			<!-- 제목 끝 -->
			<!-- 본문 시작 -->
			<section class="shopping-cart spad" style="padding-top: 10px;">
				<div class="container">
					<hr>
					<br>
					<div class="row">
						<!-- 사이드바 시작 -->
						<div class="col-lg-3">
							<div class="shop__sidebar">
								<div class="shop__sidebar__accordion">
									<div class="accordion" id="accordionExample">
										<div class="card">
											<div class="card-heading">
												<a data-toggle="collapse" data-target="#collapseOne" style="font-size: larger;">장바구니</a>
											</div>
											<div id="collapseOne" class="collapse show" data-parent="#accordionExample">
												<div class="card-body">
													<div class="shop__sidebar__categories">
														<ul>
															<li>
																<router-link to="/" class="nav-link myBlack" aria-current="page" id="n8Cart">농작물판매
																</router-link>
															</li>
															<li>
																<router-link to="/n2Cart" class="nav-link" aria-current="page">농기구판매
																</router-link>
															</li>
															<li>
																<router-link to="/n7Cart" class="nav-link" aria-current="page">전원마켓</router-link>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 사이드바 끝 -->
						<router-view></router-view>
					</div>
				</div>
			</section>
			<!-- 본문 끝 -->

		</div>
		<script th:inline="javascript">
			$(function(){

				$('a').on('click',function(e){
					console.log('a')
					$('a').removeClass('myBlack')
					$(e.target).addClass('myBlack')
				})
			})

			//vuex
			const {	createStore	} = Vuex
			//vuex 객체
			const store = createStore({
				state() {
					return {
						mem: /*[[${session.mem}]]*/
					}
				}
			})

			const {
				createApp
			} = Vue;
			createApp({
					data() {
						return {}
					},
					methods: {}
				}).use(router)
				.use(store) //vuex 객체 연결
				.mount('#app'); //use(router 객체 이름)
		</script>
	</div>
</body>

</html>