<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.common.mapper.AlertMapper">
	<!-- 알림보내기 -->
	<insert id="addAlert" parameterType="AlertVO">
		INSERT INTO alert (ALRT_NO, MEM_NO,ALRT_STTS, ALRT_TITLE, ALRT_DESCT,BOARD_CTG,ALRT_DATE)
		VALUES (('ALRT'||LPAD(alrt_seq.NEXTVAL,5,0)), 
		        #{memNo}, 
		        'L1', 
		        #{alrtTitle} ,
		        #{alrtDesct}, 
		        #{boardCtg}, 
		        sysdate)
	</insert>
	
	<!-- 나의 미열람 알림조회 -->
	<select id="myAlert" parameterType="String" resultType="AlertVO">
		SELECT *
		FROM alert
		WHERE mem_no = #{memNo}
		AND alrt_stts = 'L1'
		order by alrt_date desc 
	</select>
	
	
</mapper>