<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.common.mapper.MainMapper">
	<select id="selectImg" resultType="MainVO">
		select * 
		from recom_crops join recom_crops_info
		on recom_crops.map_no = recom_crops_info.map_no
		where dst_ctg = #{dstCtg}
		order by (recom_crops.map_no)*1	
	</select>
</mapper>

