<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Market, Auction">
	<meta name="keywords" content="Auction">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>유귀농 경매장</title>
	<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
</head>
<style>
	.shop__product__link__right > a {
		text-decoration-color: none;
	}
</style>

<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>경매장</h4>
							<div class="breadcrumb__links">
								<a href="../index.html">홈</a> <a href="#">농촌마켓</a> <span>경매장</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Shop Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">농촌마켓</a>
										</div>
										<div id="collapseOne" class="collapse show" data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="#">농작물 판매</a></li>
														<li><a href="#">농작물 펀딩</a></li>
														<li><b><a href="#" style="color:black;">경매장</a></b></li>
														<li><a href="#">전원마켓</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="shop__product__option__left">
										<p>Showing 1–12 of 126 results</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="shop__product__link__right text-right">
										<a href="#"><span>최신순</span></a> / 
										<a href="#"><span>인기순</span></a> / 
										<a href="#"><span>최저가순</span></a> / 
										<a href="#"><span>최고가순</span></a>
									</div>
									<!-- 
									<div class="shop__product__option__right">
										<p>Sort by Price:</p>
										<select>
											<option value="">Low To High</option>
											<option value="">$0 - $55</option>
											<option value="">$55 - $100</option>
										</select>
									</div>
									 -->
								</div>
							</div>
						</div>
						<div class="row" id="auctionList">
							<div class="col-lg-4 col-md-6 col-sm-6" th:each="act : ${actList}" th:if="${act.regStts} == 'e1'">
								<div class="product__item">
									<div class="product__item__pic set-bg" data-th-data-setbg="|/img/market/auction/${act.rep}|">
										<!-- <span class="label">종료임박</span> -->
										<ul class="product__hover">
											<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
										</ul>
									</div>
									<div class="product__item__text">
										<h6 th:text="${act.actTitle}">상품명</h6>
										<a href="#" class="add-cart">+ 즉시 구매가 <span th:text="${#numbers.formatInteger(act.bnp, 1, 'COMMA')} +'원'"></span></a>
										현재 입찰가 <span th:text="${#numbers.formatInteger(act.bidPrice, 1, 'COMMA')}"></span>원
										<div class="countdown">
											<span th:text="${#dates.format(act.actDate, 'yyyy/MM/dd')}"></span>
											<input th:value="${act.actTrm}" type="hidden">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="product__pagination">
									<a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
									<span>...</span> <a href="#">21</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Section End -->

		<!-- Related Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h4 class="related-title">다음 경매 미리보기</h4>
					</div>
				</div>
				<div class="row">
					<div class="related__products__slider owl-carousel">
						<div class="col-lg-3">
							<div class="product__item">
								<div class="product__item__pic set-bg" data-setbg="/img/market/auction/Daechu.jpg">
									<div class="product__label">
										<span>Cupcake</span>
									</div>
								</div>
								<div class="product__item__text">
									<h6><a href="#">Dozen Cupcakes</a></h6>
									<div class="product__item__price">$32.00</div>
									<div class="cart_add">
										<a href="#">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="product__item">
								<div class="product__item__pic set-bg" data-setbg="img/shop/product-2.jpg">
									<div class="product__label">
										<span>Cupcake</span>
									</div>
								</div>
								<div class="product__item__text">
									<h6><a href="#">Cookies and Cream</a></h6>
									<div class="product__item__price">$30.00</div>
									<div class="cart_add">
										<a href="#">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="product__item">
								<div class="product__item__pic set-bg" data-setbg="img/shop/product-3.jpg">
									<div class="product__label">
										<span>Cupcake</span>
									</div>
								</div>
								<div class="product__item__text">
									<h6><a href="#">Gluten Free Mini Dozen</a></h6>
									<div class="product__item__price">$31.00</div>
									<div class="cart_add">
										<a href="#">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="product__item">
								<div class="product__item__pic set-bg" data-setbg="img/shop/product-4.jpg">
									<div class="product__label">
										<span>Cupcake</span>
									</div>
								</div>
								<div class="product__item__text">
									<h6><a href="#">Cookie Dough</a></h6>
									<div class="product__item__price">$25.00</div>
									<div class="cart_add">
										<a href="#">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="product__item">
								<div class="product__item__pic set-bg" data-setbg="img/shop/product-5.jpg">
									<div class="product__label">
										<span>Cupcake</span>
									</div>
								</div>
								<div class="product__item__text">
									<h6><a href="#">Vanilla Salted Caramel</a></h6>
									<div class="product__item__price">$05.00</div>
									<div class="cart_add">
										<a href="#">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="product__item">
								<div class="product__item__pic set-bg" data-setbg="img/shop/product-6.jpg">
									<div class="product__label">
										<span>Cupcake</span>
									</div>
								</div>
								<div class="product__item__text">
									<h6><a href="#">German Chocolate</a></h6>
									<div class="product__item__price">$14.00</div>
									<div class="cart_add">
										<a href="#">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Related Section End -->

		<!-- Search Begin -->
		<div class="search-model">
			<div class="h-100 d-flex align-items-center justify-content-center">
				<div class="search-close-switch">+</div>
				<form class="search-model-form">
					<input type="text" id="search-input" placeholder="Search here.....">
				</form>
			</div>
		</div>
		<!-- Search End -->

		<script>
			// 경매종료일 countdown
			let auctionDate = $('.countdown > span').text();
			let formattedDate = moment(auctionDate).format('yyyy-MM-dd');
			
			console.log(formattedDate);
			
			
		</script>
	</div>
</body>

</html>