<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Market, Auction">
<meta name="keywords" content="Auction">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>유귀농 경매장</title>
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
</head>
<style>
.shop__product__link__right>a {
	text-decoration-color: none;
}

.emphasis__red {
	color: red;
}
</style>

<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>경매장</h4>
							<div class="breadcrumb__links">
								<a href="../index.html">홈</a> <a href="#">농촌마켓</a> <span>경매장</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Shop Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">농촌마켓</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="#">농작물 판매</a></li>
														<li><a href="#">농작물 펀딩</a></li>
														<li><b><a href="#" style="color: black;">경매장</a></b></li>
														<li><a href="#">전원마켓</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<!-- 
									<div class="shop__product__option__left">
										<p>Showing 1–12 of 126 results</p>
									</div>
									 -->
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="shop__product__link__right text-right">
										<a href="#"><span class="order">인기순</span></a> / 
										<a href="#"><span class="order">최저가순</span></a> /
										<a href="#"><span class="order">최고가순</span></a> / 
										<a href="#"><span class="order">마감임박순</span></a>
									</div>
									<!-- 
									<div class="shop__product__option__right">
										<p>Sort by Price:</p>
										<select>
											<option value="">Low To High</option>
											<option value="">$0 - $55</option>
											<option value="">$55 - $100</option>
										</select>
									</div>
									 -->
								</div>
							</div>
						</div>
						<div class="row" id="auctionList"></div>
						<div class="row" id="pageDiv"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Section End -->

		<!-- 다음 회차 경매 미리보기 -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h4 class="related-title">다음 경매 미리보기</h4>
					</div>
				</div>

				<div class="row">
				<p>aaaaa</p>
					<div class="related__products__slider owl-carousel" id="nextAuctionList">
					<p>aaaaa</p>
						<div class="col-lg-3" id="nextAuction">
							<div class="product__item">
								<div class="product__item__pic set-bg" data-setbg=""></div>
								<div class="product__item__text">
									<h6>상품명</h6>
									<div class="product__item__price"><span class="nextBuyNow"></span></div>
									<div class="cart_add">
										<a href="#">Add to cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Related Section End -->

		<!-- Search Begin -->
		<div class="search-model">
			<div class="h-100 d-flex align-items-center justify-content-center">
				<div class="search-close-switch">+</div>
				<form class="search-model-form">
					<input type="text" id="search-input" placeholder="Search here.....">
				</form>
			</div>
		</div>
		<!-- Search End -->


		<!-- clone용 auctionList -->
		<div class="col-lg-4 col-md-6 col-sm-6" id="auction" style="display: none;">
			<div class="product__item">
				<div class="product__item__pic set-bg" data-setbg="">
					<!-- <span class="label">종료임박</span> -->
					<ul class="product__hover">
						<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
					</ul>
				</div>
				<div class="product__item__text">
					<h6>상품명</h6>
					<a href="#" class="add-cart">+ 즉시 구매가 <span class="buyNow"></span></a>
					현재 입찰가 <span class="currentBid"></span>원
					<div class="countdown">
						경매 종료일 <span style="color: red;" class="bidEndDate"></span> <input
							class="actPeriod" type="hidden">
					</div>
				</div>
			</div>
		</div>
		<!-- pageDiv -->
		<div class="product__pagination" style="display: none;" id="pageItem">
			<a class="myInline" id="prevPage">◁</a>
			<div id="pageNumDiv" class="myInline">
				<a id="pageNum">a</a>
			</div>
			<a class="myInline" id="nextPage">▷</a>
		</div>


		<script>
			// 경매 전체 리스트 조회
			$(function(){
				ajaxData(1);
				auctionNext();
				
			})
			
			// 리스트 데이터 아작스로 가져오기
			function ajaxData(page, order){
				$.ajax({
					url: "auction",
					method: "GET",
					data: {
						page,
						order
					},
					success(data){
						printList(data, order);
					},
					error(reject){
						console.log(reject);
					}
				})
			}
			
			
			// 리스트 출력
			function printList(data, order){
				$('#auctionList').children().remove();
				$('#pageDiv').children().remove();
				
				let auctionData = data.auctionList;
				let pageData = data.page;
				
				$(auctionData).each((idx, item) => {
					printItem(item);
				})
				
				printPage(pageData, order);
				
			}
			
			// 경매 생성 및 추가 함수
			function printItem(item){
				let clone = $('#auction').clone();
				$(clone).css({'display' : 'block'});
				
				// 데이터 넣기
				let imageUrl = '/img/market/auction/' + item.rep;
				$(clone).find('.set-bg').css('background-image', 'url('+ imageUrl +')');
				$(clone).find('.set-bg').on('click', function(){
					location.href = `auctionInfo?actNo=${item.actNo}`
				})
				$(clone).find('h6').text(item.actTitle);				
				$(clone).find('.buyNow').text(number_format(item.bnp) + '원');
				$(clone).find('.currentBid').text(number_format(item.bidPrice));
				
				
				// 경매 기간별 카운트 다운
				let standard = new Date(item.actDate);
				let period = Number(item.actTrm);
				standard.setDate(standard.getDate() + period);
				
				$(clone).find('.bidEndDate').countdown(standard, function(event){
					$(this).html(
							event.strftime('%D일 %H:%M:%S')
						)
				})
				
				$('#auctionList').append(clone)
				
			}
			
			// 세자리마다 콤마 찍기
			function number_format(num){
			    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g,',');
			}

			// 페이지 출력 
			function printPage(pageData, order) {
				
				let pageItem = $('#pageItem').clone()
				$(pageItem).css({'display' : 'block'});
				$(pageItem).find('#prevPage').on('click',function(){
					ajaxData(pageData.startPage - 1)
				})
				$(pageItem).find('#nextPage').on('click',function(){
					ajaxData(pageData.endPage + 1)
				})

				if(!pageData.prev){
					$(pageItem).find('#prevPage').hide()
				}
				if(!pageData.next){
					$(pageItem).find('#nextPage').hide()
				}

				for (let i = pageData.startPage; i <= pageData.endPage; i++) {
					let clone = $('#pageItem').find('#pageNum').clone()
					$(clone).text(i);
					if(i == pageData.pageNum){
						$(clone).addClass('active')
						$(clone).css('border-color','orange')
					}
					$(clone).on('click', function () {
						getCondition(i, order);
					})
					$(pageItem).find('#pageNumDiv').append(clone)
				}

				$(pageItem).find('#pageNum')[0].remove()
				$('#pageDiv').append(pageItem)
			}
			
			// 정렬 방식 클릭 시
			$('.order').on('click', function(){
				event.preventDefault();
				let order = $(this).text();
				
				ajaxData(1, order);
				
			})
			
			// 조건 값 변경 시 컨트롤 정보 보내기
			function getCondition(page, order){
				// let order = $('.order').text()
				if(page == null){
					page = 1
				}

				ajaxData(page, order);
			}
			
			// 다음 경매 미리보기 리스트
			function auctionNext(){
				$.ajax({
					url: "auctionNext",
					method: "GET",
					success(data){
						printNextList(data);
					},
					error(reject){
						console.log(reject);
					}
				})
			}
			
			function printNextList(data){
				$('#nextAuctionList').children().remove();
				
				let nextAuctionData = data.nextAuctionList;
				
				$(nextAuctionData).each((idx, item) => {
					printNextItem(item);
				})
			}
			
			function printNextItem(item){
				let clone = $('#nextAuction').clone();
				$(clone).css({'display' : 'block'});
				
				// 데이터 넣기
				let imageUrl = '/img/market/auction/' + item.rep;
				$(clone).find('.set-bg').css('background-image', 'url('+ imageUrl +')');
				$(clone).find('h6').text(item.actTitle);				
				$(clone).find('.NextBuyNow').text(number_format(item.bnp) + '원');
				
				$('#nextAuctionList').append(clone)
			}
			
			
		</script>
	</div>
</body>

</html>