@charset "UTF-8";

.OUTLINE {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
}

#CD11 {
  fill: #dfdfdf;
}

#CD26 {
  fill: #dfdfdf;
}

#CD27 {
  fill: #dfdfdf;
}

#CD28 {
  fill: #dfdfdf;
}

#CD29 {
  fill: #dfdfdf;
}

#CD30 {
  fill: #dfdfdf;
}

#CD31 {
  fill: #dfdfdf;
}

#CD36 {
  fill: #dfdfdf;
}

#CD41 {
  fill: #43b343;
}

#CD42 {
  fill: #ff7bda;
}

#CD43 {
  fill: #fff700;
}

#CD44 {
  fill: #70f99c;
}

#CD45 {
  fill: #3f6f9f;
}

#CD46 {
  fill: #a987ff;
}

#CD47 {
  fill: #ff6600;
}

#CD48 {
  fill: #04dbd0;
}

#CD50 {
  fill: #ffa600;
}

.TEXT {
  fill: #ffffff;
  font-size: 30;
  font-weight: bold;
  text-anchor: middle;
  /* alignment-baseline: middle; */
}

.season {
    width: 80px;
    font-size: large;
    font-weight: bold;
    background-color: #ebebeb;
    color: rgb(84 84 84);
    border: none;
    border-radius: 50%;  
}

.btn-two {
  margin: 9px;
  border-radius: 10px;
}