<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<title>You GuiNong? ID/PW찾기</title>

</head>

<body>
	<div layout:fragment="content">
		<script src="/js/vue/Vue3.3.4.js"></script>
		<script src="/js/vue/vue3-sfc-loader.js"></script>
		<script src="/js/vue/Vue-load.js"></script>
		<div id="app" class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="nav nav-tabs col-4 text-center">
                    <span @click="IdClick" :class="{ active: isId }" class="nav-link">아이디찾기</span>
                    <span @click="pwClick" :class="{ active: isPw }" class="nav-link">비밀번호</span>
                </div>
                <div class="col-3"></div>
            </div>
			<my-id-found v-show="isId"></my-id-found>
			<my-pw-found v-show="isPw"></my-pw-found>
		</div>
		<script>
        const {createApp} = Vue

        createApp({
            components: {
                'my-id-found': Vue.defineAsyncComponent(() =>
                    loadModule('/Vue/user/login/idFound.Vue', options)),
                'my-pw-found': Vue.defineAsyncComponent(() =>
                    loadModule('/Vue/user/login/pwFound.Vue', options))
            },
            data(){
                return{
                    isId:true,
                    idPw:false
                }
            },
            methods:{
                IdClick(){
                    this.isId=true;
                    this.isPw=false;
                },
                pwClick(){
                    this.isId=false;
                    this.isPw=true;
                }
            }
        }).mount('#app')
    </script>
	</div>



</body>

</html>