<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>지원사업/교육 페이지</title>
<link rel="stylesheet" href="/css/suinCss/edu.css">
</head>
<body>
	<!-- Page Preloder -->
	<div layout:fragment="content">

		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>지원사업</h4>
							<div class="breadcrumb__links">
								<span>귀농귀촌 지원사업입니다.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 타이틀 Section End -->

		<!-- Shop Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<!-- 사이드바 -->
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">
												<h4>귀농귀촌</h4>
											</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="/guide">귀농귀촌 가이드</a></li>
														<li><a href="/eduList" style="color: black">지원사업/교육</a></li>
														<li><a href="/farmLendList">농지대여</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end 사이드바 -->


					<!--------------- 본문 --------------->
					<div id="본문" class="col-lg-9">
						<h2>귀농귀촌 지원사업</h2>
						<br>
						<table class="table" id="eduTable" style="width: 100%">
							<thead style="text-align: center">
								<tr>
									<th>번호</th>
									<th>지원사업</th>
									<th style="width: 20%">주관</th>
									<th style="width: 15%">신청시작일</th>
									<th style="width: 15%">신청마감일</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="5">
										<!-- 로더 -->
										<div class="custom-loader-container">
											<div class="custom-loader"></div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- 페이징 -->
						<div id="eduPage"></div>
					</div>
				</div>
			</div>
			<!-- pageDiv -->
			<div class="product__pagination" style="display: none;" id="pageItem">
				<a class="myInline" id="prevPage">◁</a>
				<div id="pageNumDiv" class="myInline">
					<a id="pageNum">a</a>
				</div>
				<a class="myInline" id="nextPage">▷</a>
			</div>

		</section>

		<script>
		
		  $(function() {
		          ajaxData(1);// 5초 후에 AJAX 요청 실행
		      });
		  
	      // 로더 표시
	      function showLoader() {
	        var loaderContainer = document.getElementById('loader-container');
	        if (loaderContainer) {
	          loaderContainer.style.display = 'flex';
	        }
	      }

		
		 //로더숨기기
		 function hideLoader() {
	      var loaderContainer = document.getElementById('loader-container');
	      if (loaderContainer) {
	        loaderContainer.style.display = 'none';
	      }
	    }
		
		//목록 ajax
		function ajaxData(page){
			$.ajax({
				url: "https://apis.data.go.kr/1390000/youngV2/policyListV2?typeDv=json&serviceKey=XMbKkFwk066V9gZ9uvn63yI7xGN5wEbCjEffJl0upWWgKhcaFHesiDZHkYOwrOpgeyC/YwxBqavNpAhMdAdU5w==&cp="+page,
				method: "GET",
				//data: {page},
				success(result){					
					makeList(result);
					hideLoader(); 
				},
				error(err){
					console.log(err)
					 hideLoader(); 
				}
			})
		}
		
		//테이블 목록 출력
		function makeList(data){
			$('#eduTable>tbody').children().remove();
			$('#eduPage').children().remove();
			data.policy_list.forEach(el => {
				let title=el.title;
				$('#eduTable>tbody').append('<tr>'
						+'<td class="seq">'+el.seq+'</td>'
						+'<td class="eduTitle">'+title+'</td>'
						+'<td>'+el.chargeAgency+'</td>'						
						+'<td>'+el.applStDt+'</td>'
						+'<td>'+el.applEdDt+'</td>'
						+'</tr>')	
			})
			
 			//제목 클릭 이벤트
			let eduTitles = $('.eduTitle');
			eduTitles.each(function(index, el) {
			  $(el).on('click', function() {
			    let seq = $(this).closest('tr').find('.seq').text();
			    location.href= "/eduInfo?seq="+seq;			    
			  })
			}) 
			
			//
			let poli = data.policy_paging;
			let obj = {};
			obj.endPage= poli.endPage;
			obj.startPage = poli.startPage;
			obj.pageNum= poli.currentPage;
			obj.next = parseInt(obj.endPage) < parseInt(poli.lastPage);
			obj.prev = obj.startPage > 1;
			obj.totalPosts = poli.totalCount;	
			printPage(obj)
		} 
		
		//페이징 함수
		function printPage(pageData){
			//로더
			showLoader();
	        setTimeout(function() {
	          hideLoader();
	        }, 5000);
	        //페이징
			let pageItem = $('#pageItem').clone()
			$(pageItem).css({'display' : 'block'});
			$(pageItem).find('#prevPage').on('click',function(){
				ajaxData(pageData.startPage - 1)
			})
			$(pageItem).find('#nextPage').on('click',function(){
				ajaxData(pageData.endPage + 1)
			})

			if(!pageData.prev){
				$(pageItem).find('#prevPage').hide()
			}
			if(!pageData.next){
				$(pageItem).find('#nextPage').hide()
			}

			for (let i = pageData.startPage; i <= pageData.endPage; i++) {
				let clone = $('#pageItem').find('#pageNum').clone()
				$(clone).text(i);
				if(i == pageData.pageNum){
					$(clone).addClass('active')
					$(clone).css('border-color','orange')
				}
				$(clone).on('click', function () {
					getCondition(i);
				})
				$(pageItem).find('#pageNumDiv').append(clone)
			}

			$(pageItem).find('#pageNum')[0].remove()
			$('#eduPage').append(pageItem)
		}
		
		// 조건 값 변경 시 컨트롤 정보 보내기
		function getCondition(page){
			if(page == null){
				page = 1
			}
			ajaxData(page);
		}
		
		
		</script>
	</div>
</body>
</html>