<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.market.mapper.AuctionMapper">
	<!-- 경매 리스트 조회 -->
	<select id="showAuctionList" resultType="AuctionVO">
		SELECT act.act_no, act.act_title, act.act_date, act.act_trm, act.rep, act.bnp, MAX(apl.bid_price) AS bid_price
		FROM auction act, auction_apply apl
		WHERE act.act_no = apl.act_no (+)
		GROUP BY act.act_no, act.mem_no, act.act_title, act.act_date, act.act_trm, act.rep, act.reg_stts, act.bnp
		HAVING act.reg_stts = 'e1'
		ORDER BY 1 DESC
	</select>
	
	<!-- 단건 경매 정보 조회 -->
	<select id="selectAction" resultType="AuctionVO">
		SELECT *
		FROM auction
		WHERE act_no = #{actNo}
	</select>
	
	<!-- 입찰 최고가 조회 -->
	<select id="calHighestBid" resultType="AuctionVO">
		SELECT *
		FROM auction_apply
		WHERE bid_price = (
                            SELECT MAX(bid_price)
                            FROM auction_apply
                            WEHRE act_no = #{actNo}
                          )
	</select>
	
	<!-- 경매 등록 -->
	<insert id="addAuction" parameterType="AuctionVO">
		<selectKey keyProperty="actNo"
				   resultType="String"
				   order="BEFORE">
			SELECT 'ACT' || LPAD(act_seq.nextval, 6, '0')
			FROM dual
		</selectKey>
		INSERT INTO auction (
								act_no
								, mem_no
								, act_title
								, act_date
								, desct
								, sale_qty
								, bnp
								, act_trm
								, ship_price
								, ship_dur_avg
								, ship_dur_max
								, rep
								, reg_stts
								<if test="atchNo != null and !atchNo.equals('')">
								, atch_no
								</if>
							)
		VALUES ( #{actNo}
				 , 'mem000001'
				 , #{actTitle}
				 , #{act_date}
				 , #{desct}
				 , #{saleQty}
				 , #{bnp}
				 , #{actTrm}
				 , #{shipPrice}
				 , #{shipDurAvg}
				 , #{shipDurMax}
				 , #{rep}
				 , 'e0'
				<if test="atchNo != null and !atchNo.equals('')">
				, #{attachNo}
				</if>
				)
	</insert>

</mapper>