<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.market.mapper.AuctionMapper">
	<!-- 경매 리스트 조회 (페이징) -->
	<select id="getAuctionListPage" resultType="AuctionVO">
		SELECT b.*
		FROM (
	            SELECT rownum rn, a.*
	            FROM (
                        SELECT act.act_no, act.act_title, act.act_date, act.act_trm, act.rep, act.bnp, count(bid_price) as bid_count, NVL(MAX(bid_price), 0) AS bid_price
                        FROM auction act LEFT JOIN auction_apply apl
                        ON (act.act_no = apl.act_no)
                        WHERE act.reg_stts = 'e1'
                        <![CDATA[
                        AND act.act_Date <= sysdate
                        ]]>
                        GROUP BY act.act_no, act.act_title, act.act_date, act.act_trm, act.rep, act.bnp
                        <choose>
                        	<when test="order.equals('인기순')">
                        		ORDER BY bid_count DESC
                        	</when>
                        	<when test="order.equals('최저가순')">
                        		ORDER BY bid_price
                        	</when>
                        	<when test="order.equals('최고가순')">
                        		ORDER BY bid_price DESC
                        	</when>
                        	<when test="order.equals('마감임박순')">
                        		ORDER BY act_trm
                        	</when>
                        </choose>
                      ) a
        <![CDATA[
            	WHERE rownum <= #{page} * 9) b
		WHERE b.rn > (#{page}-1) * 9
		]]>
	</select>
	
	<!-- 다음 경매 리스트 조회 -->
	<select id="getNextAuctionList" resultType="AuctionVO">
		SELECT act.act_no, act.act_title, act.act_date, act.act_trm, act.rep, act.bnp
		FROM auction act LEFT JOIN auction_apply apl
		ON (act.act_no = apl.act_no)
		WHERE act.reg_stts = 'e1'
		<![CDATA[
		AND act.act_date > sysdate
		]]>
	</select>
	
	<!-- 승인된 경매 리스트 합계 -->
	<select id="auctionTotal" resultType="int">
		SELECT count(*)
		FROM (
	            SELECT act.act_no, act.act_title, act.act_date, act.act_trm, act.rep, act.bnp, count(bid_price) as bid_count, NVL(MAX(bid_price), 0) AS bid_price
	            FROM auction act LEFT JOIN auction_apply apl
	            ON (act.act_no = apl.act_no)
	            WHERE act.reg_stts = 'e1'
	            <![CDATA[
				AND act.act_date > sysdate
				]]>
	            GROUP BY act.act_no, act.act_title, act.act_date, act.act_trm, act.rep, act.bnp
        	  )
	</select>
	
	<!-- 단건 경매 정보 조회 -->
	<select id="selectAuction" resultType="AuctionVO">
		SELECT mem.nick, mem.mem_grd, act_title, desct, sale_qty, bnp, 
            	act_date, act_trm, ship_price, ship_dur_avg, ship_dur_max, rep, atch_no, 
                	NVL(MAX(apl.bid_price), 0) AS bid_price
		FROM member mem, auction act, auction_apply apl
		WHERE mem.mem_no = act.mem_no
		AND act.act_no = apl.act_no
		AND act.act_no = #{actNo}
		GROUP BY mem.nick, mem.mem_grd, act_title, desct, sale_qty, bnp, 
		                act_date, act_trm, ship_price, ship_dur_avg, ship_dur_max, rep, atch_no
	</select>
	
	
	<!-- 경매 등록 -->
	<insert id="addAuction" parameterType="AuctionVO">
		<selectKey keyProperty="actNo"
				   resultType="String"
				   order="BEFORE">
			SELECT 'ACT' || LPAD(act_seq.nextval, 6, '0')
			FROM dual
		</selectKey>
		INSERT INTO auction (
								act_no
								, mem_no
								, act_title
								, act_date
								, desct
								, sale_qty
								, bnp
								, act_trm
								, ship_price
								, ship_dur_avg
								, ship_dur_max
								, rep
								, reg_stts
								<if test="atchNo != null and !atchNo.equals('')">
								, atch_no
								</if>
							)
		VALUES ( #{actNo}
				 , 'mem000001'
				 , #{actTitle}
				 , #{act_date}
				 , #{desct}
				 , #{saleQty}
				 , #{bnp}
				 , #{actTrm}
				 , #{shipPrice}
				 , #{shipDurAvg}
				 , #{shipDurMax}
				 , #{rep}
				 , 'e0'
				<if test="atchNo != null and !atchNo.equals('')">
				, #{attachNo}
				</if>
				)
	</insert>

</mapper>