<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.market.mapper.CartMapper">
	<select id="getCartList" resultType="CartVO"
		parameterType="CartVO">
		SELECT board_no, 
			   cart_no,
			   ca.qty, 
			   cr.qty product_qty, 
			   ca.mem_no, 
			   board_ctg, 
			   title, 
			   price,
			   rep
		FROM cart ca JOIN
		<choose>
			<when test="boardCtg.equals('n8')">
				crops_sale cr USING (board_no)
			</when>
			<when test="boardCtg.equals('n2')">
				EQUIPMENT cr USING (board_no)
			</when>
			<when test="boardCtg.equals('n7')">
				MARKET cr USING (board_no)
			</when>
		</choose>
		WHERE ca.mem_no = #{memNo}
	</select>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteCart" parameterType="CartVO">
		DELETE cart
		WHERE cart_no = #{cartNo}
	</delete>
	
	<!-- 장바구니 등록 -->
	<insert id="insertCart" parameterType="CartVO">
	INSERT INTO cart
	VALUES (('cart'||LPAD(cart_seq.NEXTVAL,13,0)),#{boardNo},#{qty},#{memNo},#{boardCtg})
	</insert>
</mapper>