<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.market.mapper.CropsSaleMapper">
	
	<!-- 농작물 판매 전체조회(페이징) -->
	<select id="selectCropsSaleListPage" resultType="CropsSaleVO">
		select b.*
		from (select ROWNUM rn, a.*
			  from (select c.board_no, c.mem_no, c.title, c.crp_ctg, c.price, c.qty, c.rep, c.reg_date, c.reg_stts, nvl(r.rate_avg, 0) as rate_avg
			  		from crops_sale c left join (select nvl(round(avg(rate), 1), 0) as rate_avg, board_no
			  									 from review
			  									 group by board_no) r
					on c.board_no = r.board_no
			  		<where>
			  			c.reg_stts = 'e1'
			  			<if test="category != null and !category.equals('') and !category.equals('전체')">
			  				and c.crp_ctg = #{category}
			  			</if>
			  			<if test="search != null and !search.equals('')">
			  				and c.title like '%${search}%'
			  			</if>
			  		</where>
			  		<choose>
			  			<when test="order.equals('최신순')">
			  				order by c.reg_date desc
			  			</when>
			  			<when test="order.equals('가격높은순')">
			  				order by c.price desc
			  			</when>
			  			<when test="order.equals('가격낮은순')">
			  				order by c.price asc
			  			</when>
			  			<when test="order.equals('별점높은순')">
			  				order by rate_avg desc
			  			</when>
			  			<when test="order.equals('별점낮은순')">
			  				order by rate_avg asc
			  			</when>
			  		</choose>
			  	   ) a
		<![CDATA[
			  where ROWNUM <= #{page} * 9) b
		where b.rn > (#{page} - 1) * 9
		]]>
	</select>
	
	<!-- 단건조회 -->
	<select id="selectCropsSaleInfo" resultType="CropsSaleVO">
		select c.board_no, c.mem_no, c.title, c.crp_ctg, c.price, c.qty, c.rep, c.deta_desct, c.reg_date, c.reg_stts, m.nick
		from crops_sale c left join member m
		on c.mem_no = m.mem_no
		where c.board_no = #{boardNo}
	</select>
	
	<!-- 등록 -->
	<insert id="insertCropsSale" parameterType="CropsSaleVO">
		<selectKey keyProperty="boardNo" resultType="String" order="BEFORE">
			select 'CRP' || LPAD(crp_seq.nextval, 6, '0')
			from dual
		</selectKey>
		insert into crops_sale(board_no, mem_no, title, crp_ctg, price, qty, rep, deta_desct, reg_date, reg_stts)
		values(#{boardNo}, #{memNo}, #{title}, #{crpCtg}, #{price}, #{qty}, #{rep}, #{detaDesct}, sysdate, 'e1')
	</insert>
	
	<!-- 수정 -->
	<update id="updateCropsSale" parameterType="CropsSaleVO">
		update crops_sale
		<set>
			<if test="title != null and !title.equals('')">
				title = #{title}
			</if>
			<if test="crpCtg != null and !crpCtg.equals('')">
				, crp_ctg = #{crpCtg}
			</if>
			<if test="price != null and !price.equals('')">
				, price = #{price}
			</if>
			<if test="qty != null and !qty.equals('')">
				, qty = #{qty}
			</if>
			<if test="rep != null and !rep.equals('')">
				, rep = #{rep}
			</if>
			<if test="detaDesct != null and !detaDesct.equals('')">
				, deta_desct = #{detaDesct}
			</if>
			<if test="regDate == null">
				, reg_date = sysdate
			</if>
		</set>
		where board_no = #{boardNo}
	</update>
	
	<!-- 삭제 -->
	<update id="deleteCropsSale" parameterType="CropsSaleVO">
		update crops_sale
		set reg_stts = 'e7'
		where board_no = #{boardNo}
	</update>
	
	<!-- 게시글 수 카운팅 -->
	<select id="getCount" resultType="int">
		select count(*) from crops_sale
		<where>
			reg_stts = 'e1'
			<if test="category != null and !category.equals('') and !category.equals('전체')">
				and crp_ctg = #{category}
			</if>
			<if test="search != null and !search.equals('')">
				and title like '%${search}%'
			</if>
		</where>
	</select>
	
	<!-- 별점 -->
	<!-- 따옴표 써주면 대, 소문자 구분 해준다(안쓰면 무조건 대문자) -->
	<select id="totalRate" resultType="map">
		select count(*) "count", nvl(round(avg(rate), 1), 0) "star"
		from review
		where board_no = #{boardNo}
	</select>
	
</mapper>