<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.market.mapper.FundingMapper">
	<!-- 펀딩 리스트 조회 -->
	<select id="getFundingList" resultType="FundingVO">
		SELECT *
		FROM funding
		WHERE reg_stts = 'e1'
		ORDER BY 1
	</select>

	<!-- 펀딩 리스트 조회 (페이징) -->
	<select id="getFundingListPage" parameterType="int"
		resultType="FundingVO">
	<![CDATA[
		SELECT b.*
		FROM
		(SELECT rownum rn , a.*
		FROM (SELECT *
		FROM funding JOIN (SELECT fnd_no, TRUNC(fnd_end_date - sysdate) as dday FROM funding) USING (fnd_no)
		WHERE reg_stts = 'e1'
		order by 1 desc) a
		WHERE rownum <= #{page} * 9) b
		WHERE b.rn > (#{page}-1) * 9
		]]>
	</select>

	<!-- funding 전제 수 조회 -->
	<select id="fundingTotal" resultType="int">
		SELECT count(*)
		FROM funding
	</select>

	<!-- 펀딩 상세 조회 -->
	<select id="getFundingInfo" resultType="FundingVO">
		SELECT *
		FROM funding
		WHERE fnd_no = #{fndNo}
	</select>
</mapper>