<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.market.mapper.FundingMapper">
	<select id="getFundingList" resultType="FundingVO">
		SELECT * 
		FROM funding
		ORDER BY 1
	</select>
	
	<select id="getFundingInfo" resultType="FundingVO">
		SELECT *
		FROM funding
		WHERE fnd_no = #{fndNo}
	</select>
</mapper>