<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.market.mapper.FundingMapper">
	<!-- 펀딩 리스트 조회 -->
	<select id="getFundingList" resultType="FundingVO">
		SELECT *
		FROM funding
		WHERE reg_stts = 'e1'
		ORDER BY 1
	</select>

	<!-- 펀딩 리스트 조회 (페이징) -->
	<select id="getFundingListPage" resultType="FundingVO">
		SELECT b.*		FROM		(SELECT rownum rn , a.*		FROM (
		SELECT *
		  FROM funding 
		  LEFT JOIN ( SELECT board_no, TRUNC(fnd_end_date - sysdate) as dday, priceSum,
				      		payCount, TRUNC((priceSum/goal_price)*100,2) as goalPer
					FROM funding
					LEFT JOIN (SELECT board_no, sum(price*qty) as
										priceSum,
										sum(qty) as
										payCount
								FROM payment_detail
								GROUP BY board_no
							)
				USING(board_no)
		     )
		USING (board_no)
		<where>
			AND reg_stts = 'e1' 
			<![CDATA[
			AND FND_STR_DATE < sysdate+2
			]]>
			<if
				test="category != null and !category.equals('') ">
				AND crp_ctg = #{category}
			</if>
			<if test="search != null and !search.equals('')">
				AND title LIKE '%${search}%'
			</if>
		</where>
		<choose>
			<when test="order.equals('최신순')">
				order by 1 desc
			</when>
			<when test="order.equals('인기순')">
				order by payCount asc
			</when>
			<when test="order.equals('판매임박순')">
				order by dday asc
			</when>
		</choose>
		) a
		<![CDATA[
		WHERE rownum <= #{page} * 9) b
		WHERE b.rn > (#{page}-1) * 9
		]]>
	</select>

	<!-- funding 전제 수 조회 -->
	<select id="fundingTotal" resultType="int">
		SELECT count(*)
		FROM funding
		<where>
			AND reg_stts = 'e1'
			<if
				test="category != null and !category.equals('') and !category.equals('전체')">
				AND crp_ctg = #{category}
			</if>
			<if test="search != null and !search.equals('')">
				AND title LIKE '%${search}%'
			</if>
			<![CDATA[
			AND fnd_end_date >=  TRUNC(sysdate)
			]]>
		</where>
	</select>

	<!-- 펀딩 상세 조회 -->
	<select id="getFundingInfo" resultType="FundingVO">
		SELECT *
		FROM member JOIN (SELECT *
						  FROM funding JOIN (SELECT board_no, 
						  							TRUNC(fnd_end_date - sysdate) as dday,
													NVL(priceSum,0) as priceSum,
													NVL(payCount,0) as payCount, 
													NVL(TRUNC((priceSum/goal_price)*100,2),0) as goalPer
											 FROM funding LEFT JOIN (SELECT board_no, 
											 								sum(price*qty) as priceSum,
																			count(board_no) as payCount
																	 FROM payment_detail
																	 GROUP BY board_no)
														  USING(board_no)
											  WHERE board_no = #{boardNo}) 
										USING (board_no))
					USING (mem_no)
	</select>

	<!-- 펀딩 추천 목록 조회 -->
	<select id="getPolpularFnd" resultType="FundingVO">
		<![CDATA[
		SELECT * 
		FROM (SELECT board_no,
				     sum(qty) as sumCount,
				     title, 
				     fnd_price, 
				     rep,
				     reg_stts
			  FROM funding JOIN payment_detail
						   USING (board_no)
			GROUP BY board_no,title, fnd_price,rep,reg_stts
			ORDER BY sumCount DESC)
		WHERE ROWNUM <= 4
		AND reg_stts = 'e1' 
		]]>
	</select>

	<!-- 펀딩 등록 -->
	<insert id="insertFunding" parameterType="FundingVO">
		INSERT INTO funding
		VALUES ('n9'||LPAD(funding_seq.NEXTVAL,6,0),
				#{memNo},
				#{title},
				#{desct},
				#{fndStrDate},
				#{fndEndDate},
				#{goalPrice},
				#{fndPrice},
				#{shipStrDate},
				#{rep},
				'e0',
				#{crpCtg},
				'0',
				sysdate
			   )
	</insert>

	<!-- 펀딩 수정 -->
	<update id="modifyFunding" parameterType="FundingVO">
		UPDATE funding
		SET
			title = #{title},
			goal_price = #{goalPrice},
			fnd_price = #{fndPrice},
			fnd_str_date = #{fndStrDate},
			fnd_end_date = #{fndEndDate},
			crp_ctg =	#{crpCtg},
			ship_str_date = #{shipStrDate},
			desct = #{desct}
		<if test="rep != null and !rep.equals('')">
			,rep = #{rep}
		</if>
		WHERE board_no = #{boardNo}
	</update>
	
	<!-- 매일마다 펀딩 실패 정보 조회 -->
	<select id="fundingRefundList" resultType="PaymentDetailVO">
		SELECT board_no,
			   pay_no, 
			   pay_deta_no, 
			   pay_code, 
			   mem_no,title
		FROM payment JOIN
		    (SELECT board_no,
		            pay_no, 
		            pay_deta_no,
		            title
		     FROM (SELECT CASE WHEN (sumPrice > goal_price) THEN 'y' 
		                 ELSE 'n' END AS success,
		            board_no,
		            pay_no, 
		            pay_deta_no,
		            title
		    FROM funding JOIN (SELECT SUM(price) sumPrice, board_no, pay_no, pay_deta_no
		                       FROM payment_detail
		                       WHERE board_ctg = 'n9'
		                       GROUP BY board_no, pay_no, pay_deta_no)
		    USING (board_no)
		    WHERE fnd_end_date+1 = TRUNC(sysdate))
		    WHERE success = 'n') 
		USING (pay_no)
	</select>
	
	<!-- 환불 완료 시 상태 처리 -->
	<update id="updateRefundStts" parameterType="String">
		UPDATE payment_detail
		SET ship_stts = 'B6'
		WHERE pay_deta_no = #{payDetaNo}
	</update>
</mapper>