<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.market.mapper.MarketMapper">

	<select id="getMarketList" resultType="MarketVO">
		select b.*
		from (select rownum rn, a.*
		from (select * from market
		<if test="mktCtg != null and !mktCtg.equals('')">
			where mkt_ctg=#{mktCtg}
		</if>
		) a
			<![CDATA[
			WHERE rownum <= #{page} * 9) b
		WHERE b.rn > (#{page}-1) * 9
			]]>
		<choose>
			<when test="order.equals('최신순')">
				order by 1 desc
			</when>
			<when test="order.equals('낮은가격순')">
				order by price
			</when>
			<when test="order.equals('높은가격순')">
				order by price desc
			</when>
		</choose>
	</select>
	<select id="selectCount">
		select count(*)
		from market
		<if test="mktCtg != null and !mktCtg.equals('')">
			where mkt_ctg=#{mktCtg}
		</if>
	</select>
	<select id="getMarketInfo" resultType="MarketVO">
		select * from market
		where
		mkt_no = #{mktNo}
	</select>
	<insert id="insertMk">
		<selectKey keyProperty="mktNo" resultType="String"
			order="BEFORE">
			select 'MKT' || LPAD(bnb_seq.nextval, 6, '0')
			from dual
		</selectKey>
		insert into market(MKT_NO,
		MEM_NO,
		MKT_CTG,
		MKT_TITLE,
		PRICE,
		QTY,
		REP,
		DETA_DESCT)
		values(#{mktNo},
		#{memNo},
		#{mktCtg},
		#{mktTitle},
		#{price},
		#{qty},
		#{rep},
		#{detaDesct}
		)
	</insert>
</mapper>

