<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>You GuiNong? Yes!</title>
<link rel="icon" href="/logo.png"/> 
<!-- Google Font -->
<link href="/css/font/font1.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="/css/font/font2.css" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/css/jquery/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/magnific-popup.css"
	type="text/css">
<link rel="stylesheet" href="/css/jquery/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="/css/jquery/owl.carousel.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/jquery/slicknav.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/jQueryUI.css">
<link rel="stylesheet" href="/css/otherPlugins/sweetAlert.css"
	type="text/css">


<!-- 알림창 css -->
<link rel="stylesheet" href="/css/suinCss/alarm.css" type="text/css">

<!-- Js Plugins -->
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/bootstrap.min.js"></script>
<script src="/js/jquery/jquery.nice-select.min.js"></script>
<script src="/js/jquery/jquery.nicescroll.min.js"></script>
<script src="/js/jquery/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery/jquery.countdown.min.js"></script>
<script src="/js/jquery/jquery.slicknav.js"></script>
<script src="/js/jquery/mixitup.min.js"></script>
<script src="/js/jquery/owl.carousel.min.js"></script>
<script src="/js/jquery/json.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery/jqueryUI.js"></script>
<script src="/js/otherPlugins/sweetAlert2-11.4.10.js"></script>


<script
	src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script
	src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>

<style>
.href {
	font-weight: 900;
	color: black;
}
</style>
</head>

<body id="body">
	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="header__top__left">
							<p class="welcome">
								👩‍🌾 <span sec:authorize="isAuthenticated()"> <span
									th:text="${session.mem.nick}"></span>님
								</span> 환영합니다
							</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-5">
						<div class="header__top__right">
							<div class="header__top__links">
								<a href="join" sec:authorize="isAnonymous()">회원가입</a> <a
									href="login" sec:authorize="isAnonymous()">로그인</a> <a
									th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
							</div>
							<div class="header__top__hover" sec:authorize="isAuthenticated()">
								<span><a href="/myPage/myPage" style="color: white;">마이페이지
								</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<!-- 파머스 로고 -->
					<div class="header__logo">
						<a href="/"><img src="/img/logo.png" style="width: 2" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<nav class="header__menu mobile-menu" style="padding-top: 50px;">
						<ul>
							<li class="active"><a href="/">홈으로</a></li>
							<li><a href="/guide">귀농귀촌</a>
								<ul class="dropdown">
									<li><a href="/guide">귀농귀촌 가이드</a></li>
									<li><a href="/eduList">지원사업/교육</a></li>
									<li><a href="/farmLendList">농지대여</a></li>
								</ul></li>

							<li><a href="/bnbList">농촌체험</a>
								<ul class="dropdown">
									<li><a href="/bnbList">농촌 비엔비</a></li>
									<li><a href="/expList">농촌 체험하기</a></li>
									<li><a href="/skilled">금손 귀농인</a></li>
								</ul></li>
							<li><a href="/marketList">농촌마켓</a>
								<ul class="dropdown">
									<li><a href="/marketList">전원마켓</a></li>
									<li><a href="/cropsSaleList">농작물 판매</a></li>
									<li><a href="/fundingList">농작물 펀딩</a></li>
									<li><a href="/auctionList">경매장</a></li>
								</ul></li>
							<li><a href="/noticeList">게시판</a>
								<ul class="dropdown">
									<li><a href="/noticeList">공지사항</a></li>
									<li><a href="/cmmnList">커뮤니티</a></li>
									<li><a href="/eventList">이벤트</a></li>
								</ul></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="header__nav__option" style="padding-top: 50px;">
						<div class="notification-box">

							<th:block sec:authorize="isAuthenticated()">
								<!-- 알림 아이콘 -->
								<div class="unique-bell-container">
									<a href="#"><img src="/img/icon/bell.svg"
										class="unique-bell-icon" width="19px" id="bell" alt=""></a>
									<!-- 알림모달창 -->
									<div class="unique-notification-modal"
										id="uniqueNotificationModal">
										<a th:href="@{/myPage/alertList(memNo=${session.mem.memNo})}">
											<div class="unique-notification-header">✔ 나의 알림 (바로가기)</div>
										</a>
										<div id="unique-alert-content">
											<div class="unique-notification-item" id="no-content">
												<div class="notification-content">미열람한 알림이 없습니다.</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 장바구니 아이콘 -->
								<a th:href="@{/cart(memNo=${session.mem.memNo})}"> <img
									src="/img/icon/cart.svg" id="cart" alt="">
								</a>
							</th:block>
						</div>
					</div>
					<div class="canvas__open">
						<i class="fa fa-bars"></i>
					</div>
				</div>
	</header>
	<!-- Header Section End -->

	<article layout:fragment="content"></article>


	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="container">
			<div class="row" style="height: 180px">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__logo" style="margin-top: 20px">
							<a href="/"><img src="/img/logo.png" alt="메인로고"></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>BOARD</h6>
						<ul>
							<li><a href="#">Notice</a></li>
							<li><a href="#">Commuity</a></li>
							<li><a href="#">Event</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>SHOP</h6>
						<ul>
							<li><a href="#">JeonWon Market</a></li>
							<li><a href="#">Funding</a></li>
							<li><a href="#">Auction</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__widget">
						<h6>ABOUT FARMERS</h6>
						<div class="footer__newslatter">
							<p>Contact Us</p>
							<form action="#">
								<input type="text" placeholder="Your email">
								<button type="submit">
									<span class="icon_mail_alt"></span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="footer__copyright__text">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<p>
							Copyright ©
							<script>
								document.write(new Date().getFullYear());
							</script>
							2020 All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
						</p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!--------------------------- 스크립트 --------------------------->
	<script src="/js/main.js"></script>

	<script th:if="${#authorization.expression('isAuthenticated()')}"
		th:inline="javascript">
	    // 알림벨 버튼을 클릭하면 알림 목록을 생성하고 모달창을 보여주는 이벤트 리스너 등록
	    document.querySelector(".unique-bell-icon").addEventListener("click", () => {
	      const modal = document.getElementById("uniqueNotificationModal");
	      modal.style.display = "block";
	    });

	    // 모달창 외부를 클릭하면 모달창을 닫는 이벤트 리스너 등록
	    document.addEventListener("click", (event) => {
	      const modal = document.getElementById("uniqueNotificationModal");
	      if (!modal.contains(event.target) && !event.target.classList.contains("unique-bell-icon")) {
	        modal.style.display = "none";
	      }
	    });
	    
	    
	    //알림목록 띄우기
		/*<![CDATA[*/
		let mem = /*[[${session.mem}]]*/ ;
		let memNo = "";
		if(mem !=null){
			memNo= mem.memNo
		}
		/*]]>*/
		
		
		//알람 모달창에 출력
	    $(document).ready(function () {
			  alertAjax();
			});

		function alertAjax() {
		  $.ajax({
		    url: `/main/alert`,
		    method: 'GET',
		    data: {
		    	memNo: memNo
		    	},
		    dataType: 'json',
		    success: function (result) {
		    	if(result.length>0){
					$('#no-content').remove();
			      	makeAlert(result);
		    	}else{
		    		return;
		    	}
		    },
		    error: function (error) {
		      console.error(error);
		    }
		  });
		}

		//알람 리스트 출력 함수
		function makeAlert(data){
			data = data.slice(-5); //최근 5개만 출력하기
			$('#unique-alert-content').text('');
			data.forEach(el => {
				$('#unique-alert-content').append('<div class="unique-notification-item">'
						+'<div class="notification-date">'+el.alrtDate+'</div>'
						+'<div class="notification-content">'+el.alrtTitle+'</div>'
						+'</div>')
			})
		}
			
	</script>

</body>

</html>