<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>You GuiNong? Yes!</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<!-- 알림창 css -->
<link rel="stylesheet" href="/css/main/alarm.css" type="text/css">

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/json.min.js"></script>

</head>

<body>
	<!-- Page Preloder -->
	<!--  <div id="preloder">
        <div class="loader"></div>
    </div> -->



	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="header__top__left">
							<p data-value="XXX님 반갑습니다."></p>
						</div>
					</div>
					<div class="col-lg-6 col-md-5">
						<div class="header__top__right">
							<div class="header__top__links">
								<a href="join">회원가입</a>
								<a href="login">로그인</a>
							</div>
							<div class="header__top__hover">
								<span>마이페이지 <i class="arrow_carrot-down"></i></span>
								<ul>
									<li>나의 활동</li>
									<li>구매 내역</li>
									<li>문의 하기</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
				<!-- 파머스 로고 -->
					<div class="header__logo">
						<a href="/"><img src="img/logo.png" style="width: 2" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<nav class="header__menu mobile-menu" style="padding-top: 50px;">
						<ul>
							<li class="active"><a href="/">홈으로</a></li>
							<li><a href="farmGuide">귀농귀촌</a>
								<ul class="dropdown">
									<li><a href="farmGuide">귀농귀촌 가이드</a></li>
									<li><a href="farmEdu">지원사업/교육</a></li>
									<li><a href="#">농지대여</a></li>
									<li><a href="#">농기구 대여/판매</a></li>
									<li><a href="skilled">금손 귀농인</a></li>
								</ul></li>

							<li><a href="bnbList">농촌체험</a>
								<ul class="dropdown">
									<li><a href="bnbList">농촌 비엔비</a></li>
									<li><a href="expList">농촌 체험하기</a></li>
									<li><a href="#">농촌 일자리</a></li>
								</ul></li>
							<li><a href="#">농촌마켓</a>
								<ul class="dropdown">
									<li><a href="#">농작물 판매</a></li>
									<li><a href="#">농작물 펀딩</a></li>
									<li><a href="auction">경매장</a></li>
									<li><a href="market">전원마켓</a></li>
								</ul></li>
							<li><a href="#">게시판</a>
								<ul class="dropdown">
									<li><a href="boardNotice">공지사항</a></li>
									<li><a href="boardCommunity">커뮤니티</a></li>
									<li><a href="boardEvent">이벤트</a></li>
								</ul></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="header__nav__option" style="padding-top: 50px;">

						<!-- 알림 아이콘 -->
						<div class="notification-box">
						<a href="#"><img src="img/icon/bell.png" width="19px"
							id="bell" alt=""></a>
						<!-- 알림 모달팝업창 -->
						<div class="modal">
							<div class="modal-content">
								<div class="box">
									<h3>알림</h3>

									<div class="notification">
										<span class="close">&times;</span>
										<p>새로운 메시지가 도착했습니다.</p>
										<p class="time">2023-07-09 10:30 AM</p>
									</div>

									<div class="notification">
										<span class="close">&times;</span>
										<p>친구 요청이 왔습니다.</p>
										<p class="time">2023-07-09 09:15 AM</p>
									</div>

									<div class="notification">
										<span class="close">&times;</span>
										<p>이벤트에 참여해주세요!</p>
										<p class="time">2023-07-08 04:45 PM</p>
									</div>
								</div>
							</div>
						</div>

						<!--장바구니 아이콘 -->
						<a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
						</div>

					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<article layout:fragment="content"></article>

	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__logo">
							<a href="/"><img src="img/logo.png" style="width: 2" alt=""></a>
						</div>

					</div>
				</div>
				<div class="col-lg-4 offset-lg-1 col-md-3 col-sm-6">
						<p>파머스 소개</p>
					<div class="footer__widget">
						<p>팀원 역활</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="footer__copyright__text">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<p>
							Copyright ©
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
						</p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->
	
	<script src="/js/main.js"></script>
	
	<script>
	//알림창
		var modal = document.querySelector('.modal');
		var closeButton = document.querySelectorAll('.close');
		var notificationButton = document.querySelector('.notification-btn');

		// 모달 팝업 열기
		function openModal() {
			modal.style.display = 'block';
		}

		// 모달 팝업 닫기
		function closeModal() {
			modal.style.display = 'none';
		}

		// X 버튼 클릭 시 알림창 닫기
		closeButton.forEach(function(button) {
			button.addEventListener('click', function() {
				var notification = this.parentElement;
				notification.style.display = 'none';
			});
		});

		// 모달 팝업 영역 밖 클릭 시 닫기
		window.addEventListener('click', function(event) {
			if (event.target === modal) {
				closeModal();
			}
		});

		// 알림 클릭 시 모달 팝업 열기
		let bell=document.getElementById('bell')
		bell.addEventListener('click', function() {
			openModal();
		});
		
	</script>

</body>

</html>