<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

</head>

<body>
    <div layout:fragment="content">

        <!-- Contact Section Begin -->
        <section class="contact spad">
            <div class="container" style="border: 2px solid grey; padding-top: 50px;">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="contact__text">
                            <div class="section-title" style="text-align: center;">
                                <img src="\img\r_AVseIeIM.gif" alt="">
                                <h2>결제 중입니다</h2>
                                <p>결제 완료 시 자동으로 페이지가 이동됩니다</p>
                            </div>
                        </div>
                    </div>
        </section>
        <!-- Contact Section End -->

        <script th:inline="javascript">
            $(function () {
                let payNo;

                //payment 테이블 데이터 생성
                const urlParams = new URL(location.href).searchParams;
                const jsonPaymentData = urlParams.get('paymentData');
                let paymentData = JSON.parse(jsonPaymentData)
                paymentData.totalPayPrice = urlParams.get('amount');
                paymentData.payCode = urlParams.get('paymentKey')

                let jsonPayDetailData = urlParams.get('payDatailData');
                let PayDetailData = JSON.parse(jsonPayDetailData)
                console.log(PayDetailData)

                let myResult = false;

                //토스 api 결제 승인
                console.log(urlParams.get('amount'))
                console.log(urlParams.get('paymentKey'))
                console.log(urlParams.get('orderId'))
                $.ajax({
                        url: 'https://api.tosspayments.com/v1/payments/confirm',
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": "Basic dGVzdF9za196WExrS0V5cE5BcldtbzUwblgzbG1lYXhZRzVSOg=="
                        },
                        data: JSON.stringify({
                            amount: urlParams.get('amount'),
                            paymentKey: urlParams.get('paymentKey'),
                            orderId: urlParams.get('orderId')
                        })
                    })
                    .done(function (result1) {
                        console.log(result1)
                        paymentData.payMthd = result1.method;
                        console.log(paymentData)

                        //payment 테이블에 insert
                $.ajax({
                        url: 'insertPayment',
                        method: 'POST',
                        data: {
                            paymentData: JSON.stringify(paymentData)
                        }
                    })
                    .done(function (result2) {
                        payNo = result2.payNo;
                        memNo = /*[[${session.mem.memNo}]]*/
                        $(PayDetailData).each(function (idx, item) {
                            item.payNo = payNo;
                            item.memNo = memNo;
                        })

                        $.ajax({
                                url: 'insertPayDetail',
                                method: 'POST',
                                data: {
                                    payDetailData: JSON.stringify(PayDetailData)
                                }
                            })
                            .done(function (result3) {
                                myResult = true
                                console.log('detail seuccess')
                 				if(paymentData.check == 'bid'){
                 					$.ajax({
                 						url :"/procedure/bidAuction",
                 						method : "POST",
                 						data : {
                 							boardNo : paymentData.boardNo,
                 							memNo : /*[[${session.mem.memNo}]]*/,
                 							price : paymentData.totalPayPrice
                 						}
                 					})
                 				}
                                setTimeout(function () {
                                	console.log(paymentData.boardNo)
                                	console.log(paymentData.totalPayPrice)
                                   location.href = "paySuccess?result=" + myResult
                                }, 3000);
                            })
                            .fail(function () {
                                console.log('detail fail')
                            })
                    })
                    .fail(function () {
                        console.log('ajax fail')
                    })
                    })
                    .fail(function () {
                        alert('error')
                    })

                
             })
        </script>
    </div>

</body>

</html>