<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>payment</title>
    <link rel="stylesheet" href="css/sungWookCss/sungook.css" type="text/css">
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 뒤로 가기 막기 -->
    <script>
        window.history.forward();

        function noBack() {
            window.history.forward();
        }
    </script>
</head>

<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
    <div layout:fragment="content">
        <div class="justify-content-center">
            <br>
            <h3 class="current text-center">결제</h3>
        </div>
        <!-- Checkout Section Begin -->
        <section class="checkout spad" style="padding-top: 30px;">
            <div class="container">
                <hr>
                <div class="checkout__form">
                    <form action="#">
                        <div class="row">
                            <!-- 정보입력란 시작 -->
                            <div class="col-lg-12">
                                <div class="checkout__title">
                                    <h4 class="myInline">배송정보</h4>
                                    <button class="form-control myInline" style="margin-left: 50px; width: 150px;"
                                        id="memberInfo" type="button">회원정보입력</button>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>이름<span>*</span></p>
                                            <input type="text" id="memName">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input">
                                            <p>전화번호 <span>*</span></p>
                                            <input type="text" placeholder="'-' 제외한 번호만 입력하시오"
                                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                id="memPhone">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 checkout__input">
                                        <p>배송지<span>*</span></p><input type="text" readonly placeholder="우편번호를 검색해주세요"
                                            id="addressCode">
                                    </div>
                                    <div class="col-lg-3 checkout__input">
                                        <p style="visibility: hidden;"><span>*</span></p><button type="button"
                                            class="form-control" id="addressBtn">우편번호등록</button>
                                    </div>
                                </div>
                                <div class="checkout__input">
                                    <input type="text" placeholder="주소지" class="checkout__input__add" id="address"
                                        readonly>
                                    <input type="text" placeholder="상세주소" id="addressDetail">
                                </div>
                                <div class="row">
                                    <div class="checkout__input col-lg-12">
                                        <p class="">배송메모</p>
                                        <select class="form-control">
                                            <option value="">부재 시 경비실에 맡겨주세요.</option>
                                            <option value="">직접입력</option>
                                        </select>
                                    </div>
                                </div>
                                <hr style="background-color: grey;">
                            </div>
                            <!-- 정보입력란 끝 -->
                            <!-- 구매상품란 시작 -->
                            <!-- 장바구니 내용 시작 -->
                            <div class="row col-lg-12" style="margin-top: 50px;">
                                <div class="col-lg-12" style="margin-left: 0;">
                                    <div class="shopping__cart__table" style="margin-bottom: 0px;">
                                        <h4>구매상품</h4>
                                        <hr>
                                        <table>
                                            <thead>
                                                <tr class="row">
                                                    <th class="col-lg-4">상품정보</th>
                                                    <th class="col-lg-2">가격</th>
                                                    <th class="col-lg-2">수량</th>
                                                    <th class="col-lg-2">총액</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody">
                                                <!-- 상품정보 item -->
                                                <tr class="row product cartItem" th:each="product : ${productList}"
                                                    th:data-no="${product.boardNo}" th:data-ctg="${product.boardCtg}"
                                                    style="padding-bottom: 0px;">
                                                    <td class="product__cart__item row col-lg-6">
                                                        <div class="product__cart__item__pic">
                                                            <img src="${product.rep}" th:if="not ${#strings.isEmpty(product.rep)}">
                                                            <div style="background-color: lightgrey; width: 90px; height: 90px; display: table;" th:if=" ${#strings.isEmpty(product.rep)}">
                                                                <p style="display: table-cell; vertical-align: middle; text-align: center; font-size: smaller;">이미지 없음</p></div>
                                                        </div>
                                                        <div class="product__cart__item__text">
                                                            <h6 th:text="${product.title}" id="productName">상품명</h6>
                                                        </div>
                                                        <div th:if="not ${#strings.isEmpty(product.rsvStrDate)}" style="padding-left: 30px;">
                                                            <p style="padding-top: 20px;" >시작일 : <span th:text="${#dates.format(product.rsvStrDate, 'yyyy-MM-dd')}" id="rsvStrDate"></span></p>
                                                            <p style="padding-top: 20px;" >종료일 : <span th:text="${#dates.format(product.rsvEndDate, 'yyyy-MM-dd')}" id="rsvEndDate"></span></p>
                                                        </div>
                                                    </td>
                                                    <td class="cart__price col-lg-2">
                                                        <p style="padding-top: 20px;" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}+원" id="productPrice" th:data-price="${product.price}">가격</p>
                                                    </td>
                                                    <td class="cart__price col-lg-2">
                                                        <p style="padding-top: 20px;" th:text="${product.qty}" id="qty">수량</p>
                                                    </td>
                                                    <td class="cart__price col-lg-2">
                                                        <p style="padding-top: 20px;" th:text="${#numbers.formatInteger(product.price*product.qty, 3, 'COMMA')}+원" class="sumPrice" th:data-val="${product.price * product.qty}">총액</p>                                                                                    
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <!-- 구매상품란 끝 -->
                            <!-- 결제 정보란 시작 -->
                            <div class="col-lg-12">
                                <div class="checkout__order">
                                    <h4 class="order__title" style="font-weight: 500;">결제 정보</h4>
                                    <ul class="checkout__total__products">
                                        <li>보유포인트 <span><input type="number" class="form-control" id="myPoint" readonly></span>
                                        </li>
                                        <li>사용포인트 <span><input type="number" class="form-control" value="0" id="usePoint" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></span>
                                        </li>
                                    </ul>
                                    <ul class="checkout__total__all">
                                        <li>총액 <span id="allSumPrice">$750.99</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 결제 정보란 끝 -->
                            <!-- 토스 api 시작 -->
                            <div class="col-lg-12 row" style="margin-top: 50px;">
                                <div id="payment-method" class="col-lg-12"></div>
                                <div id="agreement" class="col-lg-12"></div>
                                <button id="payment-button" class="primary-btn col-lg-12" type="button">결제</button>
                            </div>
                            <!-- 토스 api 끝 -->
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- Checkout Section End -->
        <script th:inline="javascript">
            
            //회원정보가져오기
            var memberInfo;
            $(function () {
                /*<![CDATA[*/
                let member = /*[[ ${session.mem} ]]*/ ;
                /*]]*/

                $.ajax({
                        url: "getMemberData",
                        method: "POST",
                        data: {
                            memNo: member.memNo
                        }
                    })
                    .done(function (result) {
                        memberInfo = result
                        $('#myPoint').val(memberInfo.pnt)
                    })
                    .fail(function (result) {
                        console.log('fail')
                    })
            })

            //회원정보입력 버튼 클릭
            $('#memberInfo').on('click', function () {
                $('#memName').val(memberInfo.name)
                $('#memPhone').val(memberInfo.mbl)
                $('#addressCode').val(memberInfo.zip)
                $('#address').val(memberInfo.addr)
                $('#addressDetail').val(memberInfo.detaAddr)
            })

            //전체 계산 금액 계산
            $(function(){
                let allSumPrice = 0;
                $('.sumPrice').each(function(idx,item){
                    console.log(Number($(item).attr('data-val')))
                    allSumPrice = Number(allSumPrice) + Number($(item).attr('data-val'))
                })
                console.log(allSumPrice)
                $('#allSumPrice').text(priceToString(allSumPrice)+'원')
                $('#allSumPrice').attr('data-val',allSumPrice)
                payPrice = allSumPrice;
            })

            //돈 콤마
            function priceToString(price) {
                return price.toLocaleString('ko-KR')
            }

            //포인트 계산
            //사용 후 금액 계산
            var payPrice;
            $('#usePoint').change(function(){
                $('#myPoint').val(memberInfo.pnt)
                if(Number($('#myPoint').val()) >= Number($('#usePoint').val())){
                    $('#myPoint').val( $('#myPoint').val() - $('#usePoint').val())
                    let afterPrice = Number($('#allSumPrice').attr('data-val'))-Number($('#usePoint').val())
                    $('#allSumPrice').text(priceToString(afterPrice)+'원')
                    payPrice = afterPrice;
                }else{
                    alert('보유포인트를 초과된 입력입니다')
                    $('#usePoint').val(0)
                }
            })

            //input 태그 엔터 막기
            $('input[type="text"],input[type="number"]').keydown(function() {
                if (event.keyCode === 13) {
                     event.preventDefault();
                 };
            });

            //랜검 문자열 만들기
            const random = (length = 8) => {
                const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                let str = '';
                for (let i = 0; i < length; i++) {
                    str += chars.charAt(Math.floor(Math.random() * chars.length));
                }
                return str;
                };

            $(function(){
                // 토스 api 
                const clientKey = "test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq"
                const customerKey = "-tbkMhmy1QihiRzQRvZ2R" // 내 상점에서 고객을 구분하기 위해 발급한 고객의 고유 ID
                const button = document.getElementById("payment-button")
                let orderId = 'mod'+random(20);
                console.log(orderId)
                let orderName;
                if(/*[[${#lists.size(productList) > 1}]]*/){
                    orderName = $('#productName').text()+" 외 "+ /*[[${#lists.size(productList) - 1 +"건"}]]*/
                }else{
                    orderName = $('#productName').text()
                }
    
                // ------  결제위젯 초기화 ------ 
                // 비회원 결제에는 customerKey 대신 ANONYMOUS를 사용하세요.
                const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제
                // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제
    
                // ------  결제위젯 렌더링 ------ 
                // 결제수단 UI를 렌더링할 위치를 지정합니다. `#payment-method`와 같은 CSS 선택자와 결제 금액 객체를 추가하세요.
                // DOM이 생성된 이후에 렌더링 메서드를 호출하세요.
                // https://docs.tosspayments.com/reference/widget-sdk#renderpaymentmethods선택자-결제-금액-옵션
                paymentMethods = paymentWidget.renderPaymentMethods("#payment-method", Number(payPrice))
                
                //paymentMethods.updateAmount 결제 가격 변경 함수
                $('#usePoint').change(function(){
                    paymentMethods.updateAmount(Number(payPrice), "포인트")
                })
                // ------  이용약관 렌더링 ------
                // 이용약관 UI를 렌더링할 위치를 지정합니다. `#agreement`와 같은 CSS 선택자를 추가하세요.
                // https://docs.tosspayments.com/reference/widget-sdk#renderagreement선택자
                paymentWidget.renderAgreement('#agreement')
    
                // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
                // 더 많은 결제 정보 파라미터는 결제위젯 SDK에서 확인하세요.
                // https://docs.tosspayments.com/reference/widget-sdk#requestpayment결제-정보
                button.addEventListener("click", function () {
                    //입력란 체크
                    if (!$('#memName').val()) {
					alert('이름을 입력하세요');
					return;
				    }else if ($('#memPhone').val() <= 0) {
					alert('전화번호를 입력하세요');
					return;
				    }else if ($('#addressCode').val() <= 0) {
					alert('우편번호를 입력하세요');
					return;
				    }else if ($('#address').val() <= 0) {
					alert('주소를 입력하세요');
					return;
				    }else if ($('#addressDetail').val() <= 0) {
					alert('상세주소를 입력하세요');
					return;
                    }else{
                    
                    
                    
                    //payment 테이블 입력 데이터
                    let paymentData = {
                        memNo : /*[[${session.mem.memNo}]]*/,
                        rcvName : $('#memName').val(),
                        rcvMbl : $('#memPhone').val(),
                        rcvAddr : $('#address').val(),
                        rcvDetaAddr : $('#addressDetail').val(),
                        usePnt : $('#usePoint').val(),
                        //결제 방법, 코드, 총액은 결제 완료 후 객체에 입력
                    }
                    
                    //json 을 다시 변환시킬때 ''을 인식할 수 없어서 오류가 뜸
                    // 그래서 null 변수를 선언 후 '' 일 경우에 null값으로 보냄
                    let vStrDate = null;
                    let vEndDate = null;
                    //payment_datail 테이블 입력 데이터
                    let payDatailData = [] ;
                    $('.cartItem').each(function(idx, item){
                        if(! $(item).find('#rsvStrDate').text() == ''){
                            vStrDate = $(item).find('#rsvStrDate').text()
                        }
                        if(! $(item).find('#rsvEndDate').text() == ''){
                            vEndDate = $(item).find('#rsvEndDate').text()
                        }


                        let detailObj= {
                            boardNo : $(item).attr('data-no'),
                            qty : $(item).find('#qty').text(),
                            price : $(item).find('#productPrice').attr('data-price'),
                            boardCtg : $(item).attr('data-ctg'),
                            rsvStrDate : vStrDate,
                            rsvEndDate : vEndDate
                        }
                        payDatailData.push(detailObj)
                    })
                    
                    
                    paymentWidget.requestPayment({
                        orderId: orderId, // 주문 ID(직접 만들어주세요)
                        orderName: orderName, // 주문명
                        successUrl: "http://localhost:8085/payLoad?paymentData="+JSON.stringify(paymentData)+"&payDatailData="+JSON.stringify(payDatailData), // 제에 성공하면 이동하는 페이지(직접 만들어주세요)
                        failUrl: "https://my-store.com/fail", // 결제에 실패하면 이동하는 페이지(직접 만들어주세요)
                        customerEmail: memberInfo.email,
                        customerName: memberInfo.name
                    })
                }
                })
                // 토스 api 끝
            })

            //우편번호 api
            $('#addressBtn').on('click', function () {

                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                        // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                        console.log(data)
                        $('#addressCode').val(data.zonecode)
                        $('#address').val(data.address)
                        $('#addressDetail').val('')
                    }
                }).open();
            })
            //우편번호 api 끝

        </script>
    </div>
</body>

</html>