<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>비앤비 등록 페이지</title>

<style>
.ck-editor__editable {
	height: 400px;
}

.textLeft {
	align-vertical: center;
}

.primary-btn col-lg-2 {
	color: white;
	margin: 0 auto;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<hr>
		<!-- Shop Details Section Begin -->
		<section class="shop-details">
			<form th:action="@{/insertBnb}" method="POST" th:object="${bnb}">
				<div class="product__details__pic" style="background-color: white;">
					<div class="container">
						<div class="row">
							<div class="row col-lg-12">
								<div class="col-lg-4 col-md-9 row" id="addFile">
									<div class="col-lg-12"
										style="background-color: lightgrey; display: table;">
										<p style="display: table-cell; vertical-align: middle">대표
											이미지 등록</p>
									</div>
								</div>
								<div class="product__details__content col-lg-8">
									<form id="myForm">
										<!-- 실제 파일 업로드 input (안보임) -->
										<input type="file" id="inputFile" style="display: none;">
										<input type="text" id="insertFile" style="display: none;"
											name="rep">
										<div class="container">
											<div class="row d-flex justify-content-center row">
												<div class="col-lg-12">
													<div class="product__details__text">
														<div class="row">
															<h4 class="textLeft col-lg-3" style="display: inline;">숙소명
															</h4>
															<input type="text" class="form-control col-lg-8"
																name="title" th:field="*{title}">
														</div>
														<hr>
														<div class="row">
															<div class="row col-lg-6">
																<p class="myInline col-lg-6 mb-0 textLeft">판매자</p>
																<input type="text" class="form-control col-lg-6"
																	readonly placeholder="readonly" name="memNo"
																	th:field="*{memNo}">
																<!-- th:value="${session.mem.}"> -->
															</div>
															<div class="row col-lg-6">
																<p class="myInline col-lg-6 mb-0 textLeft">지역선택</p>
																<select class="form-control col-lg-6" name="crpCtg"
																	th:field="*{dst1}">
																	<option value="k0">경기도</option>
																	<option value="k1">강원특별자치도</option>
																	<option value="k2">충청북도</option>
																	<option value="k3">충청남도</option>
																	<option value="k4">경상북도</option>
																	<option value="k5">경상남도</option>
																	<option value="k6">전라북도</option>
																	<option value="k7">전라남도</option>
																	<option value="k8">제주특별자치도</option>
																</select>
															</div>

														</div>
														<br>
														<div class="row">
															<div class="row col-lg-6">
																<p class="myInline col-lg-6 mb-0 textLeft">주소</p>
																<input type="text" class="form-control col-lg-6"
																	id="post" name="addrNum" readonly th:field="*{zip}">
															</div>
															<div class="row col-lg-6">
																<button type="button" onclick="postCode()">우편번호
																	찾기</button>
															</div>
														</div>
														<br>
														<div class="row">
															<div class="row col-lg-3"></div>
															<div class="row col-lg-6" style="margin-left: 2px">
																<input type="text" class="form-control col-lg-12"
																	id="adr" name="address" th:field="*{addr}">
															</div>
															<div class="row col-lg-4">
																<input type="text" class="form-control col-lg-11"
																	id="adrDetail" name="address" th:field="*{addrDetail}">
															</div>
														</div>
														<br>
														<div class="row">
															<div class="row col-lg-6">
																<p class="myInline col-lg-6 mb-0 textLeft">금액(1일)</p>
																<input type="number" class="form-control col-lg-6"
																	name="price" value="0" th:field="*{price}">
															</div>
														</div>
														<br>
														<div class="row">
															<div class="row col-lg-6">
																<p class="myInline col-lg-6 mb-0 textLeft">예약 가능 날짜</p>
																<input type="date" class="form-control col-lg-6"
																	name="lendStrDate" th:field="*{lendStrDate}"
																	onchange="minDate()">
															</div>
															<div class="row col-lg-4">
																<p class="myInline col-lg-3 mb-0 textLeft">ㅡ</p>
																<input type="date" class="form-control col-lg-9"
																	name="lendEndDate" th:field="*{lendEndDate}"
																	id="endDate">
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="row col-lg-12">
									<div class="col-lg-12">
										<div class="product__details__tab">
											<div class="row">
												<ul class="nav nav-tabs col-lg-12" role="tablist">
													<li class="nav-item col-lg-12"><a
														class="nav-link active" data-toggle="tab" href="#tabs-5"
														role="tab">숙소 상세</a></li>
												</ul>
											</div>
											<div class="row">
												<div class="tab-content col-lg-12">
													<div class="tab-pane active" id="tabs-5" role="tabpanel">
														<div class="product__details__tab__content">
															<div>
																<textarea name="text" id="editor"
																	th:field="*{detaDesct}"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<br>
										<div style="margin-top: 0px;">
											<button type="submit" class="primary-btn col-lg-2"
												id="addBtn">등록하기</button>
											<button type="button" class="primary-btn col-lg-2"
												th:onclick="|location.href='@{/bnbList}'|">뒤로가기</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>

		<!-- 우편번호 api -->
		<script
			src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>
		<script
			src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=c573b65eabeb9b6da24ab52d832dc807&libraries=services"></script>
		<script>
		function postCode() {
			daum.postcode.load(function () {
				new daum.Postcode({
					oncomplete: function (data) {
						var addr = '';
						var extraAddr = '';
						if (data.userSelectedType === 'R') {
							addr = data.roadAddress;
						} else {
							addr = data.jibunAddress;
						}
						if (data.userSelectedType === 'R') {
							if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
								extraAddr += data.bname;
							}
							if (data.buildingName !== '' && data.apartment === 'Y') {
								extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
							}
							if (extraAddr !== '') {
								extraAddr = ' (' + extraAddr + ')';
							}
						}
						document.getElementById("post").value = data.zonecode;
						document.getElementById("adr").value = addr;
						// 주소를 카카오지도 API의 지오코딩(Geocoding) 서비스를 이용하여 위도와 경도로 변환
	                    var geocoder = new kakao.maps.services.Geocoder();
	                    geocoder.addressSearch(addr, function (result, status) {
	                        if (status === kakao.maps.services.Status.OK) {
	                            // 변환된 위도와 경도 출력
	                            console.log('위도:', result[0].y);
	                            console.log('경도:', result[0].x);
	                        } else {
	                            alert('주소를 찾을 수 없습니다.');
	                        }
	                    });
	                    document.getElementById("adrDetail").focus();
	                }
	            }).open();
	        });
	    }
	</script>

		<!-- ck 에디터-->
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
		<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>

		<script>
			let dbPath;

			//첨부파일 가져오기
			$('#addFile').on('click', function () {
				$('#inputFile').click()
			})

			//첨부파일 업로드
			$('#inputFile').change(function () {
				var formData = new FormData(); //FormData 객체 생성

				var inputFile = $("input[type='file']")
				//input 태그의 type이 file인 것을 찯아서 inputFile 이라는 변수로 지정

				var files = inputFile[0].files;
				//files : 선택한 모든 파일을 나열하는 FileList 객체입니다
				//multiple 특성을 지정하지 않았다면 두 개 이상의 파일을 포함하지 않습니다

				for (var i = 0; i < files.length; i++) {
					//console.log(files[i]);
					if (files[i].type.includes('image')) {
						formData.append("uploadFiles", files[i]); //키,값으로 append

						$.ajax({
							url: 'uploadsAjax',
							type: 'POST',
							processData: false, // 기본값은 true, ajax 통신을 통해 데이터를 전송할때, 기본적으로 key와 value 값을 Query String으로 변환해서 보내줌
							contentType: false, // multipart/form-data 타입을 사용하기위해 false로 지정
							data: formData,
							success: function (result) {
								console.log(result)
								dbPath = result.dbPath
								$('#addFile').html('<img src="' + result.dbPath + '">')
								$('#insertFile').val(result.dbPath);
								console.log(dbPath)					
							},
							error: function (reject) {
								console.log(reject)
							}
						})
					} else {
						alert('이미지만 등록 가능합니다')
					}
				}
			})
			//ckEditor 생성
			let editor;
			ClassicEditor.create(document.querySelector('#editor'), {
					language: "ko",
					ckfinder: {
						uploadUrl: '/image/upload'
					}
				})
				.then(newEditor => {
					editor = newEditor;
				})
				.catch(error => {
					console.error(error);
				});

			
			//최소날짜 
			function minDate() {
				let min = event.target.value;
				console.log(min);
				document.getElementById('endDate').setAttribute('min', min);
			}
		</script>
	</div>
</body>

</html>