<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>농촌비앤비 상세페이지</title>

</head>

<body>
	<div layout:fragment="content">
		<!-- Shop Details Section Begin -->
		<section class="shop-details">
			<!-- 이미지 부분 -->
			<div class="product__details__pic">
				<div class="container">
					<div class="row">
						<div class="col-lg-12" style="text-align: left">
							<div class="product__details__breadcrumb">
								<a href="/bnbList">농촌비엔비</a> <span>제목넣기</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3">
							<!-- 							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#tabs-1" role="tab">
										<div class="product__thumb__pic set-bg"
											data-setbg="img/shop-details/thumb-1.png"></div>
								</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#tabs-2" role="tab">
										<div class="product__thumb__pic set-bg"
											data-setbg="img/shop-details/thumb-2.png"></div>
								</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#tabs-3" role="tab">
										<div class="product__thumb__pic set-bg"
											data-setbg="img/shop-details/thumb-3.png"></div>
								</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#tabs-4" role="tab">
										<div class="product__thumb__pic set-bg"
											data-setbg="img/shop-details/thumb-4.png">
											<i class="fa fa-play"></i>
										</div>
								</a></li>
							</ul> -->
						</div>
						<div class="col-lg-6 col-md-9">
							<div class="tab-content">
								<div class="tab-pane active" id="tabs-1" role="tabpanel">
									<div class="product__details__pic__item">
										<img src="img/bnb/001-1.jpg" alt="대표사진">
									</div>
								</div>
								<!-- 								<div class="tab-pane" id="tabs-2" role="tabpanel">
									<div class="product__details__pic__item">
										<img src="img/shop-details/product-big-3.png" alt="">
									</div>
								</div>
								<div class="tab-pane" id="tabs-3" role="tabpanel">
									<div class="product__details__pic__item">
										<img src="img/shop-details/product-big.png" alt="">
									</div>
								</div>
								<div class="tab-pane" id="tabs-4" role="tabpanel">
									<div class="product__details__pic__item">
										<img src="img/shop-details/product-big-4.png" alt=""> <a
											href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1"
											class="video-popup"><i class="fa fa-play"></i></a>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product__details__content">
				<div class="container">
					<!-- 제품제목,결제버튼 -->
					<div class="row d-flex justify-content-center">
						<div class="col-lg-8">
							<div class="product__details__text">
								<h3>경북 청도 농촌 한달살기</h3>
								<div class="rating">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star-o"></i> <span> - 5 Reviews</span>
								</div>
								<p>경북 청도에서 한달 살기 체험 해보세요! </p>
								<h3>50,000원(1박)</h3>
								<!-- 사이즈선택 -->
								<!-- <div class="product__details__option">
									<div class="product__details__option__size">
										<span>Size:</span> <label for="xxl">xxl <input
											type="radio" id="xxl">
										</label> <label class="active" for="xl">xl <input type="radio"
											id="xl">
										</label> <label for="l">l <input type="radio" id="l">
										</label> <label for="sm">s <input type="radio" id="sm">
										</label>
									</div>
								</div> -->
								<!-- 날짜선택 -->
								<div>
									<label for="date"> 날짜 선택 
										<input type="date" id="startDate" min="2023-06-05" max="2023-06-23" value="2023-06-05"> 
										~ <input type="date" id="endDate" min="2023-06-05" max="2077-06-28" value="2023-06-22">
									<br>
									<p>총 일수 : </p>
									<p>총 금액 : </p>									
									</label>
								</div>
								<div class="product__details__cart__option">
									<!-- 									<div class="quantity"> 수량
										<div class="pro-qty">
											<input type="text" value="1">
										</div>
									</div> -->
									<a href="#" class="primary-btn">예약 및 결제하기</a>
								</div>

							</div>
						</div>
					</div>
					<!-- 상세설명,리뷰,문의사항 탭 -->
					<div class="row">
						<div class="col-lg-12">
							<div class="product__details__tab">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#tabs-5" role="tab">상세설명</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#tabs-6" role="tab">리뷰</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#tabs-7" role="tab">문의처</a></li>
								</ul>
								<div class="tab-content">
									<!-- 첫번째 탭 : 상세설명 ck editor -->
									<div class="tab-pane active" id="tabs-5" role="tabpanel">
										<div class="product__details__tab__content">
											<p class="note">Nam tempus turpis at metus scelerisque
												placerat nulla deumantos solicitud felis. Pellentesque diam
												dolor, elementum etos lobortis des mollis ut risus. Sedcus
												faucibus an sullamcorper mattis drostique des commodo
												pharetras loremos.</p>
											<div class="product__details__tab__content__item">
												<h5>Products Infomation</h5>
												<p>A Pocket PC is a handheld computer, which features
													many of the same capabilities as a modern PC. These handy
													little devices allow individuals to retrieve and store
													e-mail messages, create a contact file, coordinate
													appointments, surf the internet, exchange text messages and
													more. Every product that is labeled as a Pocket PC must be
													accompanied with specific software to operate the unit and
													must feature a touchscreen and touchpad.</p>
												<p>As is the case with any new technology product, the
													cost of a Pocket PC was substantial during it’s early
													release. For approximately $700.00, consumers could
													purchase one of top-of-the-line Pocket PCs in 2003. These
													days, customers are finding that prices have become much
													more reasonable now that the newness is wearing off. For
													approximately $350.00, a new Pocket PC can now be
													purchased.</p>
											</div>
											<div class="product__details__tab__content__item">
												<h5>Material used</h5>
												<p></p>
											</div>
											<!-- 지도 api -->
										</div>
											<div id="map" style="width: 750px; height: 350px;"></div>
									</div>
									<!-- 두번째 탭: 리뷰 -->
									<div class="tab-pane" id="tabs-6" role="tabpanel">
										<div class="product__details__tab__content">
											<div class="product__details__tab__content__item">
												<h5>리뷰</h5>
												<table class="table">
													<tr>
														<th>날짜</th>
														<th>내용</th>
														<th>아이디</th>
														<th>수정</th>
													</tr>
													<tr>
														<td>2023-02-05</td>
														<td>재미있었습니다.</td>
														<td>mem001</td>
														<td><button>수정</button>
															<button>삭제</button></td>
													</tr>
													<tr>
														<th>리뷰</th>
														<td><textarea name="" id="" cols="50" rows="3"></textarea>
														</td>
														<td>아이디</td>
														<td><button>등록</button></td>
													</tr>
												</table>
											</div>
											<!-- 											<div class="product__details__tab__content__item">

											</div> -->
										</div>
									</div>
									<!-- 세번째 탭 -->
									<div class="tab-pane" id="tabs-7" role="tabpanel">
										<div class="product__details__tab__content">
											<p class="note">Nam tempus turpis at metus scelerisque
												placerat nulla deumantos solicitud felis. Pellentesque diam
												dolor, elementum etos lobortis des mollis ut risus. Sedcus
												faucibus an sullamcorper mattis drostique des commodo
												pharetras loremos.</p>
											<div class="product__details__tab__content__item">
												<h5>문의처</h5>
												<p>문의처:
												판매자 </p>
											</div>
											<div class="product__details__tab__content__item">
												<h5>Material used</h5>
												<p>Polyester is deemed lower quality due to its none
													natural quality’s. Made from synthetic materials, not
													natural like wool. Polyester suits become creased easily
													and are known for not being breathable. Polyester suits
													tend to have a shine to them compared to wool and cotton
													suits, this can make the suit look cheap. The texture of
													velvet is luxurious and breathable. Velvet is a great
													choice for dinner party jacket and can be worn all year
													round.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br> <br> <br> <br>
				</div>
			</div>
		</section>
		<!-- Shop Details Section End -->
	</div>
	
	<!-- 지도 api -->
	<script
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c573b65eabeb9b6da24ab52d832dc807"></script>
	<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = {
			center : new kakao.maps.LatLng(37.56682, 126.97865), // 지도의 중심좌표
			level : 3, // 지도의 확대 레벨
			mapTypeId : kakao.maps.MapTypeId.ROADMAP
		// 지도종류
		};

		// 지도를 생성한다 
		var map = new kakao.maps.Map(mapContainer, mapOption);

		// 지도에 마커를 생성하고 표시한다
		var marker = new kakao.maps.Marker({
			position : new kakao.maps.LatLng(37.56682, 126.97865), // 마커의 좌표
			map : map
		// 마커를 표시할 지도 객체
		});
	</script>
</body>

</html>