<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"
	type="text/css">
<!-- 리뷰등록폼 -->
<link rel="stylesheet" href="/css/suinCss/review.css">
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"
	type="text/css">

<!-- datePicker -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="js/otherPlugins/datepicker-ko.js"></script> -->
<script src="/js/otherPlugins/datepicker-ko.js"></script>

<title>농촌비앤비 상세페이지</title>
<style>
#dateTb td {
	text-align: right;
	padding-right: 80px;
}

.tab-pane {
	margin-bottom: 50px;
}

.boldFont {
	font-size: large;
	font-weight: bold;
}

#map {
	width: 700px;
	height: 300px;
	margin: 20px 5px;
}

.mini {
	width: 200px;
	display: inline;
}

/* 
.dataTables_wrapper .dataTables_length {
	float: right;
	margin-right: 50px;
} */
</style>

</head>

<body>
	<div layout:fragment="content">

		<!-- Shop Details Section Begin -->
		<section th:each="bnb:${bnb}" class="shop-details">
			<!-- 이미지 부분 -->
			<div class="product__details__pic">

				<div class="container">
					<div class="row">
						<div class="col-lg-12" style="text-align: left">
							<div class="product__details__breadcrumb">
								<a href="/bnbList">농촌비엔비</a> <span th:text="|${bnb.title}|">제목넣기</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3"></div>
						<div class="col-lg-6 col-md-9">
							<div class="tab-content">
								<div class="tab-pane active" id="tabs-1" role="tabpanel">
									<div class="product__details__pic__item">
										<img th:src="${bnb.rep}" alt="대표사진">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product__details__content">
				<div class="container">
					<!-- 제품제목,결제버튼 -->
					<div class="row d-flex justify-content-center">
						<div class="col-lg-8">
							<div class="product__details__text">
								<h3 th:text="|${bnb.title}|">제목</h3>
								<span id="onePay" th:text="|${bnb.price}|" style="display: none"></span>
								<th:block th:if="${rev}>0">
									<div class="rating">
										리뷰 평균: <span id="revAvg" class="star"> </span> &nbsp;(리뷰 총
										[[${rev}]]개)
									</div>
								</th:block>
								<!-- 결제 -->
								<div>

									<table class="table" id="dateTb">
										<tr>
											<th>금액(1일)</th>
											<td class="boldFont"><span
												th:text="${#numbers.formatInteger(bnb.price==null?0:bnb.price,0,'COMMA')}"></span>원
											</td>

										</tr>
										<tr>
											<th>날짜 선택</th>
											<td><input type="text" id="startDate"
												class="form-control mini"
												th:min="${#dates.format(bnb.lendStrDate,'yyyy-MM-dd')}"
												th:max="${#dates.format(bnb.lendEndDate,'yyyy-MM-dd')}"
												readonly> ~ <input type="text" id="endDate"
												class="form-control mini"
												th:min="${#dates.format(bnb.lendStrDate,'yyyy-MM-dd')}"
												th:max="${#dates.format(bnb.lendEndDate,'yyyy-MM-dd')}"
												onchange="endChange()" readonly></td>
										</tr>
										<tr>
											<th>총 일수</th>
											<td><span id="night"></span> <!-- 몇박 --> <span
												id="dateResult"></span> 일</td>
										</tr>
										<tr>
											<th>총 금액</th>
											<td class="boldFont"><b><span id="payResult"></span></b>
												원</td>
										</tr>
										<tr>
											<th colspan="2">
												<div class="product__details__cart__option">
													<p style="margin-top: 20px">
														<b><i>"농촌 한달살기 체험 해보세요!"</i></b>
													</p>
													<span class="primary-btn" id="letPay">예약 및 결제하기</span>
												</div>
											</th>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="product__details__tab">
								<!-- 상세설명, 리뷰, 문의사항 탭 -->
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active"
										data-toggle="tab" href="#tabs-5" role="tab">상세설명</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#tabs-6" role="tab">리뷰</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab"
										href="#tabs-7" role="tab">문의처</a></li>
								</ul>
								<div class="tab-content">
									<!-- 첫번째 탭 : 상세설명 ck editor -->
									<div class="tab-pane active" id="tabs-5" role="tabpanel">
										<div class="product__details__tab__content" style="padding-left:15%">
											<p class="note">■ 숙소 안내</p>
											<div class="product__details__tab__content__item" 
												th:utext="|${bnb.detaDesct}|">(ck editor에서 넣은 내용)</div>
											<!-- 지도 api -->
											<div class="product__details__tab__content__item">
												<p class="note" style="margin-bottom: 10px">■ 위치 정보</p>
												<div class="product__details__tab__content__item">
													<div id="mapDesc"
														th:utext="|주소: ${bnb.addr}, ${bnb.addrDetail} |">주소</div>
													<div id="map">지도 Api</div>
												</div>
											</div>
											<!-- 위도 경도-->
											<div style="display: none">
												위도<span id="lati" th:text="|${bnb.lati}|"></span><br>
												경도<span id="longi" th:text="|${bnb.longi}|"></span>
											</div>
										</div>
									</div>
									<!-- 두번째 탭: 리뷰 -->
									<div class="tab-pane" id="tabs-6" role="tabpanel">
										<div class="product__details__tab__content">
											<div class="product__details__tab__content__item">
												<div id="reviewArea">
													<table id="reviewTable" class="table"
														style="text-align: center">
														<thead>
															<tr style="text-align: center">
																<th>번호</th>
																<th>별점</th>
																<th>리뷰 내용</th>
																<th>작성자</th>
																<th>삭제</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
													<!-- 리뷰 등록 폼 -->
													<div class="review-form" style="display: none">
														<div class="row1">
															<label for="star">별점:</label> <select id="star">
																<option value="0">별점 선택</option>
															</select>
														</div>

														<div class="row1">
															<label for="reviewText">리뷰:</label>
															<textarea id="reviewText" rows="2" cols="30"></textarea>
															<input id="addBtn" type="submit" value="등록">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- 세번째 탭 -->
									<div class="tab-pane" id="tabs-7" role="tabpanel">
										<div class="product__details__tab__content">
											<!-- <p class="note" style="color: grey">문의는 아래 사항으로 연락 바랍니다.</p> -->
											<div class="product__details__tab__content__item"
												style="margin: 40px;">

												<h5>판매자 정보</h5>
												<table class="table seller">
													<tr>
														<td>판 매 자</td>
														<td><span
															th:text="|${bnb.name} (nickname: ${bnb.nick})|"></span></td>
													</tr>
													<tr>
														<td>전화번호</td>
														<td><span th:if="${bnb.mbl!=null and bnb.mbl!=''}"
															th:text="|${bnb.mbl}|"></span></td>
													</tr>
													<tr>
														<td>이 메 일</td>
														<td><span th:text="|${bnb.email}|"></span></td>
													</tr>
													<tr>
														<td>주 소</td>
														<td><span th:if="${bnb.zip!=null and bnb.zip!=''}"
															th:text="|${bnb.memAdr}, ${bnb.memAdrdeta} (우:${bnb.zip})|"></span>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<th:block th:if="${session.mem}!=null">
						<div class="product__details__cart__option"
							style="text-align: center; margin: 50px;"
							th:if="${session.mem.memNo} == ${bnb.memNo}">
							<a th:href="@{update/updateBnb(boardNo=${bnb.boardNo})}"
								class="primary-btn">글 수정</a>
								<a
								class="primary-btn" id="deleteButton" style="color:white">글	삭제</a>
						</div>
					</th:block>
				</div>
			</div>

		</section>


		<!-- dataTable -->
		<script
			src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
		<!-- 지도 api -->
		<script
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c573b65eabeb9b6da24ab52d832dc807"></script>

		<script th:inline="javascript">
		// --------- 지도 api
		var latitude = document.getElementById('lati').innerText;
		var longitude = document.getElementById('longi').innerText;
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		mapOption = {
			center : new kakao.maps.LatLng(latitude, longitude), // 지도의 중심좌표
			level : 3, // 지도의 확대 레벨
			mapTypeId : kakao.maps.MapTypeId.ROADMAP
		};
		var map = new kakao.maps.Map(mapContainer, mapOption);
		// 지도에 마커를 생성하고 표시한다			
		var marker = new kakao.maps.Marker({
			position : new kakao.maps.LatLng(latitude, longitude), // 마커의 좌표
			map : map
		});
		// --------- 지도 끝

		
		// --------- 변수선언
		/*<![CDATA[*/
		let boardNo = /*[[${bnb.boardNo}]]*/ ;
		let mem = /*[[${session.mem}]]*/ ;
		let memList = /*[[${pay}]]*/ ;
		let memNo = "";
		if(mem !=null){
			memNo= mem.memNo
		}
		console.log(memNo);
		/*]]>*/
		
		
		//------------- datePicker
		var rsvDateList;
		var maxDate;
		
		$(function(){
				maxDate = /*[[${bnb.lendEndDate}]]*/;
				maxDate = maxDate.substr(0,10)
				minDate = /*[[${bnb.lendStrDate}]]*/;
				minDate = minDate.substr(0,10)
				//console.log(minDate, maxDate)
				//DB 예약 날짜 받아오기
				$.ajax({
					url : "/checkRsvDate",
					data : {
						boardNo : /*[[${bnb.boardNo}]]*/
					}
				})
				.done(function(result){
					//예약된 날짜(비활성) 배열에 담기
					rsvDateList = result;
					//시작일 datePicker 생성 함수
					strDateFunc()
				})
				.fail(function(){
					console.log('fail')
				})
			})

			//시작날짜 datePiicker
			function strDateFunc(){
				$('#startDate').datepicker({
					beforeShowDay: disableDays,
					dateFormat: "yy-mm-dd",
					minDate: minDate,
					maxDate: maxDate,
					closeText: "닫기",
   				currentText: "오늘",
   				prevText: '이전 달',
  				  nextText: '다음 달',
					monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					dayNames: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
					weekHeader: "주",
					yearSuffix: '년',
				});
			}

			//종료날짜 datePiicker
			function endDateFunc(setDate){
				$('#endDate').datepicker( "destroy" )
				$('#endDate').datepicker({
					beforeShowDay : disableDays,
					dateFormat: "yy-mm-dd",
					minDate : setDate,
					maxDate: maxDate,
					closeText: "닫기",
					currentText: "오늘",
					prevText: '이전 달',
					nextText: '다음 달',
					monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
					dayNames: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
					dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
					weekHeader: "주",
					yearSuffix: '년',
					});
			}
				// 비활성화 날짜 체크 함수
				function disableDays(date) {
						var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
						for (i = 0; i < rsvDateList.length; i++) {
								if($.inArray(y + '-' +(m+1) + '-' + d,rsvDateList) != -1) {
										return [false];
								}
						}
						return [true];
		}

				//시작날짜 변경 시
				$('#startDate').change(function(){
					let setDate = $('#startDate').val();
					//endDate datePicker 생성함수
					$('#endDate').val('');
					$('#night').text('');
					$('#dateResult').text('');
					$('#payResult').text('');
					endDateFunc(setDate);
				})

				//종료날짜 변경 시
				function endChange(){
					if($('#startDate').val() == null || $('#startDate').val().trim() === ''){
						$('#endDate').val('');
						Swal.fire({ title: '예약 시작 날짜를 선택하세요' , icon:'warning', confirmButtonText:"확인"});
						return;
					}else{
						console.log('What')
						//예약날짜 체크 함수
						checkRsv()
					}
				};

				//설정날짜 사이에 예약날짜 유무확인
				function checkRsv(){
					console.log(rsvDateList)
					if (rsvDateList.length != 0) { 
					$(rsvDateList).each(function(idx, date){
						// 선택된 날짜 사이에 예약일이 존재하는지 판단
						if(new Date($('#endDate').val()) > new Date(date) && new Date(date) > new Date($('#startDate').val())){
							//예약이 있을 경우 alert, value 비우기
							Swal.fire({ title: '이미 예약이 존재하는 날짜입니다.' ,
								text:'비활성화된 날짜는 예약이 존재하는 날짜입니다. 예약된 날짜를 제외하여 선택해주시기 바랍니다.', icon:'error', confirmButtonText:"확인"});
							$('#endDate').val('')
							$('#startDate').val('')
							$('#night').text('');
							$('#dateResult').text('');
							$('#payResult').text('');
							//for문 벗어남
							return false
						}else{
							//종료날짜 제대로 입력되면> 금액계산 함수
							calculateDays();							
						}
					});
				}else{
					calculateDays();
				}
				}
	
			// ---------- 날짜입력시 일수 및 금액 계산
			function calculateDays() {
				var startDate = new Date(
						document.getElementById('startDate').value);
				var endDate = new Date(document.getElementById('endDate').value);
				var timeDifference = endDate.getTime() - startDate.getTime();
				var days = timeDifference / (1000 * 3600 * 24) + 1;
				var nights = timeDifference / (1000 * 3600 * 24);
				var resultElement = document.getElementById('dateResult');
				var night = document.getElementById('night');
				// 날짜계산
				console.log('일 수:', days);
				night.textContent = nights + " 박 ";
				resultElement.textContent = days;
				if(days === 'NaN'){
					resultElement.textContent='';
					return;
				} else {
					// 금액계산
					var pay = document.getElementById('payResult');
					var onePay = document.getElementById('onePay').innerText;
					let total = days * onePay;
					total = numComma(total);
					pay.textContent = total;
				}
			}

			// ----------- 금액 천단위 콤마찍기 함수
			function numComma(num) {
				return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			}

			// ----------- 글삭제 버튼
			$('#deleteButton').on('click', delPopUp);
			//삭제 팝업 이벤트
			function delPopUp(event) {
				console.log(memList)
				if(memList.length<1){
					event.preventDefault();
					Swal.fire({ title: '글을 정말 삭제하시겠습니까?' ,
						icon:'warning', 
						showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
						confirmButtonColor: '#d33', // confrim 버튼 색깔 지정
						cancelButtonColor: '#3085d6', // cancel 버튼 색깔 지정
						confirmButtonText: '삭제', // confirm 버튼 텍스트 지정
						cancelButtonText: '취소' // cancel 버튼 텍스트 지정
	 				}).then(result => {
		 				if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
		 					//Swal.fire('글이 삭제되었습니다', 'success');
		 					location.href="/deleteBnb?boardNo="+boardNo
		 				} else {
						    console.log("삭제 취소");
						}
			 	 	})
				}else{
					Swal.fire({title: '삭제할 수 없습니다',text:'결제건이 존재합니다', icon:'warning', confirmButtonText:"확인"});
				}
			}
						let seller = /*[[${bnb.memNo}]]*/ ;
			
		// ------------------------- 결제하기 버튼 기능
			$('#letPay').on('click', function() {
				let days = $('#dateResult').text();
				let start = $('#startDate').val();
				let end = $('#endDate').val();
				if(mem != null && memNo != seller){
					if(start == ''){
						Swal.fire({title: '예약 시작 날짜를 선택하세요', icon:'warning', confirmButtonText:"확인"});
						return;
					}else if(end == ''){
						Swal.fire({title: '예약 종료 날짜를 선택하세요', icon:'warning', confirmButtonText:"확인"});
					}else{
					//구매페이지로 보낼 배열
					let productList = [];
					//배열에 담을 구매상품정보 객체 생성
					 let obj = {
			                boardNo: boardNo,
			                qty: days,
			                boardCtg: 'n4',
			                rsvStrDate : start,
			                rsvEndDate : end
			              }
					//배열에 객체 담기
					productList.push(obj)
					//상품객체배열을 json 변환 후 결제피이지 파라미터로 보냄 (한글, 특수문자가 url 인코딩이 안되서 encodeURI 사용)
					location.href = "payment?productList=" + encodeURI(JSON.stringify(productList));
					};
				}else if(seller === memNo){
					Swal.fire({title: '판매자 입니다.', icon:'warning', confirmButtonText:"확인"});
				}else{
					Swal.fire({title: '로그인이 필요합니다.', icon:'warning', confirmButtonText:"확인"});
				} 
			});
			
			// ------------------------- 결제 기능 끝
			
			
			
			// ---------------------------------  리뷰  기능   ------------------------------------ //
			// 데이터테이블 - 한글 설정
			var lang_kor = {
			  "decimal": "",
			  "emptyTable": "데이터가 없습니다.",
			  "info": "_START_ - _END_ (총 _TOTAL_ 개)",
			  "infoEmpty": "0명",
			  "infoFiltered": "(전체 _MAX_ 명 중 검색결과)",
			  "infoPostFix": "",
			  "thousands": ",",
			  "lengthMenu": "_MENU_ 개씩 보기",
			  "loadingRecords": "로딩중...",
			  "processing": "처리중...",
			  "search": "검색 : ",
			  "zeroRecords": "검색된 데이터가 없습니다.",
			  "paginate": {
			    "first": "첫 페이지",
			    "last": "마지막 페이지",
			    "next": "다음",
			    "previous": "이전"
			  },
			  "aria": {
			    "sortAscending": " :  오름차순 정렬",
			    "sortDescending": " :  내림차순 정렬"
			  }
			};
			
			//리뷰 조회 기능
			$(document).ready(function () {
			  reviewAjax();
			});

			function reviewAjax() {
			  $('#reviewTable>tbody').children().remove();
			  $.ajax({
			    url: `rev/review`,
			    method: 'GET',
			    data: {
			      boardNo
			    },
			    dataType: 'json',
			    success: function (list) {
			      //console.log(list); 
			      printReview(list);
			    },
			    error: function (error) {
			      console.error(error);
			    }
			  });
			}

			//dataTable 만들기
			function printReview(list) {
			 //let data = list;
			 let data = list.reverse(); //순번을 거꾸로 주기위해서 반대로 
			  $('#reviewTable').DataTable({
			    destroy: true,
			    language: lang_kor,
			    searching: false, //검색란 표시 설정
			    lengthMenu: [5, 10, 20],
			    data: data,
			    columns: [{
			        data: 'num',
			        width: '10%',
			        orderable: true,
			        render: function (data, type, row, meta) {
			          // meta.row는 0부터 시작하는 행의 인덱스입니다.
			          // 순번은 1부터 시작해야 하므로 meta.row + 1을 반환합니다.
			          return meta.row + 1;
			            }
			  		},
			  		
			      {
			        data: null,
			        width: '10%',
			        render: function (data, type, row) {
			        	 return makeStars(row.rate) 
		            		+ '<span style="display:none">'+row.rate+'</span><br>'
		            		+ formatDate(row.wrtDate);
		          }
			      },
			      {
			    	  data: null,
					    render: function (data, type, row) {
					    	 return row.revDesct +
					            '<span class="revData" style="display:none" data-memNo='
					            + row.memNo +' data-revNo=' + row.revNo + '></span>';
				     	  }
				  },
			      {
			        data: 'nick',
			        width: '10%'
			      },
			      {
			        data: 'button',
			        width: '10%',
			        render: function (data, type, row) {
			          return '<button class="revDel form-control">삭제</button>';
			        }
			      }
			    ],
			    autoWidth: false // autoWidth 옵션 비활성화
			    //order: [0, 'desc']
			  });
			} 

			//리뷰 - 별찍기 함수
			function makeStars(num) {
			  let stars = '';
			  for (let i = 0; i < num; i++) {
			    stars += '<i class="fa fa-star"></i>';
			  }
			  for (let j = num; j < 5; j++) {
			    stars += '<i class="fa fa-star-o"></i>';
			  }
			  return stars;
			}

			//리뷰 별점 선택(select - option)
			const starSelect = document.getElementById('star');

			  for (let i = 5; i >= 1; i--) {
			    const option = document.createElement('option');
			    option.value = i;
			    option.textContent = `${makeStars(i)} (${i}점)`;
			    starSelect.appendChild(option);
			  }
			
			//리뷰 - 별점평균 
			/*<![CDATA[*/
			let avg = /*[[${avg}]]*/ ;
			/*]]>*/
			$('#revAvg').html(makeStars(avg));  
			  
			//리뷰 - 날짜포맷변경 
			function formatDate(dateString) {
			  const date = new Date(dateString);
			  const year = date.getFullYear();
			  const month = String(date.getMonth() + 1).padStart(2, '0');
			  const day = String(date.getDate()).padStart(2, '0');
			  return `(${year}/${month}/${day})`;
			}
			
			//리뷰 - 등록 기능	
			$('#addBtn').on('click', function () {

			  if (mem == null) {
			    return Swal.fire({ title: '로그인이 필요합니다' , icon:'warning', confirmButtonText:"확인"});
			  } else if ($('#star').val() == '0') {
			    return Swal.fire({ title: '별점을 선택하세요' , icon:'warning', confirmButtonText:"확인"});
			  } else if ($('#reviewText').val() == '') {
			    return Swal.fire({ title: '리뷰를 입력하세요' , icon:'warning', confirmButtonText:"확인"});
			  } else {
			    let star = $('#star').val();
			    let text = $('#reviewText').val();
			    let day = new Date();
			    $.ajax({
			      url: `rev/review`,
			      method: 'POST',
			      data: {
			        memNo: memNo,
			        rate: star,
			        revDesct: text,
			        boardNo: boardNo
			      },
			      dataType: 'json',
			      success: function (result) {
			        console.log(result);
			        reviewAjax();
			        $('#reviewText').val('');
			      },
			      error: function (error) {
			        console.log(error);
			      }
			    });
			  }
			})
			
			//리뷰등록폼 - 결제한 사람만 보이기
			
			memList.find(findMem);			
			function findMem(element)  {
			  if(element == memNo) {
				 let rvForm = document.querySelector('.review-form')
				 rvForm.style.display = 'block';
				 console.log("true");
				  return ;
			  } else {
				  console.log("false");
				  return ;
			  } 
			}
			
			//리뷰 삭제 기능	
			$('#reviewTable').on('click', '.revDel', function () {
				  const rowData = $(this).closest('tr');
				  const revMem = rowData.find('.revData').data('memno');
				  const revNo = rowData.find('.revData').data('revno');
			  if(mem == null){
				 //alert('삭제할 수 없습니다.')
				  Swal.fire({ title: '삭제할 수 없습니다.' , icon:'error', confirmButtonText:"확인"});
			  }else if(revMem == memNo){	  
			 	 Swal.fire({ title: '리뷰를 삭제하시겠습니까?' ,
							icon:'warning', 
							showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
							confirmButtonColor: '#d33', // confrim 버튼 색깔 지정
							cancelButtonColor: '#3085d6', // cancel 버튼 색깔 지정
							confirmButtonText: '삭제', // confirm 버튼 텍스트 지정
							cancelButtonText: '취소', // cancel 버튼 텍스트 지정
	 				}).then(result => {
	 						   // 만약 Promise리턴을 받으면,
	 				if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
				    $.ajax({
				      url: 'rev/revDel',
				      method: 'GET',
				      data: {
				        revNo: revNo
				      },
				      success: function (result) {
				        rowData.remove();
				        console.log("리뷰 삭제 결과:", result);
				        
				      },
				      error: function (error) {
				        console.log("리뷰 삭제 오류:", error);
				      }
				    });
				  } else {
				    console.log("삭제 취소");
				  }
			  })
				}else{
				  Swal.fire({ title: '작성자만 삭제 가능합니다' , icon:'error', confirmButtonText:"확인"});
			  }		  	  
		   });
		// ---------------------------------  리뷰  기능  끝  ------------------------------------ //
			
		</script>


	</div>
</body>

</html>

