<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>농촌 비엔비</title>
<style>
.product__pagination {
	margin: auto;
}
</style>
</head>
<body>
	<div layout:fragment="content">

		<!-- 타이틀 Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농촌 비엔비</h4>
							<div class="breadcrumb__links">
								<span>농촌에서 한달살기 체험을 해보며 귀촌 생활을 직접 경험해보세요:)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 타이틀 Section End -->

		<!-- Shop Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<!-- 사이드바 -->
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">
												<h4>농촌체험</h4>
											</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="bnbList" style="color: black">농촌 비엔비</a></li>
														<li><a href="#">농촌 체험하기</a></li>
														<li><a href="#">농촌 일자리</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- 글등록 버튼 - (정회원)인 경우에만 버튼 보임-->
									<div sec:authorize="hasRole('ROLE_REGULAR')">
										<div class="product__details__cart__option"
											style="text-align: center">
											<a href="insertBnb" class="primary-btn">농촌비앤비 글등록</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end 사이드바 -->
					<div class="col-lg-9">
						<!-- 조건검색 -->
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="shop__product__option__left">
										<select class="form-control col-lg-6" name="dst1"
											id="selectRG">
											<option value="">지역선택</option>
											<option value="k0">경기도</option>
											<option value="k1">강원특별자치도</option>
											<option value="k2">충청북도</option>
											<option value="k3">충청남도</option>
											<option value="k4">경상북도</option>
											<option value="k5">경상남도</option>
											<option value="k6">전라북도</option>
											<option value="k7">전라남도</option>
											<option value="k8">제주특별자치도</option>
										</select>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="shop__product__option__right">
										<p>정렬:</p>
										<select id="order">
											<option value="최신순">최신순</option>
											<option value="낮은가격순">낮은가격순</option>
											<option value="높은가격순">높은가격순</option>
										</select>
									</div>

								</div>
							</div>
						</div>
						<!--------------- 본문 --------------->
						<!-- 아이템 -->
						<div class="row" id="bnbList"></div>
						<!-- 페이징 -->
						<div class="row" id="bnbPage"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- 아이템 처리-->
		<div class="col-lg-4 col-md-6 col-sm-6" id="bnbItem"
			style="display: none">
			<div class="product__item sale">
				<div class="product__item__pic set-bg">
					<ul class="product__hover">
					</ul>
				</div>
				<div class="product__item__text">
					<h5 class="title">숙소명</h5>
					<h6 class="price" style="color: grey">금액</h6>
				</div>
			</div>
		</div>
		<!-- pageDiv -->
		<div class="product__pagination" style="display: none;" id="pageItem">
			<a class="myInline" id="prevPage">◁</a>
			<div id="pageNumDiv" class="myInline">
				<a id="pageNum">a</a>
			</div>
			<a class="myInline" id="nextPage">▷</a>
		</div>


		<script>
		$(function(){
			ajaxData(1)
		})
		
		function ajaxData(page,region,order){
			$.ajax({
				url: "bnbItem",
				method: "get",
				data: {page, region,order},
				success(result){					
					printData(result,region,order)
				},
				error(err){
					console.log(err)
				}
			})
		}
		//리스트 삭제후 뿌리기
		function printData(data,region,order){
			$('#bnbList').children().remove();
			$('#bnbPage').children().remove();
			let bnb= data.bnb;
			let page = data.page; 
			bnb.forEach(el => {
				console.log(el)
				printList(el)
			})			
			printPage(page,region,order);
		}
		//뿌릴 리스트-클론
		function printList(item){
			let clone=$('#bnbItem').clone();
			$(clone).css({'display': 'block'});
			$(clone).find('.set-bg').on('click',function(){
				location.href=`bnbInfo?boardNo=${item.boardNo}`
			})
			$(clone).find('.set-bg').data('setbg', item.rep);
			$(clone).find('.set-bg').css("background-image",`url(${item.rep})`)
			$(clone).find('.title').text(item.title);
			item.price=number_format(item.price);
			$(clone).find('.price').text(item.price+"원(1박)");
			$('#bnbList').append(clone)
		}
		//천단위 콤마찍기 함수
		function number_format(num) {								
			console.log(num)
			console.log(typeof num)
			if(num==null) return 0;
			return num.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		} 
		
		//검색조건-지역
		$('#selectRG').on('change', function(){
			console.log($(this).val())
			ajaxData(1, $(this).val())
		})
		
		//페이징 함수
		function printPage(pageData,region,order){
			let pageItem = $('#pageItem').clone()
			$(pageItem).css({'display' : 'block'});
			$(pageItem).find('#prevPage').on('click',function(){
				ajaxData(pageData.startPage - 1,region,order)
			})
			$(pageItem).find('#nextPage').on('click',function(){
				ajaxData(pageData.endPage + 1,region,order)
			})

			if(!pageData.prev){
				$(pageItem).find('#prevPage').hide()
			}
			if(!pageData.next){
				$(pageItem).find('#nextPage').hide()
			}

			for (let i = pageData.startPage; i <= pageData.endPage; i++) {
				let clone = $('#pageItem').find('#pageNum').clone()
				$(clone).text(i);
				if(i == pageData.pageNum){
					$(clone).addClass('active')
					$(clone).css('border-color','orange')
				}
				$(clone).on('click', function () {
					getCondition(i, region,order);
				})
				$(pageItem).find('#pageNumDiv').append(clone)
			}

			$(pageItem).find('#pageNum')[0].remove()
			$('#bnbPage').append(pageItem)
		}
		
		// 조건 값 변경 시 컨트롤 정보 보내기
		function getCondition(page, region,order){
			if(page == null){
				page = 1
			}
			ajaxData(page, region,order);
		}
		
		$('#order').on('change',function(){
			let rg= $('#selectRG').val();
			let od= $(this).val();
			
			ajaxData(1,rg,od);
			
		})
		
		</script>

	</div>
	<!-- Shop Section End -->

</body>

</html>