<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>농촌비앤비</title>

</head>
<body>
	<div layout:fragment="content">

		<!-- 타이틀 Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농촌 한달살기</h4>
							<div class="breadcrumb__links">
								<span>농촌에서 한달살기 체험을 해보며 귀촌 생활을 직접 체험해보세요.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 타이틀 Section End -->

		<!-- Shop Section Begin -->
		<section class="shop spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<!-- <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div> -->
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne"><h4>농촌체험</h4></a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul class="nice-scroll">
														<li><a href="#" style="color: black">농촌 비엔비</a></li>
														<li><a href="#">농촌 체험하기</a></li>
														<li><a href="#">농촌 일자리</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- 									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
										</div>
										<div id="collapseTwo" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__brand">
													<ul>
														<li><a href="#">Louis Vuitton</a></li>
														<li><a href="#">Chanel</a></li>
														<li><a href="#">Hermes</a></li>
														<li><a href="#">Gucci</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div> -->
									<!-- 가격필터 -->
									<!-- 									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseThree">Filter
												Price</a>
										</div>
										<div id="collapseThree" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__price">
													<ul>
														<li><a href="#">$0.00 - $50.00</a></li>
														<li><a href="#">$50.00 - $100.00</a></li>
														<li><a href="#">$100.00 - $150.00</a></li>
														<li><a href="#">$150.00 - $200.00</a></li>
														<li><a href="#">$200.00 - $250.00</a></li>
														<li><a href="#">250.00+</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div> -->

								</div>
							</div>
						</div>
					</div>
					<!--------------- 본문 --------------->
					<div class="col-lg-9">
						<!-- 정렬 -->
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="shop__product__option__left">
										<p>Showing 1–12 of 126 results</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<div class="shop__product__option__right">
										<p>정렬:</p>
										<select>
											<option value="">Low To High</option>
											<option value="">$0 - $55</option>
											<option value="">$55 - $100</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<!-- 아이템 -->
						<div class="row">
							<div th:each="bnb:${list}" class="col-lg-4 col-md-6 col-sm-6">
								<a href="#">
									<div class="product__item sale">
										<div class="product__item__pic set-bg"
											data-th-data-setbg="|/img/bnb/${bnb.rep}|">
<!-- 											<img src="img/bnb/|${bnb.rep}|"> -->
											<!-- <span class="label">Sale</span> -->
											<ul class="product__hover">
												<li><a href="#"><img src="img/icon/heart.png"
														alt="찜"></a></li>
												<li><a href="#"><img src="img/icon/cart.png"
														alt="카트"></a></li>
											</ul>
										</div>
										<div class="product__item__text">
											<h5 th:text="|${bnb.bnbTitle}|">숙소명</h5>
											<h5 th:text="|&#8361${bnb.price}(1박)|" style="color:grey">금액</h5>
										</div>
									</div>
								</a>
							</div>
						</div>

						<!-- 페이징 -->
						<div class="row">
							<div class="col-lg-12">
								<div class="product__pagination">
									<a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
									<span>...</span> <a href="#">21</a>
								</div>
							</div>
						</div>
						<!-- 페이징 end -->
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- Shop Section End -->

</body>

</html>