<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>비앤비 수정 페이지</title>

<style>
.ck-editor__editable {
	height: 400px;
}

.textLeft {
	align-vertical: center;
}

.primary-btn col-lg-2 {
	color: white;
	margin: 0 auto;
}

.product__details__text {
	display: flex;
	flex-direction: column;
}

.myInline {
	display: flex;
	align-items: center;
	justify-content: center;
}

.row col-lg-12 {
	margin: auto 0;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<hr>
		<!-- Shop Details Section Begin -->
		<section class="shop-details">
			<div class="product__details__pic" style="background-color: white;">
				<div class="container">
					<div class="row">
						<div class="row col-lg-12">
							<div class="col-lg-4 col-md-9 row" id="addFile">
								<img th:src="${bnb.rep}" alt="">
								<div class="col-lg-12"
									style="background-color: lightgrey; display: table;">
									<p style="display: table-cell; vertical-align: middle">대표
										이미지 등록</p>
								</div>
							</div>
							<div class="product__details__content col-lg-8">
								<form id="myForm">
									<!-- 실제 파일 업로드 input (안보임) -->
									<input type="file" id="inputFile" style="display: none;">
									<input type="text" id="insertFile" style="display: none;"
										name="rep">
									<div class="container">
										<div class="row d-flex justify-content-center row">
											<div class="col-lg-12">
												<div class="product__details__text">
													<div class="row">
														<h4 class="myInline col-lg-3">숙소명</h4>
														<input type="text" class="form-control col-lg-8"
															name="title" th:value="${bnb.title}"
															style="margin-left: -15px" readonly>
													</div>
													<hr>
													<div class="row">
														<div class="row col-lg-6">
															<p class="myInline col-lg-6 mb-0 textLeft">판매자</p>
															<input type="text" class="form-control col-lg-6"
																name="memNo" th:value="${session.mem.memNo}" readonly>
														</div>
														<div class="row col-lg-6">
															<p class="myInline col-lg-5 mb-0 textLeft">지역선택</p>
															<select class="form-control col-lg-6" name="crpCtg"
																disabled>
																<th:block th:each="dst1:${dst}">
																	<option th:value="${dst1.cmmnDetaCode}"
																		th:text="${dst1.codeDesct}"
																		th:attr="selected=${dst1.cmmnDetaCode==bnb.dst1 ? true : false}"></option>
																</th:block>
															</select>
														</div>

													</div>
													<br>
													<div class="row">
														<div class="row col-lg-6">
															<p class="myInline col-lg-6 mb-0 textLeft">우편번호</p>
															<input type="text" class="form-control col-lg-6"
																id="post" name="addrNum" th:value="${bnb.zip}" readonly>
														</div>
														<div class="row col-lg-6">
															<!-- <button type="button" onclick="postCode()">우편번호
																찾기</button> -->
														</div>
													</div>
													<br>
													<div class="row">
														<p class="myInline col-lg-3 mb-0 textLeft">주소</p>
														<input type="text" class="form-control col-lg-8" id="adr"
															name="address" th:value="${bnb.addr}"
															style="margin-left: -15px" readonly>
													</div>
													<br>
													<div class="row">
														<p class="myInline col-lg-3 mb-0 textLeft">상세주소</p>
														<input type="text" class="form-control col-lg-8"
															id="adrDetail" name="addrDetail"
															th:value="${bnb.addrDetail}" style="margin-left: -15px">
													</div>
													<!-- 위도, 경도 -->
													<div class="row" style="display: none">
														<input type="text" name="lati" id="latitude"
															th:value="${bnb.lati}"> <input type="text"
															name="longi" id="longitude" th:value="${bnb.longi}">
													</div>
													<br>
													<div class="row">
														<div class="row col-lg-6">
															<p class="myInline col-lg-6 mb-0 textLeft">금액(1일)</p>
															<input type="number" class="form-control col-lg-6"
																name="price" value="0" th:value="${bnb.price}">
														</div>
													</div>
													<br>
													<div class="row">
														<div class="row col-lg-6">
															<p class="myInline col-lg-6 mb-0 textLeft">예약(시작)</p>
															<input type="date" class="form-control col-lg-6"
																name="lendStrDate"
																th:value="${#dates.format(bnb.lendStrDate,'yyyy-MM-dd')}"
																onchange="minDate()">
														</div>
														<div class="row col-lg-6">
															<p class="myInline col-lg-5 mb-0 textLeft">예약(종료)</p>
															<input type="date" class="form-control col-lg-6"
																name="lendEndDate"
																th:value="${#dates.format(bnb.lendEndDate,'yyyy-MM-dd')}"
																id="endDate">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="row col-lg-12" style="margin-top: 30px">
								<div class="col-lg-12">
									<div class="product__details__tab">
										<div class="row">
											<ul class="nav nav-tabs col-lg-12" role="tablist">
												<li class="nav-item col-lg-12"><a
													class="nav-link active" data-toggle="tab" href="#tabs-5"
													role="tab">숙소 상세</a></li>
											</ul>
										</div>
										<div class="row">
											<div class="tab-content col-lg-12">
												<div class="tab-pane active" id="tabs-5" role="tabpanel">
													<div class="product__details__tab__content">
														<div>
															<textarea name="text" id="editor"></textarea>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div style="margin-top: 10px;">
										<button type="button" class="primary-btn col-lg-2" id="udtBtn">수정하기</button>
										<button type="button" class="primary-btn col-lg-2"
											th:onclick="|location.href='@{/bnbInfo(boardNo=${bnb.boardNo})}'|">뒤로가기</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- 우편번호 api -->
		<script
			src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>
		<script
			src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=c573b65eabeb9b6da24ab52d832dc807&libraries=services"></script>
		<script>
		function postCode() {
			daum.postcode.load(function () {
				new daum.Postcode({
					oncomplete: function (data) {
						var addr = '';
						var extraAddr = '';
						if (data.userSelectedType === 'R') {
							addr = data.roadAddress;
						} else {
							addr = data.jibunAddress;
						}
						if (data.userSelectedType === 'R') {
							if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
								extraAddr += data.bname;
							}
							if (data.buildingName !== '' && data.apartment === 'Y') {
								extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
							}
							if (extraAddr !== '') {
								extraAddr = ' (' + extraAddr + ')';
							}
						}
						document.getElementById("post").value = data.zonecode;
						document.getElementById("adr").value = addr;
						// 주소를 카카오지도 API의 지오코딩(Geocoding) 서비스를 이용하여 위도와 경도로 변환
	                    var geocoder = new kakao.maps.services.Geocoder();
	                    geocoder.addressSearch(addr, function (result, status) {
	                        if (status === kakao.maps.services.Status.OK) {
	                            // 변환된 위도와 경도 출력
	                            let lati = result[0].y;	                            
	                            let longi = result[0].x;
	                            
	                            document.getElementById('latitude').value=lati;
	                            document.getElementById('longitude').value=longi;
	                            
	                        } else {
	                        	Swal.fire({ title: '주소를 찾을 수 없습니다' , icon:'warning', confirmButtonText:"확인"});
	                        }
	                    });
	                    document.getElementById("adrDetail").focus();
	                }
	            }).open();
	        });
	    }
	</script>

		<!-- ck 에디터-->
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
		<script
			src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
		<script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>

		<script th:inline="javascript">
			let dbPath;

			//첨부파일 가져오기
			$('#addFile').on('click', function () {
				$('#inputFile').click()
			})

			//첨부파일 업로드 - 대표이미지
			$('#inputFile').change(function () {
				var formData = new FormData(); //FormData 객체 생성

				var inputFile = $("input[type='file']")
				//input 태그의 type이 file인 것을 찯아서 inputFile 이라는 변수로 지정

				var files = inputFile[0].files;
				//files : 선택한 모든 파일을 나열하는 FileList 객체입니다
				//multiple 특성을 지정하지 않았다면 두 개 이상의 파일을 포함하지 않습니다

				for (var i = 0; i < files.length; i++) {
					if (files[i].type.includes('image')) {
						formData.append("uploadFiles", files[i]); //키,값으로 append

						$.ajax({
							url: '/uploadsAjax',
							type: 'POST',
							processData: false, // 기본값은 true, ajax 통신을 통해 데이터를 전송할때, 기본적으로 key와 value 값을 Query String으로 변환해서 보내줌
							contentType: false, // multipart/form-data 타입을 사용하기위해 false로 지정
							data: formData,
							success: function (result) {
								dbPath = result.dbPath
								$('#addFile').html('<img src="' + result.dbPath + '">')
								$('#insertFile').val(result.dbPath);
							},
							error: function (reject) {
								console.log(reject)
							}
						})
					} else {
						Swal.fire({ title: '이미지만 등록 가능합니다' , icon:'warning', confirmButtonText:"확인"});
					}
				}
			})
			//ckEditor 생성
			let editor;
			
			//ck내용 가져오기
			/*<![CDATA[*/			
			let dataDesct= /*[[${bnb.detaDesct}]]*/;
			 /*]]>*/
			ClassicEditor.create(document.querySelector('#editor'), {
					language: "ko",
					ckfinder: {
						uploadUrl: '/image/upload'
					}
				})
				.then(newEditor => {
					editor = newEditor;
				  	editor.setData(dataDesct);				  
				})
				.catch(error => {
					console.error(error);
				});

			
			//날짜 최소값 설정
			function minDate() {
				let min = event.target.value;
				document.getElementById('endDate').value = '';
				document.getElementById('endDate').setAttribute('min', min);
			}
			
			//ckEditor 데이터 가져오기
			$('#udtBtn').on('click', function () {

				//데이터 입력 확인
				if (!$('[name="title"]').val()) {
					Swal.fire({ title: '제목을 입력하세요' , icon:'warning', confirmButtonText:"확인"});
					return;
				} else if (!$('[name="addrDetail"]').val()) {
					Swal.fire({ title: '상세주소를 입력하세요' , icon:'warning', confirmButtonText:"확인"});
					return;
				} else if ($('[name="price"]').val() <= 0) {
					Swal.fire({ title: '금액을 입력하세요' , icon:'warning', confirmButtonText:"확인"});
					return;
				} else if (!$('[name="lendStrDate"]').val()) {
					Swal.fire({ title: '예약 시작일을 입력하세요' , icon:'warning', confirmButtonText:"확인"});
					return;
				} else if (!$('[name="lendEndDate"]').val()) {
					Swal.fire({ title: '예약 종료일을 입력하세요' , icon:'warning', confirmButtonText:"확인"});
					return;
				} else {
					let ckData = editor
					let formData = $('#myForm').serializeObject()
					//상세 설명 존재하지 않을 시 출력 내용 설정
					if(ckData.getData() == ''){
						ckData.setData('<p>상세 설명이 존재하지 않습니다</p>')
						formData.detaDesct = ckData.getData()
					}else{
						formData.detaDesct = ckData.getData()
					}
					if($('#inputFile').val()){
						formData.rep = dbPath
					}
					formData.boardNo = /*[[${bnb.boardNo}]]*/

					//ajax 수정처리
					$.ajax({
							url: "/update/updateBnb",
							method: "POST",
							data: formData
						})
						.done(function (result) {
							Swal.fire({
								title: '수정이 완료되었습니다', icon:'success', confirmButtonText:"확인"
								}).then(result => {
								if (result.isConfirmed) {
								location.href = "/bnbInfo?boardNo="+/*[[${bnb.boardNo}]]*/
								}
							}) 
						})
						.fail(function (result) {
							console.log('실패');
						})
				}
			})			
			
		</script>
	</div>
</body>

</html>