<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>MyPage</title>
<link rel="stylesheet" href="css/sungWookCss/sungook.css"
	type="text/css">
<style>
.href {
	font-weight: 900;
	color: black;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<div id="app">
			<!-- 제목 시작 -->
			<div class="justify-content-center">
				<br>
				<h3 class="current text-center">마이페이지</h3>
			</div>
			<!-- 제목 끝 -->
			<!-- 본문 시작 -->
			<section class="shopping-cart spad" style="padding-top: 10px;">
				<div class="container">
					<hr>
					<br>
					<div class="row">
						<!-- 사이드바 시작 -->
						<div class="col-lg-3">
							<div class="shop__sidebar">
								<div class="shop__sidebar__accordion">
									<div class="accordion" id="accordionExample">
										<div class="card">
											<div class="">
												<a href="myPage" data-target="#collapseOne"
													class="href">회원정보</a>
											</div>
										</div>
										<div class="card">
											<div class="card-heading">
												<a data-toggle="collapse" data-target="#collapseTwo">나의
													활동</a>
											</div>
											<div id="collapseTwo" class="collapse show"
												data-parent="#accordionExample">
												<div class="card-body">
													<div class="shop__sidebar__brand">
														<ul>
															<li><a href="#">나의 농지대여</a></li>
															<li><a href="#">나의 일자리 </a></li>
															<li><a href="#">나의 농기구대여/거래</a></li>
															<li><a href="#">나의 농작물 거래</a></li>
															<li><a href="#">나의 펀딩</a></li>
															<li><a href="#">나의 전원마켓</a></li>
															<li><a href="#">나의 경매장</a></li>
															<li><a href="#">나의 농촌비앤비</a></li>
															<li><a href="#">나의 게시글</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="">
												<a data-toggle="collapse" data-target="#collapseThree"
													style="font-weight: 900;">나의 알림</a>
											</div>
										</div>
										<div class="card">
											<div class="">
												<a th:href="@{myPayList(memNo=${session.mem.memNo})}"
													data-target="#collapseFour"
													class="href">나의 구매내역</a>
											</div>
										</div>
										<div class="card">
											<div class="">
												<a th:href="@{myInquiry(memNo=${session.mem.memNo})}"
													data-target="#collapseFive"
													class="href">문의하기</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 사이드바 끝 -->
						<div class="col-lg-9">
							<article layout:fragment="myPageContent"></article>
						</div>
					</div>
				</div>
			</section>
			<!-- 본문 끝 -->

		</div>
		<script th:inline="javascript">
			
		</script>
	</div>
</body>

</html>