<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농지 대여 리스트 조회</title>
</head>
<body>
	<div layout:fragment="content">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농지 대여</h4>
							<div class="breadcrumb__links">
								<a>귀농귀촌</a> <span>농지 대여</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="justify-content-center">
			<h3 class="current text-center">농지 대여</h3>
		</div>
		<section class="shop">
			<div class="container">
				<hr>
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">귀농귀촌</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul>
														<li><a href="#">귀농귀촌 가이드</a></li>
														<li><a href="#">지원사업/교육</a></li>
														<li><b><a href=""
																style="color: black;">농지대여</a></b></li>
														<li><a href="#">농기구 대여/판매</a></li>
														<li><a href="#">금손 귀농인</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="row form-floating">
										<h6 class="col-lg-2"
												style="text-align: center; line-height: 45px;">지역 선택</h6>
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="addr">
											<option selected value="도">도</option>
											<option value="k0">경기도</option>
											<option value="k1">강원특별자치도</option>
											<option value="k2">충청북도</option>
											<option value="k3">충청남도</option>
											<option value="k4">경상북도</option>
											<option value="k5">경상남도</option>
											<option value="k6">전라북도</option>
											<option value="k7">전라남도</option>
											<option value="k8">제주특별자치도</option>
										</select>
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="daddr">
											<option value="시·군">시·군</option>
										</select>
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="mcrp">
											<option value="작물 선택">작물 선택</option>
										</select>
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="price">
											<option value="희망가 선택">희망가 선택</option>
										</select>
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="area">
											<option value="면적 선택">면적 선택</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="cropsSaleDiv">
							<!-- <div class="col-lg-4 col-md-6 col-sm-6" th:each="cropsSale : ${csList}">
								<div class="product__item" th:onclick="|location.href='@{cropsSaleInfo(crpSaleNo=${cropsSale.crpSaleNo})}'|">
									<div class="product__item__pic set-bg"
										data-setbg="img/product/product-2.jpg">
										<ul class="product__hover">
											<li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
										</ul>
									</div>
									<div class="product__item__text">
										<h6 th:text="${cropsSale.crpTitle}">상품명</h6>
										<a href="#" class="add-cart">+ Add To Cart</a>
										<p th:text="${cropsSale.price} + '원'">가격</p>
										<div class="rating">
											<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
												class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
												class="fa fa-star-o"></i>
											<p th:text="${#dates.format(cropsSale.regDate, 'yyyy/MM/dd')}" style="display: inline-block; margin-left: 120px;">등록날짜</p>
										</div>
									</div>
								</div>
							</div> -->
						</div>
						<div class="row">
							<div class="col-lg-12" id="pageDiv">
								<!-- <div class="product__pagination">
									<a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a>
								</div> -->
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<button type="button" class="btn btn-dark" style="width: 130px; height: 40px; 
								float: right; margin-right: 30px; margin-bottom: 20px;" id="add">농지 내놓기</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>