<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농지 대여 상세 조회</title>
<style>
#map {
	width: 700px;
	height: 300px;
	margin: 20px 5px;
}
#desct {
	white-space: pre-line;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농지 대여</h4>
							<div class="breadcrumb__links">
								<a>귀농귀촌</a>
								<a href="/farmLendList">농지 대여</a>
								<span th:text="${flInfo.addr}">주소지</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->
		<!-- Shop Details Section Begin -->
		<section class="product-details spad">
			<div class="container">
				<div class="row">
					<div class="row col-lg-12">
						<div class="product__details__content col-lg-12">
							<div class="container">
								<div class="row d-flex justify-content-center">
									<div class="col-lg-12">
										<div class="product__details__text">
											<div class="row">
												<h4 class="textLeft col-lg-8" th:text="${flInfo.addr} + ' ' + ${flInfo.detaAddr}" style="display: inline; text-align: left; font-size: 30px;">상품명</h4>
												<p style="margin-bottom: 20px;" class="mr-2"><b style="font-size: 15px;">작성자</b> <span th:text="${flInfo.nick}">작성자</span></p>
												<p style="margin-bottom: 20px;"><b style="font-size: 15px;">작성일자</b> <span th:text="${#dates.format(flInfo.regDate, 'yyyy/MM/dd')}">작성일자</span></p>
											</div>
											<hr>
											<!-- 지도 api -->
											<div>
												<p class="note" style="margin-bottom: 10px; text-align: left;">위치 정보</p>
												<div class="product__details__tab__content__item">
													<div id="mapDesc" th:utext="|주소 : ${flInfo.addr} ${flInfo.detaAddr}|" style="text-align: left;">주소</div>
													<div id="map">지도 Api</div>
												</div>
											</div>
											<!-- 위도 경도 -->
											<div style="display: none">
												위도<span id="lati" th:text="|${flInfo.lati}|"></span><br>
												경도<span id="longi" th:text="|${flInfo.longi}|"></span>
											</div>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">면적 : </b><span th:text="${flInfo.area}"></span> <span>(m²)</span></p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">주요 재배 작물 : </b> <span th:text="${flInfo.mcrp}">작물 목록</span></p>
											<pre style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">부가 설명 : </b> <span th:text="${flInfo.desct}" id="desct">내용</span></pre>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">대여 기간 : </b> 
												<span th:text="|${#dates.format(flInfo.lendStrDate, 'yyyy/MM/dd')} ~ ${#dates.format(flInfo.lendEndDate, 'yyyy/MM/dd')}|">대여 시작 ~ 종료 일자</span></p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">대여 가격 : </b> 
												<span th:text="${#numbers.formatInteger(flInfo.lendPrice, 1, 'COMMA')} + '원'" style="font-size: 20px;"></span>
												<span>(연간)</span>
											</p>
											<div class="row" style="justify-content: center;">
												<th:block th:if="not ${#strings.isEmpty(session.mem)}">
													<button type="button" class="btn btn-success mr-2" style="width: 150px; float: left;" id="applyBtn" 
														th:if="${session.mem.memNo} != ${flInfo.memNo}">신청하기</button>
													<button type="button" class="btn btn-dark mr-2" style="width: 150px;" id="update" 
														th:if="${session.mem.memNo} == ${flInfo.memNo} or ${session.mem.memGrd == 'b0'}">수정하기</button>
													<button type="button" class="btn btn-dark mr-2" style="width: 150px;" id="delete" 
														th:if="${session.mem.memNo} == ${flInfo.memNo} or ${session.mem.memGrd == 'b0'}">삭제하기</button>
												</th:block>
												<button type="button" class="btn btn-dark" style="width: 150px; float: left;" id="toList">목록으로</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shop Details Section End -->
		<!-- 카카오 지도 api -->
		<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c573b65eabeb9b6da24ab52d832dc807"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			let boardNo = /*[[${flInfo.boardNo}]]*/;
			/*]]>*/
			
			// 지도 api
			var latitude = document.getElementById('lati').innerText;
			var longitude = document.getElementById('longi').innerText;
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center : new kakao.maps.LatLng(latitude,longitude), // 지도의 중심좌표
				level : 3, // 지도의 확대 레벨
				mapTypeId : kakao.maps.MapTypeId.ROADMAP
			};
			var map = new kakao.maps.Map(mapContainer, mapOption);
			// 지도에 마커를 생성하고 표시한다			
			var marker = new kakao.maps.Marker({
				position : new kakao.maps.LatLng(latitude,longitude), // 마커의 좌표
				map : map
			});
			
			// 신청하기 버튼 클릭 시
			$('#applyBtn').magnificPopup({
				// 모달창
				items : [{
					src : "/farmLendApply?boardNo=" + boardNo,
				}],
				type : 'iframe'
			});
			
			// 팝업창 닫는 함수
			function closePopUp() {
				var magnificPopup = $.magnificPopup.instance; 
				magnificPopup.close();
				location.href = "/myPage/myFarmLendListForm";
			}
			
			// 목록으로 버튼 클릭 시
			$('#toList').on('click', function() {
				location.href = "/farmLendList";
			});
			
			// 수정하기 버튼 클릭 시
			$('#update').on('click', function() {
				location.href = "/update/farmLendUpdate?boardNo=" + boardNo;
			});
			
			// 삭제하기 버튼 클릭 시
			$('#delete').on('click', function() {
				Swal.fire({
					icon : 'warning',
					title : '게시물 삭제',
					text : '게시물을 삭제하시겠습니까?',
					showCancelButton: true, // 취소 버튼 보여주기
					confirmButtonText : "네",
					cancelButtonText: '아니요',
					reverseButtons: false, // 버튼 순서 거꾸로
				})
				.then((result) => {
					if(result.isConfirmed) {
						$.ajax({
							url : "/farmLendDelete",
							method : "POST",
							data : 'boardNo=' + boardNo
						})
						.done(function(result) {
							console.log(result);
							if(result == "success") {
								Swal.fire({
									icon : 'success',
									title : '삭제 성공',
									text : '성공적으로 삭제되었습니다',
									confirmButtonText : "확인"
								})
								.then(function() {
									location.href = "/farmLendList";
								})
							} else {
								Swal.fire({
									icon : 'error',
									title : '삭제 실패',
									text : '삭제에 실패했습니다',
									confirmButtonText : "확인"
								})
							}
						})
						.fail(function(result) {
							Swal.fire({
								icon : 'error',
								title : '오류',
								text : '페이지 호출 오류',
								confirmButtonText : "확인"
							})
						})
					}
				})
			});
		</script>
	</div>
</body>
</html>