<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>농지 대여 신청 페이지</title>
<!-- Css Styles -->
<link rel="stylesheet" href="/css/jquery/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/jquery/jQueryUI.css">
<link rel="stylesheet" href="/css/otherPlugins/sweetAlert.css" type="text/css">


<!-- 알림창 css -->
<link rel="stylesheet" href="/css/suinCss/alarm.css" type="text/css">

<!-- Js Plugins -->
<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/bootstrap.min.js"></script>
<script src="/js/jquery/jquery.nice-select.min.js"></script>
<script src="/js/jquery/jquery.nicescroll.min.js"></script>
<script src="/js/jquery/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery/jquery.countdown.min.js"></script>
<script src="/js/jquery/jquery.slicknav.js"></script>
<script src="/js/jquery/mixitup.min.js"></script>
<script src="/js/jquery/owl.carousel.min.js"></script>
<script src="/js/jquery/json.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery/jqueryUI.js"></script>
<script src="/js/otherPlugins/sweetAlert2-11.4.10.js"></script>
<style>
#map {
	width: 700px;
	height: 300px;
	margin: 20px 5px;
}
#menu div {
    position: relative;
    display: inline-block;
}

#explain {
    display: block;
    width: 30px;
    padding: 2px 16px;
    cursor: pointer;
}
.arrow_box {
	display: none;
	position: absolute;
	width: 270px;
	padding: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;  
	border-radius: 8px;
	background: rgb(255, 255, 255);
	color: #fff;
	font-size: 14px;
}

.arrow_box:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -10px;
	border: solid transparent;
	border-color: rgba(51, 51, 51, 0);
	border-bottom-color: rgb(255, 255, 255);
	border-width: 10px;
	pointer-events: none;
	content: " ";
}

#explain:hover + p.arrow_box {
	display: block;
	z-index: 100000000;
}
.info-icon {
    font-size: 20px;
    color: black; /* 원하는 색상으로 변경 가능 */
    border: 1px solid lightgray; /* 원하는 색상으로 테두리를 설정 */
    border-radius: 50%; /* 동그라미 모양을 위해 반지름 값을 50%로 설정 */
    background-color: lightgray;
}
</style>
</head>
<body>
	<!-- Shop Details Section Begin -->
	<section class="product-details spad">
		<div class="container">
			<div class="row">
				<div class="row col-lg-12">
					<div class="product__details__content col-lg-12">
						<div class="container">
							<form id="myForm">
								<div class="row d-flex justify-content-center">
									<div class="col-lg-12">
										<div class="product__details__text">
											<input type="text" th:value="${flInfo.boardNo}" name="boardNo" style="display: none;">
											<input type="text" th:value="${session.mem.memNo}" name="memNo" style="display: none;">
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">대여 기간 : </b> 
											<span th:text="|${#dates.format(flInfo.lendStrDate, 'yyyy/MM/dd')} ~ ${#dates.format(flInfo.lendEndDate, 'yyyy/MM/dd')}|">대여 시작 ~ 끝 날짜</span></p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 20px;">대여 가격 : </b> 
												<span th:text="${#numbers.formatInteger(flInfo.lendPrice, 3, 'COMMA')} + '원'" style="font-size: 20px;"></span>
												<span>(연간)</span>
											</p>
											<p style="margin-bottom: 20px; text-align: left;"><b style="font-size: 25px;">합계 : <span id="sumPrice"></span></b></p>
											<div class="checkout__input">
												<p style="text-align: left;">제출 서류</p>
												<div class="row ml-1">
													<button type="button" class="form-control" id="btnUpload" style="width: 200px;">첨부 파일</button>
													<div id="menu">
														<div style="display: inline;">
															<span class="info-icon ml-2" id="explain">?</span>
															<p class="arrow_box">
																<b style="font-size: 20px;">제출 서류 목록</b><br>
																<span>*</span>주민등록등본(초본) 또는 신분증(사본)<br>
																<span>*</span>가족관계증명서<br>
																<span>*</span>소득금액증명서<br>
																<span>*</span>국세완납증명서(납세증명서)<br>
																<span>*</span>지방세완납증명서(지방세납세증명서)<br>
															</p>
														</div>
													</div>
												</div>
												<ul id="fileList" style="text-align: left; list-style: none; padding: 10px;"></ul>
												<input type="file" id="inputFile" name="files" style="display: none;" multiple>
											</div>
											<div class="row ml-1">
												<button type="button" class="btn btn-success" style="width: 150px; float: left;" id="applyBtn">신청하기</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Shop Details Section End -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		let boardNo = /*[[${flInfo.boardNo}]]*/;
		/*]]>*/
		
		let uploadFiles = [];
		
		// 첨부파일 가져오기
		$('#btnUpload').on('click', function(e) {
			e.preventDefault();
			$('#inputFile').click();
		});
		
		// 첨부파일 업로드
		$('#inputFile').on('change', function() {
			var formData = new FormData(); //FormData 객체 생성

			var inputFile = $("input[type='file']");
			//input 태그의 type이 file인 것을 찾아서 inputFile 이라는 변수로 지정

			var files = inputFile[0].files;
			//files : 선택한 모든 파일을 나열하는 FileList 객체입니다
			//multiple 특성을 지정하지 않았다면 두 개 이상의 파일을 포함하지 않습니다

			for (var i = 0; i < files.length; i++) {
				console.log(files[i]);
				formData.append("uploadFiles", files[i]); //키, 값으로 append

				$.ajax({
					url: '/uploadsAjaxMulti',
					type: 'POST',
					processData: false, // 기본값은 true, ajax 통신을 통해 데이터를 전송할때, 기본적으로 key와 value 값을 Query String으로 변환해서 보내줌
					contentType: false, // multipart/form-data 타입을 사용하기위해 false로 지정
					data: formData,
					async: false,
					success: function (result) {
						uploadFiles = result;
					},
					error: function (reject) {
						console.log(reject);
					}
				})
			}
			$('#fileList').empty();
			$(uploadFiles).each((index, item)=>{
				$('#fileList').append($('<li />').text(item.originalName));
			})
		});
		
		// 합계 출력
		let start = new Date(/*[[${flInfo.lendStrDate}]]*/);
		let end = new Date(/*[[${flInfo.lendEndDate}]]*/);
		let startYear = start.getFullYear();
		let endYear = end.getFullYear();
		let diffTime = Math.abs(endYear - startYear);
		let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)) * diffTime;
		let price = /*[[${flInfo.lendPrice}]]*/;
		
		$('#sumPrice').text(priceToString(price * diffDays) + '원');
		
		// 숫자 3자리마다 콤마 넣기
		function priceToString(price) {
			return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
		}
		
		let mem = /*[[${session.mem}]]*/
		
		// 신청하기 버튼 클릭 시
		$('#applyBtn').on('click', function() {
			if(uploadFiles.length < 4) {
				Swal.fire({
					icon : 'warning',
					title : '필수 첨부파일을 참고하여 첨부하세요',
					confirmButtonText : "확인"
				})
			} else {
				let formData = $('#myForm').serializeObject();
				formData.files = uploadFiles;
				$.ajax({
					url : "/farmLendApply",
					method : "POST",
					contentType : "application/json",
					data : JSON.stringify(formData)
				})
				.done(function(result) {
					if(result == "success") {
						Swal.fire({
							icon : 'success',
							title : '신청되었습니다',
							confirmButtonText : "확인"
						})
						.then(function() {
							let addr = /*[[${flInfo.addr}]]*/;
							let detaAddr = /*[[${flInfo.detaAddr}]]*/;
							let alrtTitle = '농지 대여를 신청하였습니다';
							let alrtDesct = "'" + addr + ' ' + detaAddr + "'" + '의 농지 대여를 신청하였습니다';
							let boardCtg = /*[[${codeInfo}]]*/;
							$.ajax({
								url : "/sendAlert",
								method : "GET",
								data : {
									memNo : mem.memNo,
									alrtTitle : alrtTitle,
									alrtDesct : alrtDesct,
									boardCtg : boardCtg[0].cmmnDetaCode
								}
							})
							.done(function() {
								// 부모 창의 팝업 닫기 함수를 호출
								parent.closePopUp();
							})
							.fail(function() {
								console.log('fail');
							})
						})
					} else {
						Swal.fire({
							icon : 'error',
							title : '신청하지못했습니다',
							confirmButtonText : "확인"
						})
						location.href = "/farmLendList";
					}
				})
				.fail(function(result) {
					Swal.fire({
						icon : 'error',
						title : '페이지 호출 오류',
						confirmButtonText : "확인"
					})
				})
			}
		});
	</script>
</body>
</html>