<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농지 대여 리스트 조회</title>
<link rel="stylesheet" href="css/sungWookCss/sungook.css" type="text/css">
<style>
.list {
  	max-height: 400px;
  	overflow: scroll !important;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__text">
							<h4>농지 대여</h4>
							<div class="breadcrumb__links">
								<a>귀농귀촌</a> <span>농지 대여</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="justify-content-center">
			<h3 class="current text-center">농지 대여</h3>
		</div>
		<section class="shop">
			<div class="container">
				<hr>
				<div class="row">
					<div class="col-lg-3">
						<div class="shop__sidebar">
							<div class="shop__sidebar__accordion">
								<div class="accordion" id="accordionExample">
									<div class="card">
										<div class="card-heading">
											<a data-toggle="collapse" data-target="#collapseOne">귀농귀촌</a>
										</div>
										<div id="collapseOne" class="collapse show"
											data-parent="#accordionExample">
											<div class="card-body">
												<div class="shop__sidebar__categories">
													<ul>
														<li><a href="farmGuide">귀농귀촌 가이드</a></li>
														<li><a href="farmEdu">지원사업/교육</a></li>
														<li><b><a href="farmLendList"
																style="color: black;">농지대여</a></b></li>
														<li><a href="#">농기구 대여/판매</a></li>
														<li><a href="skilled">금손 귀농인</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="shop__product__option">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="row">
										<h6 class="col-lg-2"
												style="text-align: center; line-height: 45px;">지역 선택</h6>
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="dst1">
											<option value="">도</option>
											<option th:each="cd : ${dst1}" th:text="${cd.codeDesct}" 
												th:value="${cd.cmmnDetaCode}"></option>
										</select>
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="dst2">
											<option value="">시·군</option>
										</select>
									</div>
									<div class="row">
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="mcrp">
											<option value="">작물 선택</option>
											<option th:each="cd : ${mcrp}" th:text="${cd.codeDesct}" 
												th:value="${cd.cmmnDetaCode}"></option>
										</select>
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="price">
											<option value="">희망가 선택</option>
											<option th:each="cd : ${price}" th:text="${cd.codeDesct}" 
												th:value="${cd.cmmnDetaCode}"></option>
										</select>
										<select class="form-select form-group col-1.5 mr-2"
											aria-label="Default select example" id="area">
											<option value="">면적 선택</option>
											<option th:each="cd : ${area}" th:text="${cd.codeDesct}" 
												th:value="${cd.cmmnDetaCode}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="shopping__cart__table">
							<table id="farmLendDiv"></table>
						</div>
						<div class="row">
							<div class="col-lg-12" id="pageDiv"></div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<button type="button" class="btn btn-dark" style="width: 130px; height: 40px; 
								float: right; margin-bottom: 20px;" id="add">농지 내놓기</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<table>
			<thead class="hideItem" id="farmLendHead">
				<tr>
					<th id="thNumber">번호</th>
					<th id="thAddr">주소</th>
					<th id="thCrops">재배 작물</th>
					<th id="thArea">면적</th>
					<th id="thPrice">가격</th>
					<th id="thDate">작성날짜</th>
				</tr>
			</thead>
			<tbody class="hideItem" id="farmLendItem">
				<tr>
					<td id="number">번호</td>
					<td id="addr">주소지</td>
					<td id="crops">재배 작물</td>
					<td id="area2">면적</td>
					<td id="price2">가격</td>
					<td id="date">작성날짜</td>
				</tr>
			</tbody>
		</table>

		<div class="product__pagination hideItem" id="pageItem">
			<a class="myInline" id="prevPage">&lt;</a>
			<div id="pageNumDiv" class="myInline">
				<a id="pageNum"></a>
			</div>
			<a class="myInline" id="nextPage">&gt;</a>
		</div>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
			let mem = /*[[${session.mem}]]*/;
			/*]]>*/
			
			// 등록 버튼 클릭 시
			$('#add').on('click', function() {
				if(mem != null) {
					if(mem.memGrd == 'b0' || mem.memGrd == 'b1') {
						location.href = "farmLendInsert";
					} else {
						alert('정회원 이상의 회원만 등록이 가능합니다.');
					}
				} else {
					alert('정회원 이상의 회원만 등록이 가능합니다.');
				}
			});
			
			// 페이지 로드
			$(function() {
				ajaxData(1)
			});
			// 리스트 불러오기
			function ajaxData(page, dst1, dst2, mcrp, price, area) {
				$.ajax({
					url : 'farmLendList',
					type : 'post',
					data : {
						pageNum : page,
						dst1 : dst1,
						dst2 : dst2,
						mcrp : mcrp,
						price : price,
						area : area
					}
				})
				.done(function(data) {
					console.log(data);
					printList(data);
					console.log(data.dst2);
					if(data.dst2) {
						$('#dst2').empty();
						$('#dst2').append(`<option value="">시·군</option>`);
						$(data.dst2).each((idx, item) => {
							$('#dst2').append(`<option value="${item.cmmnDetaCode}">${item.codeDesct}</option>`)
						});
						$('#dst2').niceSelect('update');
						$('#dst2').niceScroll();
					}
				})
				.fail(function() {
					console.log('fail');
				});
			}
			// 리스트 출력 함수
			function printList(data) {
				$('#farmLendDiv').children().remove();
				$('#pageDiv').children().remove();
				let farmLendData = data.flList;
				let pageData = data.pageInfo;
				
				let head = $('#farmLendHead').clone();
				$(head).removeClass('hideItem');
				
				$(head).find('#thNumber').html('번호');
				$(head).find('#thAddr').html('주소');
				$(head).find('#thCrops').html('재배 작물');
				$(head).find('#thArea').html('면적');
				$(head).find('#thPrice').html('가격');
				$(head).find('#thDate').html('작성날짜');
				
				$(head).css('text-align', 'center');
				
				$('#farmLendDiv').append(head);
				
				$(farmLendData).each(function(index, item) {
					printItem(index, item);
				})
				
				printPage(pageData);
			}
			// 리스트 생성 함수
			function printItem(index, item) {
				let clone = $('#farmLendItem').clone();
				$(clone).removeClass('hideItem');
				
				$(clone).find('#number').text(index + 1);
				$(clone).find('#addr').text(item.addr + ' ' + item.detaAddr);
				$(clone).find('#crops').text(item.mcrp);
				$(clone).find('#area2').text(item.area + '(m²)');
				$(clone).find('#price2').text(item.lendPrice + '원');
				$(clone).find('#date').text(item.regDate);
				
				$(clone).find('#addr').on('click', function() {
					if(mem != null) {
						if(mem.memGrd == 'b0' || mem.memGrd == 'b1') {
							location.href = "farmLendInfo?boardNo=" + item.boardNo;
						} else {
							alert('정회원 이상의 회원만 이용 가능합니다.');
						}
					} else {
						alert('정회원 이상의 회원만 이용 가능합니다.');
					}
				});
				$(clone).css('text-align', 'center');
				$(clone).find('#addr').css('cursor', 'pointer');
				
				$('#farmLendDiv').append(clone);
			}
			// 페이지 생성 및 추가
			function printPage(pageData) {
				console.log(pageData);
				
				let pageItem = $('#pageItem').clone();
				$(pageItem).removeClass('hideItem');
				$(pageItem).find('#prevPage').on('click', function() {
					ajaxData(pageData.startPage - 1);
				});
				$(pageItem).find('#nextPage').on('click', function() {
					ajaxData(pageData.endPage + 1);
				});
				
				if(!pageData.prev) {
					$(pageItem).find('#prevPage').hide();
				}
				if(!pageData.next) {
					$(pageItem).find('#nextPage').hide();
				}
				
				for(let i = pageData.startPage; i <= pageData.endPage; i++) {
					let clone = $('#pageItem').find('#pageNum').clone();
					$(clone).text(i);
					if(i == pageData.pageNum) {
						$(clone).addClass('active');
						$(clone).css('border-color', 'orange');
					}
					$(clone).on('click', function() {
						getCondition(i);
					});
					$(pageItem).find('#pageNumDiv').append(clone);
				}
				
				$(pageItem).children().css('cursor', 'pointer');
				
				$(pageItem).find('#pageNum')[0].remove();
				$('#pageDiv').append(pageItem);
			}
			// 조건 변경 시 함수
			function getCondition(page) {
				let dst1 = $('#dst1').val();
				let dst2 = $('#dst2').val();
				let mcrp = $('#mcrp').val();
				let price = $('#price').val();
				let area = $('#area').val();
				if(page == null) {
					page = 1;
				}
				
				ajaxData(page, dst1, dst2, mcrp, price, area);
			}
			// 지역1 카테고리 변경 시
			$('#dst1').change(function() {
				getCondition();
			});
			// 지역2 카테고리 변경 시
			$('#dst2').change(function() {
				getCondition();
			});
			// 주요 재배 작물 카테고리 변경 시
			$('#mcrp').change(function() {
				getCondition();
			});
			// 가격 카테고리 변경 시
			$('#price').change(function() {
				getCondition();
			});
			// 면적 카테고리 변경 시
			$('#area').change(function() {
				getCondition();
			});
		</script>
	</div>
</body>
</html>