<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{index}">
<head>
<meta charset="UTF-8">
<title>농지 내놓기 수정 페이지</title>
<style>
.list {
  	max-height: 400px;
  	overflow: scroll !important;
}
.nice-select {
	width: 110px;
}
input:read-only{
	background-color: #E6E5E5;
}
</style>
</head>
	<div layout:fragment="content">
		<div class="justify-content-center">
			<h3 class="current text-center">농지 내놓기 수정</h3>
		</div>
		<!-- Checkout Section Begin -->
		<section class="checkout spad" style="padding-top: 30px;">
			<div class="container">
			<hr>
				<div class="checkout__form">
					<form id="myForm">
						<div class="row">
							<div class="col-lg-12">
								<input type="text" th:value="${flInfo.boardNo}" name="boardNo" style="display: none;">
								<input type="text" th:value="${session.mem.memNo}" name="memNo" style="display: none;">
								<div class="row">
									<div class="checkout__input col-lg-6">
										<p>주소</p>
										<input type="text" placeholder="우편번호를 검색해주세요" id="addressCode" name="zip" th:value="${flInfo.zip}" readonly>
									</div>
								</div>
								<div class="checkout__input">
									<input type="text" placeholder="주소지" class="checkout__input__add" id="address" name="addr" th:value="${flInfo.addr}" readonly>
									<input type="text" placeholder="상세주소" id="addressDetail" name="detaAddr" th:value="${flInfo.detaAddr}" readonly>
								</div>
								<div class="row" style="display: none">
									<input type="text" name="lati" id="latitude" th:value="${flInfo.lati}">
									<input type="text" name="longi" id="longitude" th:value="${flInfo.longi}">
								</div>
								<div class="checkout__input">
									<p>면적</p>
									<input type="number" class="col-lg-3" th:value="${flInfo.area}" name="area" readonly>
									<p style="display: inline;">(m²)</p> <!-- 면적 -->
								</div>
								<div class="checkout__input">
									<p>주요 재배 작물</p>
									<div class="row">
										<select class="form-select form-group ml-3 mr-2" id="first" name="mcrpList"
											onchange="changeOption()">
											<option selected value="">작물 선택</option>
											<option th:each="cd : ${mcrp}" th:text="${cd.codeDesct}" 
												th:value="${cd.codeDesct}"></option>
										</select>
										<select class="form-select form-group mr-2" id="second" name="mcrpList"
											onchange="changeOption()">
											<option selected value="">작물 선택</option>
											<option th:each="cd : ${mcrp}" th:text="${cd.codeDesct}" 
												th:value="${cd.codeDesct}"></option>
										</select>
										<select class="form-select form-group" id="third" name="mcrpList"
											onchange="changeOption()">
											<option selected value="">작물 선택</option>
											<option th:each="cd : ${mcrp}" th:text="${cd.codeDesct}" 
												th:value="${cd.codeDesct}"></option>
										</select>
									</div>
								</div>
								<div class="checkout__input">
									<p>부가 설명</p>
									<textarea rows="3" cols="80" style="font-size: 15px;" name="desct" th:value="${flInfo.desct}" th:text="${flInfo.desct}"></textarea>
								</div>
								<div class="mb-3">
									<p>대여 기간</p>
									<input type="date" name="lendStrDate" th:value="${flInfo.lendStrDate}" th:field="${flInfo.lendStrDate}" readonly> <!-- 대여 시작 일자 -->
									~ 
									<input type="date" name="lendEndDate" th:value="${flInfo.lendEndDate}" th:field="${flInfo.lendEndDate}" readonly> <!-- 대여 종료 일자 -->
								</div>
								<div class="checkout__input">
									<p>대여 가격</p>
									<input type="number" class="col-lg-4" th:value="${flInfo.lendPrice}" id="price" name="lendPrice" readonly>
									<p style="display: inline; vertical-align: middle;">(연간)</p>
								</div>
								<p><b style="font-size: 25px;">합계 : <span id="sumPrice" style="line-height: 40px;"></span></b></p>
								<div style="text-align: center;">
									<button type="button" class="btn btn-success col-lg-2" id="saveBtn">저장하기</button>
									<button type="button" class="btn btn-dark col-lg-2" id="cancel">취소</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
		<!-- Checkout Section End -->
		<!-- 우편번호 api -->
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js?autoload=false"></script>
		<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=c573b65eabeb9b6da24ab52d832dc807&libraries=services"></script>
		<script th:inline="javascript">
			// 데이터의 값을 select박스에 넣어줌
			let mcrp = /*[[${flInfo.mcrp}]]*/
			let arr = mcrp.split(", "); // 쉼표를 기점으로 배열 생성
			$('#first').val(arr[0]);
			$('#second').val(arr[1]);
			$('#third').val(arr[2]);
			
			// select박스 스크롤 생성
			$('#first').niceScroll();
			$('#second').niceScroll();
			$('#third').niceScroll();
			
			$(function() {
				changeOption();
			})
			function changeOption() {
				// 선택된값
				let firstVal = first.value;
                let secondVal = second.value;
                let thirdVal = third.value;
                
             	// disable 다 없어져라
                delDisabled(first);
                delDisabled(second);
                delDisabled(third);
				
             	// 선택된값 disable
                if(firstVal != '') {
                	second.querySelector('option[value='+firstVal+']').setAttribute('disabled', 'true');
                	third.querySelector('option[value='+firstVal+']').setAttribute('disabled', 'true');
                }
                if(secondVal != '') {
                	first.querySelector('option[value='+secondVal+']').setAttribute('disabled', 'true');
                	third.querySelector('option[value='+secondVal+']').setAttribute('disabled', 'true');
                }
                if(thirdVal != '') {
                	first.querySelector('option[value='+thirdVal+']').setAttribute('disabled', 'true');
                	second.querySelector('option[value='+thirdVal+']').setAttribute('disabled', 'true');
                }
                
                $('#first').niceSelect('update');
                $('#second').niceSelect('update');
                $('#third').niceSelect('update');
			}
			
			// disable 지우는 함수
			function delDisabled(selectElement) {
				let optionElements = selectElement.querySelectorAll('option');
				optionElements.forEach(function(optionElement) {
					optionElement.removeAttribute('disabled');
				});
			}
			
			let strDate = $('[name="lendStrDate"]');
			let endDate = $('[name="lendEndDate"]');
			
			// 합계 출력
			$(function() {
				getSumPrice();
			});
			
			function getSumPrice() {
				let start = new Date(strDate.val());
				let end = new Date(endDate.val());
				let startYear = start.getFullYear();
				let endYear = end.getFullYear();
				let diffTime = Math.abs(endYear - startYear);
				let diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
				if(isNaN(diffDays)) {
					$('#sumPrice').text('0원');
				} else {
					$('#sumPrice').text(priceToString(Number($('#price').val()) * Number(diffDays)) + '원');
				}
			}
			
			// 숫자 3자리마다 콤마 넣기
			function priceToString(price) {
				return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			}
			
			let boardNo = /*[[${flInfo.boardNo}]]*/;
			
			// 등록 버튼 클릭 시
			$('#saveBtn').on('click', function() {
				//데이터 입력 확인
				if (!$('[name="mcrpList"]').val()) {
					Swal.fire({
						icon : 'warning',
						title : '최소 하나의 주요 재배 작물을 선택하세요',
						confirmButtonText : "확인"
					})
					return;
				} else {
					let formData = $('#myForm').serializeObject();
					let list = [];
					if(typeof formData.mcrpList == 'string') {
						list.push(formData.mcrpList);
						formData.mcrpList = list;
					}
					$.ajax({
						url : "/update/farmLendUpdate",
						method : "POST",
						contentType : "application/json",
						data : JSON.stringify(formData)
					})
					.done(function(result) {
						if(result.result == true) {
							Swal.fire({
								icon : 'success',
								title : '수정되었습니다',
								confirmButtonText : "확인"
							})
							.then(function() {
								location.href = "/farmLendInfo?boardNo=" + boardNo;
							})
						} else {
							Swal.fire({
								icon : 'error',
								title : '수정하지못했습니다',
								confirmButtonText : "확인"
							})
						}
					})
					.fail(function(result) {
						Swal.fire({
							icon : 'error',
							title : '페이지 호출 오류',
							confirmButtonText : "확인"
						})
					})
				}
			});
			
			// 취소 버튼 클릭 시
			$('#cancel').on('click', function() {
				location.href = "/farmLendInfo?boardNo=" + boardNo;
			});
		</script>
	</div>
</body>
</html>