@charset "UTF-8";

.myMargin {
	margin-top: 50px;
	margin-bottom: 50px;
}

.myFontSizeMin {
	font-size: small;
}

.myInline {
	display: inline;
}
.myInlineBlock {
	display: inline-block;
}
.myRight {
	float: right;
}

.mySelect {
	font-weight: 900;
}
.myZeroMargin{
	margin: 0px;
}
.textLeft{
	text-align : left;
}