<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.farm.mapper.FarmLendMapper">
	
	<!-- 전체조회 -->
	<select id="selectFarmLendList" resultType="FarmLendVO">
		select f.frld_lend_no, f.zip, f.addr, f.deta_addr, f.area, f.lend_str_date, f.lend_end_date, f.lend_price, f.reg_date, f.reg_stts, f.lagt, f.mem_no, m.mcrp
		from farm_lend f left join main_crops m
		on f.frld_lend_no = m.frld_lend_no
		where f.reg_stts = 'e1'
		order by f.reg_date desc
	</select>
	
	<!-- 전체조회(페이징) -->
	<select id="selectFarmLendListPage" resultType="FarmLendVO">
		select b.*
		from (select ROWNUM rn, a.*
			  from (select f.frld_lend_no, f.zip, f.addr, f.deta_addr, f.area, f.lend_str_date, f.lend_end_date, f.lend_price, f.reg_date, f.reg_stts, f.legt, f.mem_no, m.mcrp
			  		from farm_lend f left join main_crops m
			  		on f.frld_lend_no = m.frld_lend_no
			  		<where>
			  			f.reg_stts = 'e1'
			  			<if test="addr != null and !addr.equals('') and !addr.equals('도')">
			  				and f.addr = #{addr}
			  			</if>
			  			<if test="daddr != null and !daddr.equals('') and !daddr.equals('시·군')">
			  				and f.deta_addr = #{daddr}
			  			</if>
			  			<if test="mcrp != null and !mcrp.equals('') and !mcrp.equals('작물 선택')">
			  				and m.mcrp = #{mcrp}
			  			</if>
			  			<if test="price != null and !price.equals('') and !price.equals('희망가 선택')">
			  				and f.lend_price = #{price}
			  			</if>
			  			<if test="area != null and !area.equals('') and !area.equals('면적 선택')">
			  				and f.area = #{area}
			  			</if>
			  		</where>
			  		) a
		<![CDATA[
			  where ROWNUM <= #{page} * 9) b
		where b.rn > (${page} -1) * 9
		]]>
	</select>
	
	<!-- 단건조회 -->
	<select id="selectFarmLendInfo" resultType="FarmLendVO">
		select f.frld_lend_no, f.zip, f.addr, f.deta_addr, f.area, f.desct, f.lend_str_date, f.lend_end_date, f.lend_price, f.atch_no, f.reg_date, f.reg_stts, f.lagt, f.mem_no, m.mcrp
		from farm_lend f left join main_crops m
		on f.frld_lend_no = m.frld_lend_no
		where f.frld_lend_no = #{frldLendNo}
	</select>
	
	<!-- 등록 -->
	<insert id="insertFarmLend" parameterType="FarmLendVO">
		<!-- 프로시저 호출 -->
	</insert>
	
	<!-- 수정 -->
	<update id="updateFarmLend" parameterType="FarmLendVO">
		<!-- 프로시저 호출 -->
	</update>
	
	<!-- 삭제 -->
	<update id="deleteFarmLend" parameterType="FarmLendVO">
		update farm_lend
		set reg_stts = 'e6'
		where frld_lend_no = #{frldLendNo}
	</update>
	
	<!-- 게시글 수 카운팅 -->
	<select id="getCount" resultType="int">
		select count(*)
		from farm_lend join main_crops
		on farm_lend.frld_lend_no = main_crops.frld_lend_no
		<where>
			reg_stts = 'e1'
			<if test="addr != null and !addr.equals('') and !addr.equals('도')">
				and f.addr = #{addr}
			</if>
			<if test="daddr != null and !daddr.equals('') and !daddr.equals('시·군')">
				and f.deta_addr = #{daddr}
			</if>
			<if test="mcrp != null and !mcrp.equals('') and !mcrp.equals('작물 선택')">
				and m.mcrp = #{mcrp}
			</if>
			<if test="price != null and !price.equals('') and !price.equals('희망가 선택')">
				and f.lend_price = #{price}
			</if>
			<if test="area != null and !area.equals('') and !area.equals('면적 선택')">
				and f.area = #{area}
			</if>
		</where>
	</select>
	
</mapper>