<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.farm.mapper.FarmLendMapper">
	
	<!-- 농지 대여 전체조회(페이징) -->
	<select id="selectFarmLendListPage" resultType="FarmLendVO">
		select c.*
		from (select ROWNUM rn, b.*
			  from (select d.*
      				from (select a.board_no, a.zip, a.addr, a.deta_addr, a.area, a.lend_str_date, a.lend_end_date, a.lend_price, a.reg_date, a.reg_stts, a.mem_no, a.dst1, a.dst2, LISTAGG(a.mcrp, ', ') WITHIN GROUP(ORDER BY a.mcrp) AS mcrp
						  from (select e.*, f.code_desct as mcrp
								from (select f.board_no, f.zip, f.addr, f.deta_addr, f.area, f.lend_str_date, f.lend_end_date, f.lend_price, f.reg_date, f.reg_stts, f.mem_no, f.dst1, f.dst2, m.mcrp as code
									  from farm_lend f left join main_crops m
									  on f.board_no = m.board_no
									  <include refid="criteria"></include>
									  ) e join common_code_detail f
	                      on e.code= f.CMMN_deta_code ) a
					group by a.board_no, a.zip, a.addr, a.deta_addr, a.area, a.lend_str_date, a.lend_end_date, a.lend_price, a.reg_date, a.reg_stts, a.mem_no, a.dst1, a.dst2
					) d
			  <if test="mcrp != null and !mcrp.equals('')">
				  where mcrp like (select '%'|| code_desct ||'%'
								   from common_code_detail
								   where cmmn_deta_code = #{mcrp})
			  </if>
			  order by reg_date desc) b
		<![CDATA[
			  where ROWNUM <= #{page} * 9) c
		where c.rn > (#{page} - 1) * 9
		]]>
	</select>
	
	<!-- 농지 대여 페이징 조건 -->
	<sql id="criteria">
	<where>
		f.reg_stts = 'e1'
		<if test="dst1 != null and !dst1.equals('')">
			and f.dst1 = #{dst1}
		</if>
		<if test="dst2 != null and !dst2.equals('')">
			and f.dst2 = #{dst2}
		</if>
		<if test="price != null and !price.equals('')">
			and f.lend_price between (select condition1
									  from common_code_detail
									  where cmmn_deta_code = #{price}) and (select condition2
						  										  			from common_code_detail
						  										  			where cmmn_deta_code = #{price}) 
		</if>
		<if test="area != null and !area.equals('')">
			and f.area between (select condition1
								from common_code_detail
						  		where cmmn_deta_code = #{area}) and (select condition2
																	 from common_code_detail
																	 where cmmn_deta_code = #{area}) 
		</if>
	</where>
	</sql>
	
	<!-- 단건조회 -->
	<select id="selectFarmLendInfo" resultType="FarmLendVO">
		select f.board_no, f.zip, f.addr, f.deta_addr, f.area, f.desct, f.lend_str_date, f.lend_end_date, f.lend_price, f.atch_no, f.reg_date, f.reg_stts, f.lati, f.longi, mem_no, LISTAGG(m.code_desct, ', ') WITHIN GROUP(ORDER BY m.mcrp) AS mcrp, member.nick
		from farm_lend f left join (select mc.mcrp, mc.board_no, cc.cmmn_deta_code, cc.code_desct, cc.cmmn_code_no, cc.condition1, cc.condition2
		                            from main_crops mc join common_code_detail cc
		                            on (mc.mcrp = cc.cmmn_deta_code)) m
		on f.board_no = m.board_no
		join member using(mem_no)
		where f.board_no = #{boardNo}
		group by f.board_no, f.zip, f.addr, f.deta_addr, f.area, f.desct, f.lend_str_date, f.lend_end_date, f.lend_price, f.atch_no, f.reg_date, f.reg_stts, f.lati, f.longi, mem_no, member.nick
	</select>
	
	<!-- 등록 -->
	<insert id="insertFarmLend" statementType="CALLABLE">
		<selectKey keyProperty="dst1" resultType="String" order="BEFORE">
			select cmmn_code_no
			from common_code_detail
			where cmmn_deta_code = find_common_code(#{dst2})
		</selectKey>
		call add_farmlend(
			#{files, typeHandler=com.yedam.app.farm.service.OracleArrayStructHandler},
			#{zip},
			#{addr},
			#{detaAddr},
			#{area},
			#{desct},
			#{lendStrDate},
			#{lendEndDate},
			#{lendPrice},
			'e1',
			#{memNo},
			#{dst1},
			#{dst2},
			#{lati},
			#{longi},
			#{mcrpList, typeHandler=com.yedam.app.farm.service.OracleArrayHandler}
		)
	</insert>
	
	<!-- 수정 -->
	<update id="updateFarmLend" statementType="CALLABLE">
		call update_farmlend(
			#{boardNo},
			#{desct},
			#{mcrpList, typeHandler=com.yedam.app.farm.service.OracleArrayHandler}
		)
	</update>
	
	<!-- 삭제 -->
	<update id="deleteFarmLend" statementType="CALLABLE">
		call delete_farmlend(
			#{boardNo}
		)
	</update>
	
	<!-- 게시글 수 카운팅 -->
	<select id="getCount" resultType="int">
		select count(*)
		from (select LISTAGG(m.mcrp, ',') WITHIN GROUP(ORDER BY m.mcrp) AS mcrp 
			  from farm_lend f join main_crops m
			  on f.board_no = m.board_no
			  <include refid="criteria"></include>
			  <if test="mcrp != null and !mcrp.equals('')">
				  and mcrp like '%${mcrp}%'
			  </if>
			  group by f.board_no
			 )
	</select>
	
	<!-- 농지 대여 신청(등록) -->
	<insert id="insertFarmLendApply" statementType="CALLABLE">
		call add_farmlend_apply(
			#{aplNo},
			#{memNo},
			#{boardNo},
			#{files, typeHandler=com.yedam.app.farm.service.OracleArrayStructHandler},
			#{aplDate}
		)
	</insert>
	
</mapper>