<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="javascript: login()">로그인</a>
  <a href="javascript: logout()">로그아웃</a>


  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script>
    window.Kakao.init("d7b5b77634c5eb957a63c797fb883dae")

    function login() {
      window.Kakao.Auth.login({
        scope: 'account_email',
        success: function (obj) {
          console.log(obj)
          window.Kakao.API.request({
            url: '/v2/user/me',
            success: res => {
              const kakao_account = res.kakao_account
              console.log(kakao_account);
            }
          })
        }
      })
    }

    function logout() {
      window.Kakao.Auth.logout({
        url: '/v1/user/logout',
        success(data){
          console.log(data)
        }
      })
    }
     
  </script>
</body>

</html>