<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.activity.mapper.BnbMapper">
	<!-- 전체조회-페이징 -->
	<select id="selectBnbList" resultType="BnbVO">
		select b.*
		from (select rownum rn, a.*
		from (select * from farmbnb
		<if test="dst1 != null and !dst1.equals('')">
			where dst1=#{dst1}
		</if>
		) a
			<![CDATA[
			WHERE rownum <= #{page} * 9) b
		WHERE b.rn > (#{page}-1) * 9
			]]>
		<choose>
			<when test="order.equals('최신순')">
				order by board_no desc
			</when>
			<when test="order.equals('낮은가격순')">
				order by price
			</when>
			<when test="order.equals('높은가격순')">
				order by price desc
			</when>
		</choose>
	</select>

	<select id="selectCount">
		select count(*)
		from farmbnb
		<if test="dst1 != null and !dst1.equals('')">
			where dst1=#{dst1}
		</if>
	</select>

	<select id="selectBnb" resultType="BnbVO">
		select * 
		from farmbnb f join 
			(select mem_no, name, id, email, zip, nick, addr, deta_addr, mbl
             from member natural join member_detail) m
		on f.mem_no = m.mem_no
		where board_no= #{boardNo}
	</select>

	<insert id="insertBnb" parameterType="BnbVO">
		<selectKey keyProperty="boardNo" resultType="String"
			order="BEFORE">
			select 'BNB' || LPAD(bnb_seq.nextval, 6, '0')
			from dual
		</selectKey>
		insert into farmbnb(
		board_no,
		MEM_NO,
		TITLE,
		DST1,
		ZIP,
		ADDR,
		ADDR_DETAIL,
		PRICE,
		REP,
		LEND_STR_DATE,
		LEND_END_DATE,
		DETA_DESCT,
		LATI,
		LONGI)
		values(#{boardNo},
		#{memNo},
		#{title},
		#{dst1},
		#{zip},
		#{addr},
		#{addrDetail},
		#{price},
		#{rep},
		#{lendStrDate},
		#{lendEndDate},
		#{detaDesct},
		#{lati},
		#{longi})
	</insert>

	<update id="updateBnb" parameterType="BnbVO">
		UPDATE farmbnb 
		<set>
		    price=#{price}
			<if test="rep != null and !rep.equals('')">
				,rep=#{rep}
			</if>
			<if test="lendStrDate != null and !lendStrDate.equals('')">
				,LEND_STR_DATE=#{lendStrDate}
			</if>
			<if test="lendEndDate != null and !lendEndDate.equals('')">
				,LEND_END_DATE=#{lendEndDate}
			</if>
			<if test="detaDesct != null and !detaDesct.equals('')">
				,DETA_DESCT=#{detaDesct}
			</if>
		</set>
		WHERE board_no = #{boardNo}
	</update>
	
	<delete id="deleteBnb" parameterType="String">
		delete from farmbnb
		where board_no= #{boardNo}
	</delete>

</mapper>

