<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.activity.mapper.BnbMapper">
	<resultMap type="BnbVO" id="review">
		<result property="boardNo" column="board_no" />
		<result property="memNo" column="mem_no" />
		<result property="title" column="title" />
		<result property="dst1" column="dst1" />
		<result property="zip" column="zip" />
		<result property="addr" column="addr" />
		<result property="price" column="price" />
		<result property="rep" column="rep" />
		<result property="lendStrDate" column="lend_str_date" />
		<result property="lendEndDate" column="lend_end_date" />
		<result property="detaDesct" column="deta_desct" />
		<result property="regDate" column="reg_date" />
		<result property="regStts" column="reg_stts" />
		<result property="lendStts" column="lend_stts" />
		<result property="addrDetail" column="addr_detail" />
		<result property="lati" column="lati" />
		<result property="longi" column="longi" />
		<association property="round" javaType="int"
			column="boardNo = board_no" select="getAverage">
		</association>
	</resultMap>

	<select id="getAverage" resultType="int">
		select round(NVL(sum(rate)/count(rate),0),0) as round
		from review
		where board_no = #{boardNo}
	</select>

	<!-- 전체조회-페이징 -->
	<select id="selectBnbList" resultMap="review">
		select b.*
		from (select rownum rn, a.*
		from (select * from farmbnb
		<if test="dst1 != null and !dst1.equals('')">
			where dst1=#{dst1}
		</if>
		) a
			<![CDATA[
			WHERE rownum <= #{page} * 9) b
		WHERE b.rn > (#{page}-1) * 9
			]]>
		<choose>
			<when test="order.equals('최신순')">
				order by board_no desc
			</when>
			<when test="order.equals('낮은가격순')">
				order by price
			</when>
			<when test="order.equals('높은가격순')">
				order by price desc
			</when>
		</choose>
	</select>

	<select id="selectCount">
		select count(*)
		from farmbnb
		<if test="dst1 != null and !dst1.equals('')">
			where dst1=#{dst1}
		</if>
	</select>

	<select id="selectBnb" resultType="BnbVO">
		select *
		from farmbnb f join
		(select mem_no, name, id, email, zip, nick,
		addr as mem_adr, deta_addr
		as mem_adrDeta, mbl
		from member natural join member_detail) m
		on
		f.mem_no = m.mem_no
		where
		board_no= #{boardNo}
	</select>

	<insert id="insertBnb" parameterType="BnbVO">
		<selectKey keyProperty="boardNo" resultType="String"
			order="BEFORE">
			select 'BNB' || LPAD(bnb_seq.nextval, 6, '0')
			from dual
		</selectKey>
		insert into farmbnb(
		board_no,
		MEM_NO,
		TITLE,
		DST1,
		ZIP,
		ADDR,
		ADDR_DETAIL,
		PRICE,
		REP,
		LEND_STR_DATE,
		LEND_END_DATE,
		DETA_DESCT,
		LATI,
		LONGI)
		values(#{boardNo},
		#{memNo},
		#{title},
		#{dst1},
		#{zip},
		#{addr},
		#{addrDetail},
		#{price},
		#{rep},
		#{lendStrDate},
		#{lendEndDate},
		#{detaDesct},
		#{lati},
		#{longi})
	</insert>

	<update id="updateBnb" parameterType="BnbVO">
		UPDATE farmbnb
		<set>
			price=#{price}
			<if test="rep != null and !rep.equals('')">
				,rep=#{rep}
			</if>
			<if test="lendStrDate != null and !lendStrDate.equals('')">
				,LEND_STR_DATE=#{lendStrDate}
			</if>
			<if test="lendEndDate != null and !lendEndDate.equals('')">
				,LEND_END_DATE=#{lendEndDate}
			</if>
			<if test="detaDesct != null and !detaDesct.equals('')">
				,DETA_DESCT=#{detaDesct}
			</if>
		</set>
		WHERE board_no = #{boardNo}
	</update>

	<delete id="deleteBnb" parameterType="String">
		delete from farmbnb
		where
		board_no= #{boardNo}
	</delete>

	<!-- 해당 날짜 예약 확인 -->
	<select id="rsvDateCheck" parameterType="String"
		resultType="String">
	<![CDATA[ 
	SELECT TO_CHAR(rsv_date, 'yyyy-fmmm-dd') rsv_date from(
        SELECT lend_str_date + (LEVEL) AS rsv_date
          FROM (SELECT CASE WHEN lend_str_date < TRUNC(sysdate) THEN sysdate
                       ELSE lend_str_date
                       END AS lend_str_date,
                       lend_end_date
                FROM farmbnb 
                WHERE board_no = #{boardNo})
        CONNECT BY LEVEL <= lend_end_date - lend_str_date + 1) a 
		WHERE EXISTS (SELECT qty
		              FROM payment_detail
		              WHERE a.rsv_date BETWEEN  rsv_str_date AND rsv_end_date
		              AND board_no = #{boardNo})
		]]>
	</select>
</mapper>

