<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.activity.mapper.ExpMapper">
	
	<!-- 전체조회 -->
	<select id="selectExpList" resultType="ExpVO">
		select frex_no, frex_title, zip, addr, dst1, dst2, ppt_per, ex_str_date, ex_end_date, reg_date, reg_stts
		from experience
		order by reg_date
	</select>
	
	<!-- 단건조회 -->
	<select id="selectExpInfo" resultType="ExpVO">
		select frex_no, mem_no, frex_title, rep, deta_desct, zip, addr, dst1, dst2, ppt_per, ex_str_date, ex_end_date, reg_date, reg_stts, lagt
		from experience
		where frex_no = #{frexNo}
	</select>
	
	<!-- 등록 -->
	<insert id="insertExp" parameterType="ExpVO">
		<selectKey keyProperty="frexNo" resultType="String" order="BEFORE">
			select 'EXP' || LPAD(frex_seq.nextval, 6, '0')
			from dual
		</selectKey>
		insert into experience(frex_no, frex_title, rep, deta_desct, zip, addr, dst1, dst2, ppt_per, ex_str_date, ex_end_date, reg_date, lagt)
		values(#{frexNO}, #{frexTitle}, #{rep}, #{detaDesct}, #{zip}, #{addr}, #{dst1}, #{dst2}, #{pptPer}, #{exStrDate}, #{exEndDate}, sysdate, #{lagt})
	</insert>
	
	<!-- 삭제 -->
	<delete id="deleteExp" parameterType="ExpVO">
		delete from experience
		where frex_no = #{frexNo}
	</delete>
	
	<!-- 게시글 수 카운팅 -->
	
</mapper>