<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<title>아이디/비밀번호 찾기</title>

</head>

<body>
	<div layout:fragment="content">
		<script src="/js/Vue3.3.4.js"></script>
		<script src="/js/vue3-sfc-loader.js"></script>
		<script src="/js/vue-load.js"></script>
		<div id="app" class="container">
        <div class="nav nav-tabs">
            <span @click="IdClick" :class="{ active: isId }" class="nav-link">아이디찾기</span>
            <span @click="pwClick" :class="{ active: isPw }" class="nav-link">비밀번호</span>
        </div>
			<my-id-found v-show="isId"></my-id-found>
			<my-pw-found v-show="isPw"></my-pw-found>
		</div>
		<script>
        const {
            createApp
        } = Vue

        createApp({
            components: {
                'my-id-found': Vue.defineAsyncComponent(() =>
                    loadModule('/Vue/login/idFound.vue', options)),
                'my-pw-found': Vue.defineAsyncComponent(() =>
                    loadModule('/Vue/login/pwFound.vue', options))
            },
            data(){
                return{
                    isId:true,
                    idPw:false
                }
            },
            methods:{
                IdClick(){
                    this.isId=true;
                    this.isPw=false;
                },
                pwClick(){
                    this.isId=false;
                    this.isPw=true;
                }
            }
        }).mount('#app')
    </script>
	</div>



</body>

</html>