<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.user.mapper.AdminMapper">
	<select id="selectMemberList" resultType="MemberVO">
		SELECT 	m.mem_no
				,id
				,email
				,nick
				,nvl(login_path,'일반') login_path
				,rpt_cnt
				,find_code_name(mem_grd) mem_grd
				,name
				,zip
				,addr
				,deta_addr
				,mbl
				,b_date
				,find_code_name(gen) gen
				,pnt
				,find_code_name (stts) stts
				,sign_date
				,prof
				,grd_atch_file
				,wdr_apl_date
				,blck_date
		FROM member m LEFT JOIN member_detail d 
		ON(m.mem_no=d.mem_no)
		WHERE NOT mem_grd =find_common_code('관리자')
		ORDER BY sign_date DESC
	</select>
	<select id="selectInqueryList" resultType="InquiryVO">
		SELECT   inq_no
		        ,mem_no
		        ,find_member_nick(mem_no) name
		        ,inq_title
		        ,find_code_name(inq_ctg) inq_ctg
		        ,inq_desct
		        ,find_code_name(repl_stts) repl_stts
		        ,inq_date
		        ,repl_desct
		        ,repl_date
		FROM inquiry
		<where>
			<if test="inqCtg !=null and inqCtg.equals('')">
				inq_ctg =find_common_code(#{inqCtg})
			</if>
			<if test="replStts !=null and replStts.equals('')">
				repl_stts =find_common_code(#{replStts})
			</if>
		</where>
		ORDER BY inq_no DESC
	</select>
	
	<update id="updateMember" statementType="CALLABLE">
		call update_mem_stts(
			#{list, typeHandler=com.yedam.app.user.service.OracleArrayMemHandler}
			)
	
	</update>
	
	
</mapper>