<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.user.mapper.AttachMapper">
	
	<!-- 전체조회 -->
	<select id="selectAttachInfo" resultType="AttachVO">
		select atch_file_no, mem_no, atch_file_name, upl_file_name, upl_date, board_no, atch_no
		from attachment
		where board_no = #{boardNo}
	</select>
	
</mapper>