<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yedam.app.user.mapper.MemberMapper">
 	<select id="selectMember"  resultType="MemberVO">
 		SELECT 	mem_no,
				id,
				pw,
				email,
				nick,
				login_path,
				rpt_cnt,
				mem_grd
		FROM member
		WHERE id= #{id}
 	</select>
 	<select id="selectId" resultType="String">
 		SELECT id
 		FROM member
 		WHERE id=#{id}
 	</select>
	<select id="selectNick" resultType="String">
 		SELECT nick
 		FROM member
 		WHERE nick=#{nick}
 	</select>
 	
 </mapper>