<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.user.mapper.MyPageMapper">
	<!-- 비밀번호 확인 -->
	<select id="checkPassword" parameterType="String"
		resultType="MemberVO">
		SELECT pw
		FROM member
		WHERE mem_no = #{memNo}
	</select>

	<!-- 회원정보 가져오기 -->
	<select id="getMemberInfo" parameterType="String"
		resultType="MemberVO">
		SELECT *
		FROM member LEFT JOIN member_detail
		USING (mem_no)
		WHERE mem_no = #{memNo}
	</select>

	<!-- 회원정보수정 프로시저 -->
	<select id="modifyMember" parameterType="MemberVO"
		resultType="MemberVO">
		{
		CALL modify_member(
		#{id, mode=IN , jdbcType=VARCHAR},
		#{pw, mode=IN , jdbcType=VARCHAR},
		#{name, mode=IN , jdbcType=VARCHAR},
		#{nick, mode=IN , jdbcType=VARCHAR},
		#{mbl, mode=IN ,	jdbcType=VARCHAR},
		#{email, mode=IN , jdbcType=VARCHAR},
		#{zip, mode=IN		, jdbcType=VARCHAR},
		#{addr, mode=IN , jdbcType=VARCHAR},
		#{detaAddr,		mode=IN , jdbcType=VARCHAR},
		#{bDate, mode=IN , jdbcType=DATE},
		#{gen,		mode=IN , jdbcType=VARCHAR}
		)

		}
	</select>

	<!-- 등업신청 -->
	<insert id="upgradeGrade" parameterType="AttachVO">
		INSERT INTO attachment
				(ATCH_FILE_NO,MEM_NO,ATCH_FILE_NAME,UPL_FILE_NAME,UPL_DATE,BOARD_NO)
		VALUES
				('ATCH'||LPAD(ATCH_NO_SEQ.NEXTVAL,13,0),
				#{memNo},
				#{atchFileName},
				#{uplFileName},
				sysdate,
				'grade'||LPAD(grade_seq.NEXTVAL,12,0))
	</insert>

	<!-- 포인트 내역 조회 -->
	<select id="pointHistory" parameterType="String" resultType="PointsVO">
		SELECT *
		FROM points
		WHERE mem_no = #{memNo}
		ORDER BY 1 DESC
	</select>

	<!-- 회원탈퇴 -->
	<update id="secession" parameterType="String">
		UPDATE member_detail
		SET
		stts = 'c1'
		WHERE mem_no = #{memNo}
	</update>

	<!-- 결제번호 조회 -->
	<select id="myPayNo" parameterType="String"
		resultType="PaymentVO">
		SELECT pay_no
		FROM payment
		WHERE mem_no = #{memNo}
	</select>

	<!-- 결제내역 프로시저 (pay_no로 조회) -->
	<select id="myPayList" statementType="CALLABLE"
		parameterType="PaymentVO" resultType="PaymentVO">
		{
		CALL myPayList(
		#{payNo, mode=IN, jdbcType=VARCHAR},
		#{boardCtg,mode=OUT , jdbcType=VARCHAR},
		#{totalPayPrice, mode=OUT ,jdbcType=VARCHAR},
		#{payMthd, mode=OUT ,jdbcType=VARCHAR},
		#{payDate,mode=OUT , jdbcType=DATE},
		#{boardNo,mode=OUT , jdbcType=VARCHAR},
		#{title, mode=OUT , jdbcType=VARCHAR},
		#{rep, mode=OUT ,jdbcType=VARCHAR},
		#{count, mode=OUT ,jdbcType=VARCHAR}
		)

		}
	</select>

	<update id="refund" parameterType="String">
		UPDATE payment_detail
        SET ship_stts = 
        (SELECT cmmn_deta_code
        FROM common_code_detail
        WHERE code_desct = '환불 완료')
        WHERE pay_no = #{payNo}
	</update>

	<!-- 문의내역 조회 -->
	<select id="myInquiry" parameterType="String"
		resultType="InquiryVO">
		SELECT *
		FROM (SELECT *
		FROM inquiry JOIN common_code_detail
		ON (inq_ctg = cmmn_deta_code)) JOIN
		(SELECT code_desct replCodeDesct, inq_no
		FROM inquiry JOIN common_code_detail
		ON (repl_stts = cmmn_deta_code))
		USING (inq_no)
		WHERE mem_no = #{memNo}
		ORDER BY 1 desc
	</select>

	<!-- 문의등록 -->
	<insert id="addInquiry" parameterType="InquiryVO">
		INSERT INTO inquiry
		(inq_no , mem_no , inq_title, inq_ctg , inq_desct,
		repl_stts, inq_date)
		VALUES (('inq'||LPAD(inquiry_seq.NEXTVAL,13,0)),
		#{memNo},#{inqTitle},#{inqCtg},#{inqDesct},'d0',sysdate)
	</insert>

	<!-- 문의상세조회 -->
	<select id="myInquiryInfo" parameterType="String"
		resultType="InquiryVO">
		SELECT *
		FROM inquiry JOIN member_detail USING (mem_no)
		WHERE inq_no = #{inqNo}
	</select>

	<!-- 알림리스트 조회 -->
	<select id="alertList" parameterType="String"
		resultType="AlertVO">
		SELECT *
		FROM alert
		WHERE mem_no = #{memNO}
		ORDER BY 1 desc
	</select>

	<!-- 상세 알림 조회 -->
	<select id="alertInfo" parameterType="String"
		resultType="AlertVO">
		SELECT *
		FROM alert
		WHERE alrt_no = #{alrtNo}
	</select>

	<!-- 알림 열람으로 변경 -->
	<update id="updateAlrtStts" parameterType="String">
		UPDATE alert
		SET
		alrt_stts = 'L0'
		WHERE alrt_no = #{alrt_no}
	</update>

	<!-- 농지대여 나의 등록 리스트 -->
	<select id="myFarmLendList" parameterType="String"
		resultType="FarmLendVO">
		SELECT *
		FROM farm_lend JOIN common_code_detail
		ON (reg_stts
		= cmmn_deta_code)
		WHERE mem_no = #{memNo}
		ORDER BY 1 DESC
	</select>

	<!-- 농지대여 나의 신청 리스트 -->
	<select id="subFarmLendList" parameterType="String"
		resultType="FarmLendApplyVO">
		SELECT *
		FROM (SELECT apl_no,
                     addr, 
                     deta_addr,
                     apl_date,
                     apl_stts,
                     a.mem_no
			  FROM (SELECT apl_no , 
			  			   FIND_CODE_NAME(apl_stts) apl_stts,
						   board_no, 
						   atch_no, 
						   apl_date, 
                           mem_no
					FROM farm_lend_apply ) a JOIN farm_lend b 
                    ON (a.board_no = b.board_no)) c
		JOIN member_detail d ON (c.mem_no = d.mem_no)
		WHERE d.mem_no = #{memNo}
		ORDER BY 1 DESC
	</select>

	<!-- 농지대여 resultMap -->
	<resultMap type="FarmLendVO" id="lendInfoResult">
		<result property="boardNo" column="board_no" />
		<result property="zip" column="zip" />
		<result property="addr" column="addr" />
		<result property="detaAddr" column="deta_addr" />
		<result property="area" column="area" />
		<result property="desct" column="desct" />
		<result property="lendStrDate" column="lend_str_date" />
		<result property="lendEndDate" column="lend_end_date" />
		<result property="lendPrice" column="lend_price" />
		<result property="atchNo" column="atch_no" />
		<result property="regDate" column="reg_date" />
		<result property="regStts" column="reg_stts" />
		<result property="lagt" column="lagt" />
		<result property="memNo" column="mem_no" />
		<result property="dst1" column="dst1" />
		<result property="dst2" column="dst2" />
		<collection property="applys" javaType="ArrayList"
			column="boardNo = board_no" ofType="FarmLendApplyVO"
			select="myFarmLendPeoList"></collection>
	</resultMap>
	
	<!-- 농지대여 신청 resultMap -->
	<resultMap type="FarmLendApplyVO" id="lendApplyInfoResult">
		<result property="aplNo" column="apl_no" />
		<result property="memNo" column="mem_no" />
		<result property="aplStts" column="apl_stts" />
		<result property="rsvStrDate" column="rsv_str_date" />
		<result property="rsvEndDate" column="rsv_end_date" />
		<result property="boardNo" column="board_no" />
		<result property="atchNo" column="atch_no" />
		<result property="lendTotal" column="lend_total" />
		<result property="aplDate" column="apl_date" />
		<result property="lendPrice" column="lend_price" />
		<result property="atchFileName" column="atch_file_name" />
		<result property="uplFileName" column="upl_file_name" />
		<result property="codeDesct" column="code_desct" />
		<result property="allPrice" column="all_price" />
		<result property="addr" column="addr" />
		<result property="detaAddr" column="deta_addr" />
		<result property="name" column="name" />
		<result property="mbl" column="mbl" />
		<collection property="attachList" javaType="ArrayList"
			column="atchNo = atch_no" ofType="AttachmentVO"
			select="myFarmLendAttach"></collection>
	</resultMap>
	
	<!-- 농지대여 신청 파일 -->
	<select id="myFarmLendAttach" resultType="AttachmentVO">
		SELECT *
		FROM attachment
		WHERE atch_no = #{atchNo}
	</select>

	<!-- 농지대여 상세 정보 (신청자 리스트 포함) -->
	<select id="myFarmLendInfo" resultMap="lendInfoResult">
		SELECT *
		FROM farm_lend
		WHERE board_no = #{boardNo}
		ORDER BY 1 DESC
	</select>

	<!-- 신청자 리스트 -->
	<select id="myFarmLendPeoList" resultMap="lendApplyInfoResult">
		SELECT *
		FROM (SELECT fa.APL_NO, 
		             fa.MEM_NO,    
		             FIND_CODE_NAME(fa.APL_STTS) apl_stts, 
		             fa.board_NO, 
		             fa.ATCH_NO, 
		             fa.APL_DATE
				FROM farm_lend_apply fa JOIN farm_lend f ON (fa.board_no = f.board_no))
		JOIN member_detail USING (mem_no)
		WHERE board_no = #{boardNo}
		ORDER BY 1 DESC
	</select>

	<!-- 농지대여 나의 신청 상세정보 -->
	<select id="mySubInfo" parameterType="String"
		resultType="FarmLendApplyVO">
	 SELECT *
		FROM (SELECT addr,
                     deta_addr,
                     atch_file_name,
                     apl_date,
                     a.mem_no,
                     apl_no,
                     apl_stts,
                     UPL_FILE_NAME
			  FROM (SELECT apl_no , 
			  			   FIND_CODE_NAME(apl_stts) apl_stts,
						   f.board_no, 
						   f.atch_no,
						   apl_date,
                           atch_file_name,
                           f.mem_no,
                           UPL_FILE_NAME
					FROM farm_lend_apply f LEFT JOIN attachment a ON (a.ATCH_NO = f.ATCH_NO)) a 
			  JOIN farm_lend b 
			  ON (a.board_no = b.board_no)) c
		JOIN member_detail d 
		ON (c.mem_no = d.mem_no)
		WHERE c.apl_no = #{aplNo}
		ORDER BY 1 DESC
	</select>

	<!-- 농지대여 나의 신청 취소 -->
	<delete id="deleteMyFarmSub" parameterType="String">
		DELETE
		farm_lend_apply
		WHERE apl_no = #{aplNo}
	</delete>
	
	<!-- 농지대여 신청 수락 및 전체 거절 처리 -->
	<select id="myFarmAplStts" parameterType="FarmLendApplyVO"
		resultType="FarmLendApplyVO">
		{
			CALL CHANGE_FRAMLEND_STTS(
				#{boardNo, mode=IN , jdbcType=VARCHAR},
				#{aplNo, mode=IN , jdbcType=VARCHAR}
			)
		}
	</select>
	
	<!-- 농지대여 신청 거절 -->
	<update id="updateApplyStts" parameterType="String">
		UPDATE farm_lend_apply
		SET apl_stts = 'e8'
		WHERE apl_no = #{aplNo}
	</update>
	
	<!-- 나의 경매장 등록 리스트 -->
	<select id="myActionList" parameterType="String" resultType="AuctionVO">
		SELECT board_no, rep , title , act_date, find_code_name(reg_stts) reg_stts
		FROM AUCTION JOIN member USING(mem_no)
		WHERE mem_no = #{memNo}
		ORDER BY 1 DESC
	</select>
	
	<!-- 나의 입찰 경매 리스트 -->
	<select id="myBidList" parameterType="String" resultType="AuctionVO">
		SELECT board_no, title, rep, act_date, find_code_name(reg_stts) reg_stts
		FROM (SELECT board_no
     		  FROM auction_apply
     		  WHERE mem_no = #{memNo})
		JOIN auction USING (board_no)
		GROUP BY board_no, title, rep, act_date, reg_stts
	</select>
	
	<!-- 나의 경매의 입찰 리스트 -->
	<select id="myAuctionBidList" parameterType="String" resultType="AuctionApplyVO">
		SELECT board_no, 
			   apl_no,
			   FIND_MEMBER_NICK(a.mem_no) nick,
			   a.mem_no memNo, 
			   price , 
			   title, 
			   FIND_CODE_NAME(sbid_stts) sbid_stts 
		FROM auction_apply a RIGHT JOIN auction b USING (board_no)
		WHERE board_no = #{boardNo}
		ORDER BY price DESC
	</select>
	
	<!-- 나의 펀딩 리스트 -->
	<select id="myFundingList" parameterType="String" resultType="FundingVO">
		SELECT board_no, 
			   mem_no , 
			   title, 
			   fnd_str_date , 
			   fnd_end_date , 
			   find_code_name(reg_stts) reg_stts
		FROM funding
		WHERE mem_no = #{memNo}
		ORDER BY 1 DESC
	</select>
	
	<!-- 나의 펀딩의 구매자 목록 -->
	<select id="myFundingPayList" parameterType="String" resultType="PaymentDetailVO">
		SELECT title, 
			   qty, 
			   pay_date, 
			   (qty * price) total_price, 
			   FIND_MEMBER_NICK(b.mem_no) nick, 
			   FIND_CODE_NAME(ship_stts) ship_stts,
			   pay_deta_no
		FROM (SELECT *
      		  FROM payment_detail RIGHT JOIN funding USING (board_no) 
      		  WHERE board_no =#{boardNo}) a
		LEFT JOIN payment b USING (pay_no)
	</select>
	
	<!-- 나의 농촌비앤비 리스트 -->
	<select id="myBnbList" parameterType="String" resultType="BnbVO">
		SELECT board_no,
			   title,
			   reg_date,
			   FIND_CODE_NAME(reg_stts) reg_stts
		FROM farmbnb
		WHERE mem_no = #{memNo}
		ORDER BY 1 DESC
	</select>
	
	<!-- 나의 농촌비앤이 예약자 리스트 -->
	<select id="myBnbRsvList" parameterType="String" resultType="PaymentDetailVO">
		SELECT title, 
			   qty, 
			   pay_date, 
			   (qty * price) total_price, 
			   FIND_MEMBER_NICK(b.mem_no) nick, 
			   FIND_CODE_NAME(ship_stts) ship_stts,
			   pay_deta_no,
               rsv_str_date,
               rsv_end_date
		FROM (SELECT title, qty, c.price, mem_no, ship_stts, pay_deta_no, pay_no,rsv_str_date, rsv_end_date
      		  FROM payment_detail c RIGHT JOIN farmbnb d USING (board_no) 
      		  WHERE board_no = #{boardNo}) a
		LEFT JOIN payment b USING (pay_no)
	</select>
	
	<!-- 나의 농작물 판매 리스트 -->
	<select id="myCropsSaleList" parameterType="String" resultType="CropsSaleVO">
		SELECT board_no, 
			   title, 
			   FIND_CODE_NAME(crp_ctg) crp_ctg, 
			   price, 
			   qty, 
			   reg_date, 
			   FIND_CODE_NAME(reg_stts) reg_stts
		FROM crops_sale
		WHERE mem_no = #{memNo}
		ORDER BY 1 DESC
	</select>
	
	<!-- 나의 농작물 구매자 리스트 -->
	<select id="myCropsPayList" parameterType="String" resultType="PaymentDetailVO">
		SELECT title, 
			   qty, 
			   pay_date, 
			   (qty * price) total_price, 
			   FIND_MEMBER_NICK(b.mem_no) nick, 
			   FIND_CODE_NAME(ship_stts) ship_stts,
			   pay_deta_no
		FROM (SELECT title, c.qty, c.price, mem_no, ship_stts, pay_deta_no, pay_no
      		  FROM payment_detail c RIGHT JOIN crops_sale d USING (board_no) 
      		  WHERE board_no = #{boardNo}) a
		LEFT JOIN payment b USING (pay_no)
	</select>
	
	<!-- 나의 전원마켓 리스트 -->
	<select id="myMarketList" parameterType="String" resultType="MarketVO">
		SELECT board_no, 
			   title,  
			   price, 
               qty, 
			   reg_date, 
			   FIND_CODE_NAME(reg_stts) reg_stts
		FROM market
		WHERE mem_no = #{memNo}
		ORDER BY 1 DESC
	</select>
	
	<!-- 나의 전원마켓 구매자 리스트 -->
	<select id="myMarketPayList" parameterType="String" resultType="PaymentDetailVO">
		SELECT title, 
			   qty, 
			   pay_date, 
			   (qty * price) total_price, 
			   FIND_MEMBER_NICK(b.mem_no) nick, 
			   FIND_CODE_NAME(ship_stts) ship_stts,
			   pay_deta_no
		FROM (SELECT title, c.qty, c.price, mem_no, ship_stts, pay_deta_no, pay_no
      		  FROM payment_detail c RIGHT JOIN market d USING (board_no) 
      		  WHERE board_no = #{boardNo}) a
		LEFT JOIN payment b USING (pay_no)
	</select>
	
	<!-- 나의 게시글 리스트 -->
	<select id="myBoardList" parameterType="String" resultType="BoardVO">
		SELECT board_no, 
			   title,  
			   FIND_CODE_NAME(post_ctg) post_ctg, 
               hit_count, 
			   wrt_date
		FROM board
		WHERE mem_no = #{memNo}
	</select>
	
	<!-- 모든 판매상품 리스트 -->
	<sql id="allSaleProduct">
    	WITH sale as (
    		  SELECT board_no,mem_no, null rep ,(addr || deta_addr) title FROM farm_lend 
              UNION ALL
              SELECT board_no,mem_no,rep,title FROM crops_sale
              UNION ALL
              SELECT board_no,mem_no,rep,title FROM funding
              UNION ALL
              SELECT board_no,mem_no,rep,title FROM market
              UNION ALL
              SELECT board_no,mem_no,rep,title FROM auction
              UNION ALL
              SELECT board_no,mem_no,rep,title FROM farmbnb
              )
	</sql>
	
	<!-- 나의 판매상품의 결제 리스트 -->
	<select id="mySalesPayList" parameterType="String" resultType="paymentDetailVO">
		<include refid="allSaleProduct"></include>
		   SELECT nick, 
			      mbl,
			      pay_deta_no, 
			      rep, 
			      title, 
			      board_ctg, 
			      ship_stts,
			      pay_date
			FROM (SELECT * 
			      FROM member JOIN member_detail USING (mem_no)) 
			      JOIN 
			     (SELECT pay_deta_no, 
			             rep, 
			             title,
			             d.mem_no,
			             board_no,
			             pay_no,
			             board_ctg, 
			             ship_stts,
			             pay_date
			      FROM payment p JOIN (SELECT pay_deta_no, 
			                                  rep, 
			                                  title,
			                                  mem_no,
			                                  board_no,
			                                  pay_no,
			                                  FIND_CODE_NAME(board_ctg) board_ctg, 
			                                  FIND_CODE_NAME(ship_stts) ship_stts
			                           FROM payment_detail JOIN sale USING (board_no)) d 
			                           USING (pay_no))  
			     USING (mem_no) 
			WHERE board_no IN (SELECT board_no 
			                   FROM sale 
			                   WHERE mem_no = #{memNo})
	</select>
	
	<!-- 나의 상품 결제용 with -->
	<sql id="saleProduct">
		WITH sale as (SELECT board_no, null rep ,(addr || deta_addr) title FROM farm_lend 
	              UNION ALL
	              SELECT board_no,rep,title FROM crops_sale
	              UNION ALL
	              SELECT board_no,rep,title FROM funding
	              UNION ALL
	              SELECT board_no,rep,title FROM market
	              UNION ALL
	              SELECT board_no,rep,title FROM auction
	              UNION ALL
	              SELECT board_no,rep,title FROM farmbnb
	              )
     </sql>
	
	<!-- 나의 상품의 결제 상세 내역 -->
	<select id="mySalesPayInfo" parameterType="String" resultType="PaymentDetailVO">
	<include refid="saleProduct"></include>
		SELECT nick, 
			   mbl, 
			   title, 
			   qty, 
			   price, 
			   (qty * price) total_price, 
			   pay_Date, 
			   rcv_addr, 
			   rcv_deta_addr, 
			   FIND_CODE_NAME(ship_stts) ship_stts,
			   zip, 
			   FIND_CODE_NAME(board_ctg) board_ctg,
			   rsv_str_date,
			   rsv_end_date,
			   pay_deta_no
		FROM  member_detail JOIN (SELECT * 
                          		  FROM member JOIN (SELECT *
                                            		FROM sale JOIN (SELECT *
                                                            		FROM payment_detail JOIN payment 
                                                            		USING (pay_no)) 
                                            		USING (board_no))
                          		  USING (mem_no)) 
		USING (mem_no)
		WHERE pay_deta_no = #{payDetaNo}
	</select>
	
	<!-- 내 상품의 배송 상태 변경 -->
	<update id="updateShipStts" parameterType="PaymentDetailVO">
		UPDATE payment_detail
		SET ship_stts = FIND_COMMON_CODE(#{shipStts})
		WHERE pay_deta_no = #{payDetaNo}
	</update>
</mapper>