<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.user.mapper.MyPageMapper">
	<!-- 비밀번호 확인 -->	
	<select id="checkPassword" parameterType="String" resultType="MemberVO">
		SELECT pw
		FROM member
		WHERE mem_no = #{memNo}
	</select>
	
	<!-- 회원정보 가져오기 -->
	<select id="getMemberInfo" parameterType="String" resultType="MemberVO">
		SELECT *
		FROM member JOIN member_detail 
		USING (mem_no)
		WHERE mem_no = #{memNo}
	</select>
	
	<!-- 회원정보수정 프로시저-->
	<select id="modifyMember" parameterType="MemberVO" resultType="MemberVO">
		{
		CALL modify_member(
		#{id, mode=IN , jdbcType=VARCHAR},
		#{pw, mode=IN , jdbcType=VARCHAR},
		#{name, mode=IN , jdbcType=VARCHAR},
		#{nick, mode=IN , jdbcType=VARCHAR},
		#{mbl, mode=IN , jdbcType=VARCHAR},
		#{email, mode=IN , jdbcType=VARCHAR},
		#{zip, mode=IN , jdbcType=VARCHAR},
		#{addr, mode=IN , jdbcType=VARCHAR},
		#{detaAddr, mode=IN , jdbcType=VARCHAR},
		#{bDate, mode=IN , jdbcType=DATE},
		#{gen, mode=IN , jdbcType=VARCHAR}
		)

		}
	</select>
	
	<!-- 등업신청 -->
	<insert id="upgradeGrade" parameterType="AttachVO">
		INSERT INTO attachment (ATCH_FILE_NO,MEM_NO,ATCH_FILE_NAME,UPL_FILE_NAME,UPL_DATE,BOARD_NO)
		VALUES ('ATCH'||LPAD(ATCH_NO_SEQ.NEXTVAL,13,0),#{memNo},#{atchFileName},#{uplFileName},sysdate,'grade'||LPAD(grade_seq.NEXTVAL,12,0))
	</insert>
	
	<!-- 포인트 내역 조회 -->
	<select id="pointHistory" parameterType="String" resultType="PointsVO">
		SELECT *
		FROM points
		WHERE mem_no = #{memNo}
	</select>
	
	<!-- 회원탈퇴 -->
	<update id="secession" parameterType="String">
		UPDATE member_detail
		SET stts = 'c1'
		WHERE mem_no = #{memNo}
	</update>
	
	<!-- 결제번호 조회 -->
	<select id="myPayNo" parameterType="String" resultType="PaymentVO">
	SELECT pay_no
	FROM payment
	WHERE mem_no = #{memNo}
	</select>
	
	<!-- 결제내역 프로시저 (pay_no로 조회) -->
	<select id="myPayList" statementType="CALLABLE"
		parameterType="PaymentVO" resultType="PaymentVO">
	{
		CALL myPayList(
		#{payNo, mode=IN , jdbcType=VARCHAR},
		#{boardCtg, mode=OUT , jdbcType=VARCHAR},
		#{totalPayPrice, mode=OUT , jdbcType=VARCHAR},
		#{payMthd, mode=OUT , jdbcType=VARCHAR},
		#{payDate, mode=OUT , jdbcType=DATE},
		#{boardNo, mode=OUT , jdbcType=VARCHAR},
		#{title, mode=OUT , jdbcType=VARCHAR},
		#{rep, mode=OUT , jdbcType=VARCHAR},
		#{count, mode=OUT , jdbcType=VARCHAR}
		)

		}
	</select>
	
	<!-- 문의내역 조회 -->
	<select id="myInquiry" parameterType="String" resultType="InquiryVO">
		SELECT *
		FROM inquiry
		WHERE mem_no = #{memNo}
		ORDER BY 1 desc
	</select>
	
	<!-- 문의등록 -->
	<insert id="addInquiry" parameterType="InquiryVO">
	INSERT INTO inquiry (inq_no , mem_no , inq_title, inq_ctg , inq_desct, repl_stts, inq_date)
	VALUES (('inq'||LPAD(inquiry_seq.NEXTVAL,13,0)), #{memNo},#{inqTitle},#{inqCtg},#{inqDesct},'b0',sysdate)
	</insert>
	
	<!-- 문의상세조회 -->
	<select id="myInquiryInfo" parameterType="String" resultType="InquiryVO">
		SELECT *
		FROM inquiry
		WHERE inq_no = #{inqNo}
	</select>
</mapper>