<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Male_Fashion Template">
	<meta name="keywords" content="Male_Fashion, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>upgrade</title>

	<!-- Css Styles -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">

	<!-- Js Plugins -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.nicescroll.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery.countdown.min.js"></script>
	<script src="/js/jquery.slicknav.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/json.min.js"></script>
	<!-- dataTable -->
	<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" type="text/css">
</head>

<body>
	<hr>
	<!-- Shop Details Section Begin -->
	<section class="shop-details">
		<div class="product__details__pic" style="background-color: white;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3>포인트 내역</h3>
						<hr>
					</div>
					<div class="col-lg-12">
						<table id="myTable">
							<thead>
								<tr>
									<th>사용일자</th>
									<th>분류</th>
									<th>포인트</th>
									<th>사용처</th>
									<th>반영포인트</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="point : ${points}">
									<td th:text="${#dates.format(point.useDate, 'yyyy/MM/dd')}"></td>
									<td th:text="${point.pntStts}"></td>
									<td th:text="${point.pnt}" th:style="${point.pntStts == '사용' ? 'color: red;' : 'color: blue;'}"></td>
									<td th:text="${point.pntRcrd}"></td>
									<td th:text="${point.leftPnt}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		// dataTables
		$(function () {
			$('#myTable').DataTable({
				language : lang_kor,
				order : [0, 'DESC']
			});
		})

		// 한글 설정
		var lang_kor = {
        "decimal" : "",
        "emptyTable" : "데이터가 없습니다.",
        "info" : "_START_ - _END_ (총 _TOTAL_ 개)",
        "infoEmpty" : "0명",
        "infoFiltered" : "(전체 _MAX_ 명 중 검색결과)",
        "infoPostFix" : "",
        "thousands" : ",",
        "lengthMenu" : "_MENU_ 개씩 보기",
        "loadingRecords" : "로딩중...",
        "processing" : "처리중...",
        "search" : "검색 : ",
        "zeroRecords" : "검색된 데이터가 없습니다.",
        "paginate" : {
            "first" : "첫 페이지",
            "last" : "마지막 페이지",
            "next" : "다음",
            "previous" : "이전"
        },
        "aria" : {
            "sortAscending" : " :  오름차순 정렬",
            "sortDescending" : " :  내림차순 정렬"
        }
    };

	</script>
</body>

</html>